USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_U]    Script Date: 2022-11-25 오후 5:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_U]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_ITEM			NVARCHAR(20),
	@P_NM_ITEM			NVARCHAR(200),
	@P_MAKER			NVARCHAR(2000),
	@P_NO_MODEL			NVARCHAR(2000),
	@P_UNIT				NVARCHAR(2000),
	@P_CD_DEPT			NVARCHAR(2000),
	@P_ID_UPDATE		NVARCHAR(5)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

UPDATE CZ_MA_CODEDTL
SET NM_SYSDEF = @P_NM_ITEM,
	CD_FLAG1 = @P_MAKER,
	CD_FLAG2 = @P_NO_MODEL,
	CD_FLAG3 = @P_UNIT,
	CD_FLAG4 = @P_CD_DEPT,
	ID_UPDATE = @P_ID_UPDATE,
	DTS_UPDATE = NEOE.SF_SYSDATE(GETDATE())
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_SYSDEF = @P_CD_ITEM
AND CD_FIELD = 'CZ_MM00003'