USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_S]    Script Date: 2022-12-02 오후 2:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_S]          
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_NM_ITEM			NVARCHAR(200),
	@P_NO_MODEL			NVARCHAR(200)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SELECT 
	'N' AS S
,	A.CD_COMPANY
,	A.CD_SYSDEF AS CD_ITEM
,	A.NM_SYSDEF AS NM_ITEM
,	A.CD_FLAG1  AS MAKER
,	A.CD_FLAG2  AS NO_MODEL
,	A.CD_FLAG3  AS UNIT
,	A.CD_FLAG4  AS CD_DEPT
,	B.NM_DEPT
FROM CZ_MA_CODEDTL A
LEFT JOIN MA_DEPT B ON A.CD_COMPANY = B.CD_COMPANY AND A.CD_FLAG4 = B.CD_DEPT
WHERE A.CD_COMPANY = @P_CD_COMPANY
AND A.CD_FIELD = 'CZ_MM00003'
AND A.YN_USE = 'Y'
AND  (ISNULL(@P_NM_ITEM,'') = '' OR A.NM_SYSDEF LIKE '%' + @P_NM_ITEM + '%')
AND  (ISNULL(@P_NO_MODEL,'') = '' OR A.CD_FLAG2 LIKE '%' + @P_NO_MODEL + '%')
ORDER BY A.NM_SYSDEF
