USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_I]    Script Date: 2022-11-25 오후 5:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_I]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_NM_ITEM			NVARCHAR(200),
	@P_MAKER			NVARCHAR(2000),
	@P_NO_MODEL			NVARCHAR(2000),
	@P_UNIT				NVARCHAR(2000),
	@P_CD_DEPT			NVARCHAR(2000),
	@P_ID_INSERT		NVARCHAR(5)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @CD_ITEM  NVARCHAR(3)
SET @CD_ITEM = (SELECT FORMAT(CONVERT(INT,MAX(CD_SYSDEF) + 1),'D3')
				FROM CZ_MA_CODEDTL
				WHERE CD_COMPANY = 'K100'
		 		AND CD_FIELD = 'CZ_MM00003')

INSERT INTO CZ_MA_CODEDTL
(
	CD_COMPANY,
	CD_FIELD,
	CD_SYSDEF,
	NM_SYSDEF,
	CD_FLAG1,
	CD_FLAG2,
	CD_FLAG3,
	CD_FLAG4,
	YN_USE,
	ID_INSERT,
	DTS_INSERT
)
VALUES
(
	@P_CD_COMPANY,
	'CZ_MM00003',
	@CD_ITEM,
	@P_NM_ITEM,
	@P_MAKER,
	@P_NO_MODEL,
	@P_UNIT,
	@P_CD_DEPT,
	'Y',
	@P_ID_INSERT,
	NEOE.SF_SYSDATE(GETDATE())
)