USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_D]    Script Date: 2022-11-25 오후 5:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_SUB_D]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_ITEM			NVARCHAR(20)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DELETE CZ_MA_CODEDTL
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_FIELD = 'CZ_MM00003'
AND CD_SYSDEF = @P_CD_ITEM