USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_MA_ITEMGP_SELECT]    Script Date: 2023-03-22 오후 1:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[UP_CZ_MA_ITEMGP_SELECT]  
(  
	@P_CD_COMPANY NVARCHAR(7),
	@P_FG_LANG     NVARCHAR(4) = NULL	--언어
)  
AS  
BEGIN
	-- MultiLang Call
	EXEC UP_MA_LOCAL_LANGUAGE @P_FG_LANG
  
	SELECT    
		A.CD_ITEMGRP,   
		A.NM_ITEMGRP,
		A.NM_ITEMGRP_L1,
		A.NM_ITEMGRP_L2,
		A.NM_ITEMGRP_L3,
		A.NM_ITEMGRP_L4,
		A.NM_ITEMGRP_L5,   
		A.HD_ITEMGRP,   
		MI.NM_ITEMGRP AS HD_ITEMGRPNM,   
		A.YN_TERM,   
		A.YN_PLANBOM,   
		A.DC_RMK,   
		A.USE_YN,  
		A.EN_ITEMGRP,  
		A.YN_COMMON,   
		A.TM_PEOPLEPERMONTH,  
		A.RT_PRODUCT,  
		A.AM_CONTRACTPERMONTH,
		A.CD_USERDEF1,   
		MP.LN_PARTNER AS NM_USERDEF1,
		A.NUM_USERDEF1,
		CASE WHEN ISNULL(A.TXT_USERDEF2,'') = '' THEN 'N' ELSE A.TXT_USERDEF2 END AS TXT_USERDEF2
	FROM MA_ITEMGRP A 
		LEFT JOIN DZSN_MA_PARTNER MP ON  MP.CD_COMPANY = A.CD_COMPANY AND MP.CD_PARTNER = A.CD_USERDEF1
		LEFT JOIN DZSN_MA_ITEMGRP MI ON MI.CD_COMPANY =  A.CD_COMPANY  AND  MI.CD_ITEMGRP = A.HD_ITEMGRP
	WHERE
		A.CD_COMPANY = @P_CD_COMPANY  
	ORDER BY A.CD_ITEMGRP ASC  

END