USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_MA_ITEMGP_INSERT]    Script Date: 2023-03-22 오후 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [NEOE].[UP_CZ_MA_ITEMGP_INSERT]      
(      
 @P_CD_ITEMGRP			NVARCHAR(20),      
 @P_CD_COMPANY			NVARCHAR(7),      
 @P_NM_ITEMGRP			NVARCHAR(50),      
 @P_HD_ITEMGRP			NVARCHAR(20),      
 @P_YN_TERM				NCHAR(1),      
 @P_DC_RMK				NVARCHAR(100),      
 @P_YN_PLANBOM			NCHAR(1),      
 @P_USE_YN				NCHAR(1),      
 @P_ID_INSERT			NVARCHAR(15),    
 @P_EN_ITEMGRP			NVARCHAR(50),    
 @P_YN_COMMON			CHAR(1)  = '',  -- 2011.04.01 공통여부 추가     
 @P_TM_PEOPLEPERMONTH	NUMERIC(17,4),  
 @P_RT_PRODUCT			NUMERIC(17,4),  
 @P_AM_CONTRACTPERMONTH	NUMERIC(17,4),
 @P_NM_ITEMGRP_L1		NVARCHAR(50),
 @P_NM_ITEMGRP_L2		NVARCHAR(50),
 @P_NM_ITEMGRP_L3		NVARCHAR(50),
 @P_NM_ITEMGRP_L4		NVARCHAR(50),
 @P_NM_ITEMGRP_L5		NVARCHAR(50),
 @P_CD_USERDEF1			NVARCHAR(50),
 @P_NUM_USERDEF1		NUMERIC(17,4),
 @P_TXT_USERDEF2		NCHAR(1)
)      
AS      
      
BEGIN  
       
 DECLARE @P_DTS_INSERT VARCHAR(14)      
 SET @P_DTS_INSERT = REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(20), GETDATE(), 120), '-',''), ' ', ''),':','')      
  
 INSERT INTO MA_ITEMGRP       
 (      
  CD_ITEMGRP,      
  CD_COMPANY,      
  NM_ITEMGRP,      
  HD_ITEMGRP,      
  YN_TERM,      
  DC_RMK,      
  YN_PLANBOM,      
  USE_YN,      
  ID_INSERT,      
  DTS_INSERT,    
  EN_ITEMGRP,    
  YN_COMMON,    -- 2011.04.01 공통 여부 추가      
  TM_PEOPLEPERMONTH,  
  RT_PRODUCT,  
  AM_CONTRACTPERMONTH,
  NM_ITEMGRP_L1,
  NM_ITEMGRP_L2,
  NM_ITEMGRP_L3,
  NM_ITEMGRP_L4,
  NM_ITEMGRP_L5,
  CD_USERDEF1,
  NUM_USERDEF1,
  TXT_USERDEF2
 )      
 VALUES      
 (      
  @P_CD_ITEMGRP,      
  @P_CD_COMPANY,      
  @P_NM_ITEMGRP,      
  @P_HD_ITEMGRP,      
  @P_YN_TERM,      
  @P_DC_RMK,      
  @P_YN_PLANBOM,      
  @P_USE_YN,      
  @P_ID_INSERT,      
  @P_DTS_INSERT,    
  @P_EN_ITEMGRP,    
  @P_YN_COMMON,    -- 2011.04.01 공통 여부 추가      
  @P_TM_PEOPLEPERMONTH,  
  @P_RT_PRODUCT,  
  @P_AM_CONTRACTPERMONTH,
  @P_NM_ITEMGRP_L1,
  @P_NM_ITEMGRP_L2,
  @P_NM_ITEMGRP_L3,
  @P_NM_ITEMGRP_L4,
  @P_NM_ITEMGRP_L5,
  @P_CD_USERDEF1,
  @P_NUM_USERDEF1,
  @P_TXT_USERDEF2
 )   
END