<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pur.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pur.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pur.Settings>
            <setting name="내역표시_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="내역표시" serializeAs="String">
                <value>모두</value>
            </setting>
            <setting name="내용표시_QTY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="내용표시_UM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="품목표시" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_내역표시구분" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_내역표시_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_품목표시구분" serializeAs="String">
                <value />
            </setting>
        </pur.Settings>
    </userSettings>
    <applicationSettings>
        <pur.Settings>
            <setting name="P_PU_IV_MNG_WebServiceCNP_LIVE_FI_CNPPurchaseRequest_providers_CNPPurchaseRequest_Provider"
                serializeAs="String">
                <value>http://165.244.237.222:5530/ws/FI.CNPPurchaseRequest.providers.CNPPurchaseRequest_Provider/FI_CNPPurchaseRequest_providers_CNPPurchaseRequest_Provider_Port</value>
            </setting>
        </pur.Settings>
    </applicationSettings>
</configuration>