USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_ASSEMBLING_COUNTING_SUB_JSON]    Script Date: 2022-12-26 오후 5:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PR_ASSEMBLING_COUNTING_SUB_JSON]          
(
	@P_JSON			NVARCHAR(MAX),
	@P_ID_USER		NVARCHAR(10)	
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

UPDATE WR
SET DTS_COUNTING = NEOE.SF_SYSDATE(GETDATE()),
	DTS_UPDATE = NEOE.SF_SYSDATE(GETDATE()),
	ID_UPDATE = @P_ID_USER
FROM CZ_PR_WO_REQ_D WR
JOIN OPENJSON(@P_JSON)
WITH
(
	CD_COMPANY		NVARCHAR(7),
	NO_WO			NVARCHAR(20),
	SEQ_WO			NUMERIC(5, 0),
	NO_ID			NVARCHAR(10),
	DTS_COUNTING	NVARCHAR(14),
	JSON_FLAG		NVARCHAR(1)
) JS
ON JS.CD_COMPANY = WR.CD_COMPANY AND JS.NO_WO = WR.NO_WO AND JS.SEQ_WO = WR.SEQ_WO AND JS.NO_ID = WR.NO_ID
WHERE JS.JSON_FLAG = 'I'


UPDATE WR
SET DTS_COUNTING = NULL,
	DTS_UPDATE = NEOE.SF_SYSDATE(GETDATE()),
	ID_UPDATE = @P_ID_USER
FROM CZ_PR_WO_REQ_D WR
JOIN OPENJSON(@P_JSON)
WITH
(
	CD_COMPANY		NVARCHAR(7),
	NO_WO			NVARCHAR(20),
	SEQ_WO			NUMERIC(5, 0),
	NO_ID			NVARCHAR(10),
	DTS_COUNTING	NVARCHAR(14),
	JSON_FLAG		NVARCHAR(1)
) JS
ON JS.CD_COMPANY = WR.CD_COMPANY AND JS.NO_WO = WR.NO_WO AND JS.SEQ_WO = WR.SEQ_WO AND JS.NO_ID = WR.NO_ID
WHERE JS.JSON_FLAG = 'D'
