USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_ASSEMBLING_COUNTING_SUB_S]    Script Date: 2022-12-27 오후 5:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PR_ASSEMBLING_COUNTING_SUB_S]          
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_ITEM			NVARCHAR(20),
	@P_YN_USE			NVARCHAR(1)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @V_QUERY	NVARCHAR(MAX)
DECLARE @V_QUERY_1	NVARCHAR(MAX)
DECLARE @V_QUERY_2	NVARCHAR(MAX)
DECLARE @V_QUERY_3	NVARCHAR(MAX)
DECLARE @V_QUERY_4	NVARCHAR(MAX)
DECLARE @V_QUERY_5	NVARCHAR(MAX)
DECLARE @V_QUERY_6	NVARCHAR(MAX)

SET @V_QUERY_1 = 'SELECT ''N'' AS S,
       WD.NO_WO,
       WD.SEQ_WO,
       WD.NO_ID,
       ISNULL(NULLIF(WD.NO_HEAT, ''''), WO.TXT_USERDEF1) AS NO_HEAT,
       (SELECT MAX(WI2.NO_HEAT) AS NO_HEAT 
        FROM CZ_PR_WO_INSP WI2 
        WHERE WI2.CD_COMPANY = WD.CD_COMPANY 
        AND WI2.NO_WO = WD.NO_WO  
        AND WI2.NO_INSP IN (0, 999, 995)
        AND WI2.SEQ_WO = WD.SEQ_WO) AS NO_LOT,
       SL.NO_SO,
	   WD.DTS_COUNTING
FROM PR_WO WO
LEFT JOIN CZ_PR_WO_REQ_D WD ON WD.CD_COMPANY = WO.CD_COMPANY AND WD.NO_WO = WO.NO_WO
LEFT JOIN CZ_PR_ASSEMBLING_SA_SOL SL ON SL.CD_COMPANY = WD.CD_COMPANY AND SL.NO_WO = WD.NO_WO AND SL.SEQ_WO = WD.SEQ_WO AND SL.NO_ID = WD.NO_ID
WHERE WD.CD_COMPANY = ''' + @P_CD_COMPANY + '''
AND WO.CD_ITEM = ''' + @P_CD_ITEM + '''
'

SET @V_QUERY_2 = 'SELECT
	''N'' AS S
,	NULL AS NO_WO
,	NULL AS SEQ_WO
,	IO.NO_ID
,	IO.NO_HEAT
,	IO.NO_LOT
,	SL.NO_SO
,	IO.DTS_COUNTING
FROM CZ_PR_ASSEMBLING_ID_OLD IO
LEFT JOIN CZ_PR_ASSEMBLING_SA_SOL SL ON SL.CD_COMPANY = IO.CD_COMPANY AND SL.NO_ID = IO.NO_ID
WHERE IO.CD_COMPANY = ''' + @P_CD_COMPANY + '''
AND IO.CD_ITEM = ''' + @P_CD_ITEM + '''
'

SET @V_QUERY_3 = 'SELECT
	''N'' AS S
,	NULL AS NO_WO
,	NULL AS SEQ_WO
,	IO.NO_ID
,	IO.NO_HEAT
,	IO.NO_LOT
,	SL.NO_SO
,	IO.DTS_COUNTING
FROM CZ_PR_MATCHING_ID_OLD IO
LEFT JOIN CZ_PR_ASSEMBLING_SA_SOL SL ON SL.CD_COMPANY = IO.CD_COMPANY AND SL.NO_ID = IO.NO_ID
WHERE IO.CD_COMPANY = ''' + @P_CD_COMPANY + '''
AND IO.CD_ITEM = ''' + @P_CD_ITEM + '''
'

SET @V_QUERY_4 = 'AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_MATCHING_DATA MD
                WHERE MD.CD_COMPANY = WD.CD_COMPANY 
                AND MD.NO_ID_C = WD.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_MATCHING_DEACTIVATE MD
                WHERE MD.CD_COMPANY = WO.CD_COMPANY
                AND MD.CD_PLANT = WO.CD_PLANT
                AND MD.NO_ID = WD.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_SA_SOL SL
                WHERE SL.CD_COMPANY = WO.CD_COMPANY
                AND SL.CD_PLANT = WO.CD_PLANT
                AND SL.NO_ID = WD.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_DATA AD
                WHERE AD.CD_COMPANY = WD.CD_COMPANY
                AND AD.CD_PLANT = WO.CD_PLANT
                AND AD.NO_ID_C = WD.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_DEACTIVATE MD
                WHERE MD.CD_COMPANY = WO.CD_COMPANY
                AND MD.CD_PLANT = WO.CD_PLANT
                AND MD.NO_ID = WD.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_SA_SOL SL
                WHERE SL.CD_COMPANY = WO.CD_COMPANY
                AND SL.CD_PLANT = WO.CD_PLANT
                AND SL.NO_ID = WD.NO_ID)
'

SET @V_QUERY_5 = 'AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_MATCHING_DATA MD
                WHERE MD.CD_COMPANY = IO.CD_COMPANY 
				AND MD.CD_PLANT = IO.CD_PLANT
                AND MD.NO_ID_C = IO.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_MATCHING_DEACTIVATE MD
                WHERE MD.CD_COMPANY = IO.CD_COMPANY
                AND MD.CD_PLANT = IO.CD_PLANT
                AND MD.NO_ID = IO.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_SA_SOL SL
                WHERE SL.CD_COMPANY = IO.CD_COMPANY
                AND SL.CD_PLANT = IO.CD_PLANT
                AND SL.NO_ID = IO.NO_ID)
'
SET @V_QUERY_6 = 'AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_DATA AD
                WHERE AD.CD_COMPANY = IO.CD_COMPANY
                AND AD.CD_PLANT = IO.CD_PLANT
                AND AD.NO_ID_C = IO.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_DEACTIVATE MD
                WHERE MD.CD_COMPANY = IO.CD_COMPANY
                AND MD.CD_PLANT = IO.CD_PLANT
                AND MD.NO_ID = IO.NO_ID)
AND NOT EXISTS (SELECT 1 
                FROM CZ_PR_ASSEMBLING_SA_SOL SL
                WHERE SL.CD_COMPANY = IO.CD_COMPANY
                AND SL.CD_PLANT = IO.CD_PLANT
                AND SL.NO_ID = IO.NO_ID)
'

IF @P_YN_USE = 'Y'
BEGIN
SET @V_QUERY = @V_QUERY_1 + @V_QUERY_4 + '
UNION ALL
' + @V_QUERY_2 + @V_QUERY_6 + '
UNION ALL
' + @V_QUERY_3 + @V_QUERY_5 + 'ORDER BY NO_ID'
END

IF @P_YN_USE = 'N'
BEGIN
SET @V_QUERY = @V_QUERY_1 + '
UNION ALL
' + @V_QUERY_2 + '
UNION ALL
' + @V_QUERY_3 + 'ORDER BY NO_ID'
END

PRINT @V_QUERY

EXEC SP_EXECUTESQL @V_QUERY