<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cz.관련도움창.P_CZ_PR_OPOUT_PO_WORK_SUB.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cz.관련도움창.P_CZ_PR_OPOUT_PO_WORK_SUB.Settings1>
            <setting name="Wo_DcRmk_Apply_YN" serializeAs="String">
                <value>False</value>
            </setting>
        </cz.관련도움창.P_CZ_PR_OPOUT_PO_WORK_SUB.Settings1>
    </userSettings>
</configuration>