<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cz.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cz.Settings1>
            <setting name="발주상태" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="입고상태" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="의뢰상태" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="출고상태" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="매출상태" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="마감상태" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="무상공급제외" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="자동제출" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="비용제외" serializeAs="String">
                <value>False</value>
            </setting>
        </cz.Settings1>
    </userSettings>
</configuration>