USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PU_PO_ITEM_GRP_RPT_L_S]    Script Date: 2023-06-07 오후 3:15:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PU_PO_ITEM_GRP_RPT_L_S]
(  
    @P_CD_COMPANY       NVARCHAR(7),
	@P_NO_PO			NVARCHAR(20)
)  
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SELECT 
	PH.CD_COMPANY
,	PH.CD_PLANT
,	PH.NO_PO
,	PL.NO_LINE
,	PH.DT_PO
,	PH.CD_PARTNER
,	MP.LN_PARTNER
,	PL.CD_ITEM
,	MI.STND_ITEM
,	MI.NM_ITEM
,	MI.NO_DESIGN
,	PL.QT_PO
,	PL.QT_RCV
,	PL.DT_LIMIT
,	PL.DT_PLAN
FROM PU_POH PH
JOIN PU_POL PL ON PL.CD_COMPANY = PH.CD_COMPANY AND PL.CD_PLANT = PH.CD_PLANT AND PL.NO_PO = PH.NO_PO
JOIN DZSN_MA_PITEM MI ON MI.CD_COMPANY = PL.CD_COMPANY AND MI.CD_PLANT = PL.CD_PLANT AND MI.CD_ITEM = PL.CD_ITEM
LEFT JOIN DZSN_MA_PARTNER MP ON MP.CD_COMPANY = PH.CD_COMPANY AND MP.CD_PARTNER = PH.CD_PARTNER
WHERE PL.CD_COMPANY = @P_CD_COMPANY
AND PL.NO_PO = @P_NO_PO
ORDER BY PL.NO_LINE