USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PU_PO_ITEM_GRP_RPT_COLUMNS_S]    Script Date: 2023-06-19 오후 2:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PU_PO_ITEM_GRP_RPT_COLUMNS_S]
(  
    @P_CD_COMPANY       NVARCHAR(7),
	@P_ITEM_GRP			NVARCHAR(7),
	@P_NO_OPPATH		NVARCHAR(3)
)  
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

CREATE TABLE #ITEM_GRP
(
	CD_COMPANY	NVARCHAR(7),
	CD_ITEMGRP	NVARCHAR(20),
	NM_ITEMGRP	NVARCHAR(50)
)

CREATE NONCLUSTERED INDEX ITEM_GRP ON #ITEM_GRP (CD_COMPANY, CD_ITEMGRP)

CREATE TABLE #BOM
(
	CD_COMPANY	NVARCHAR(7), 
	CD_PLANT	NVARCHAR(7), 
	CD_ITEM_T	NVARCHAR(20), 
	CD_ITEM		NVARCHAR(20), 
	CD_MATL		NVARCHAR(20), 
	LEVEL		INT, 
	PATH		NVARCHAR(100), 
	QT			NUMERIC(25, 10)
)

CREATE NONCLUSTERED INDEX BOM ON #BOM (CD_COMPANY, CD_PLANT, CD_ITEM_T)

;WITH ITEM_GRP
(
	CD_COMPANY,
	CD_ITEMGRP,
	NM_ITEMGRP,
    HD_ITEMGRP,
	LEVEL,
	PATH,
	TXT_USERDEF2
)
AS
(
	SELECT IG.CD_COMPANY,
		   IG.CD_ITEMGRP,
	       IG.NM_ITEMGRP,
		   IG.HD_ITEMGRP,
		   LEVEL = 1,
		   CONVERT(VARCHAR(1000), IG.CD_ITEMGRP) AS PATH,
		   IG.TXT_USERDEF2
	FROM MA_ITEMGRP IG
	WHERE IG.CD_COMPANY = @P_CD_COMPANY
	AND IG.CD_ITEMGRP = @P_ITEM_GRP
	UNION ALL
	SELECT IG1.CD_COMPANY,
		   IG1.CD_ITEMGRP,
	       IG1.NM_ITEMGRP,
		   IG1.HD_ITEMGRP,
		   LEVEL + 1, 
		   CONVERT(VARCHAR(1000), PATH + ' -> ' + IG1.CD_ITEMGRP) AS PATH,
		   IG1.TXT_USERDEF2
	FROM ITEM_GRP IG
	JOIN MA_ITEMGRP IG1 ON IG1.CD_COMPANY = IG.CD_COMPANY AND IG1.HD_ITEMGRP = IG.CD_ITEMGRP
)
INSERT INTO #ITEM_GRP
(
	CD_COMPANY,
	CD_ITEMGRP,
	NM_ITEMGRP
)
SELECT CD_COMPANY,
	   CD_ITEMGRP,
	   NM_ITEMGRP
FROM ITEM_GRP
WHERE TXT_USERDEF2 = 'Y'

;WITH A 
(
	CD_COMPANY, 
	CD_PLANT, 
	CD_ITEM_T, 
	CD_ITEM, 
	CD_MATL, 
	LEVEL, 
	PATH, 
	QT,
	TP_PROC
)
AS
(
	SELECT PB.CD_COMPANY,
		   PB.CD_PLANT,
		   PB.CD_ITEM AS CD_ITEM_T,
		   PB.CD_ITEM, 
		   PB.CD_MATL, 
		   LEVEL = 1, 
		   CONVERT(VARCHAR(1000), PB.CD_MATL),
		   PB1.QT_ITEM_NET,
		   MI.TP_PROC
    FROM PR_ROUT_ASN PB
	JOIN PR_BOM PB1 ON PB1.CD_COMPANY = PB.CD_COMPANY AND PB1.CD_PLANT = PB.CD_PLANT AND PB1.CD_ITEM = PB.CD_ITEM AND PB1.CD_MATL = PB.CD_MATL AND PB1.DT_END >= CONVERT(CHAR(8), GETDATE(), 112)
	JOIN MA_PITEM MI ON MI.CD_COMPANY = PB.CD_COMPANY AND MI.CD_PLANT = PB.CD_PLANT AND MI.CD_ITEM = PB.CD_MATL AND ISNULL(MI.YN_USE, 'N') = 'Y'
	WHERE PB.CD_COMPANY = @P_CD_COMPANY
	AND PB.NO_OPPATH = @P_NO_OPPATH
	AND EXISTS (SELECT 1 
		FROM PR_ROUT_L RL
		WHERE RL.CD_COMPANY = PB.CD_COMPANY
		AND RL.CD_PLANT = PB.CD_PLANT
		AND RL.CD_ITEM = PB.CD_ITEM
		AND RL.NO_OPPATH = PB.NO_OPPATH
		AND RL.TP_OPPATH = PB.TP_OPPATH
		AND RL.CD_OP = PB.CD_OP
			    AND RL.YN_USE = 'Y')
	UNION ALL
	SELECT BM.CD_COMPANY,
		   BM.CD_PLANT,
		   BM.CD_ITEM_T,
		   PB.CD_ITEM, 
		   PB.CD_MATL, 
		   LEVEL + 1, 
		   CONVERT(VARCHAR(1000), PATH + ' -> ' + PB.CD_MATL),
		   PB1.QT_ITEM_NET,
		   MI.TP_PROC
	FROM A BM
	JOIN PR_ROUT_ASN PB ON PB.CD_ITEM = BM.CD_MATL AND PB.NO_OPPATH = @P_NO_OPPATH
	JOIN PR_BOM PB1 ON PB1.CD_COMPANY = PB.CD_COMPANY AND PB1.CD_PLANT = PB.CD_PLANT AND PB1.CD_ITEM = PB.CD_ITEM AND PB1.CD_MATL = PB.CD_MATL AND PB1.DT_END >= CONVERT(CHAR(8), GETDATE(), 112)
	JOIN MA_PITEM MI ON MI.CD_COMPANY = PB.CD_COMPANY AND MI.CD_PLANT = PB.CD_PLANT AND MI.CD_ITEM = PB.CD_MATL AND ISNULL(MI.YN_USE, 'N') = 'Y'
	WHERE EXISTS (SELECT 1 
		  FROM PR_ROUT_L RL
		  WHERE RL.CD_COMPANY = PB.CD_COMPANY
		  AND RL.CD_PLANT = PB.CD_PLANT
		  AND RL.CD_ITEM = PB.CD_ITEM
		  AND RL.NO_OPPATH = PB.NO_OPPATH
		  AND RL.TP_OPPATH = PB.TP_OPPATH
		  AND RL.CD_OP = PB.CD_OP
			      AND RL.YN_USE = 'Y')
)
INSERT INTO #BOM
SELECT CD_COMPANY, 
	   CD_PLANT, 
	   CD_ITEM_T, 
	   CD_ITEM, 
	   CD_MATL, 
	   LEVEL, 
	   PATH, 
	   QT
FROM A
WHERE TP_PROC = 'P'
UNION ALL
SELECT 
	MI.CD_COMPANY
,	MI.CD_PLANT
,	MI.CD_ITEM AS CD_ITEM_T
,	MI.CD_ITEM
,	MI.CD_ITEM AS CD_MATL
,	1 AS LEVEL
,	MI.CD_ITEM AS PATH
,	1 AS QT
FROM MA_PITEM MI
WHERE MI.CD_COMPANY = @P_CD_COMPANY
AND MI.TP_PROC = 'P'

;WITH A AS
(
    SELECT BM.CD_COMPANY, BM.CD_ITEM_T, MI.GRP_ITEM,
           ROW_NUMBER() OVER (PARTITION BY BM.CD_ITEM_T, MI.GRP_ITEM ORDER BY BM.CD_MATL) AS IDX
    FROM #BOM BM
    LEFT JOIN MA_PITEM MI ON MI.CD_COMPANY = BM.CD_COMPANY AND MI.CD_PLANT = BM.CD_PLANT AND MI.CD_ITEM = BM.CD_MATL 
),
B AS
(
    SELECT A.CD_ITEM_T, 
           (CASE WHEN A.IDX > 1 THEN A.GRP_ITEM + '_' + CONVERT(NVARCHAR, A.IDX - 1) ELSE A.GRP_ITEM END) AS GRP_ITEM,
           (CASE WHEN A.IDX > 1 THEN IG.NM_ITEMGRP + '_' + CONVERT(NVARCHAR, A.IDX - 1) ELSE IG.NM_ITEMGRP END) AS NM_ITEMGRP
    FROM A
    JOIN #ITEM_GRP IG ON IG.CD_COMPANY = A.CD_COMPANY AND IG.CD_ITEMGRP = A.GRP_ITEM 
)
SELECT B.GRP_ITEM, B.NM_ITEMGRP 
FROM B
GROUP BY B.GRP_ITEM, B.NM_ITEMGRP
ORDER BY B.GRP_ITEM

DROP TABLE #ITEM_GRP
DROP TABLE #BOM