USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PU_PO_ITEM_GRP_RPT_S]    Script Date: 2023-06-30 오전 9:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PU_PO_ITEM_GRP_RPT_S]
(  
    @P_CD_COMPANY       NVARCHAR(7),
	@P_ITEM_GRP			NVARCHAR(7),
	@P_NO_SO			NVARCHAR(20),
	@P_CD_PARTNER		NVARCHAR(20),
	@P_DT_FROM			NVARCHAR(8),
	@P_DT_TO			NVARCHAR(8),
	@P_NO_DESIGN		NVARCHAR(20),
	@P_YN_EX_GI			NVARCHAR(1),
	@P_NO_OPPATH		NVARCHAR(3),
	@P_YN_EX_CLOSE		NVARCHAR(1),
	@P_YN_EX_GIR		NVARCHAR(1)
)  
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

CREATE TABLE #ITEM_GRP
(
	CD_COMPANY	NVARCHAR(7),
	CD_ITEMGRP	NVARCHAR(20),
	NM_ITEMGRP	NVARCHAR(50)
)

CREATE NONCLUSTERED INDEX ITEM_GRP ON #ITEM_GRP (CD_COMPANY, CD_ITEMGRP, NM_ITEMGRP)

CREATE TABLE #MBOM
(
	CD_COMPANY	NVARCHAR(7), 
	CD_PLANT	NVARCHAR(7), 
	CD_ITEM_T	NVARCHAR(20), 
	CD_ITEM		NVARCHAR(20), 
	CD_MATL		NVARCHAR(20), 
	LEVEL		INT, 
	PATH		NVARCHAR(100), 
	QT			NUMERIC(25, 10)
)

CREATE NONCLUSTERED INDEX MBOM ON #MBOM (CD_COMPANY, CD_PLANT, CD_ITEM_T)

CREATE TABLE #PBOM
(
	CD_COMPANY	NVARCHAR(7), 
	CD_PLANT	NVARCHAR(7), 
	CD_ITEM_T	NVARCHAR(20), 
	CD_ITEM		NVARCHAR(20), 
	CD_MATL		NVARCHAR(20), 
	LEVEL		INT, 
	PATH		NVARCHAR(100), 
	QT			NUMERIC(25, 10)
)

CREATE NONCLUSTERED INDEX PBOM ON #PBOM (CD_COMPANY, CD_PLANT, CD_ITEM_T)

CREATE TABLE #재고사용
(
	CD_COMPANY	NVARCHAR(7),
	CD_PLANT	NVARCHAR(7),
	NO_SO		NVARCHAR(20),
	SEQ_SO		NUMERIC(5, 0),
	CD_ITEM		NVARCHAR(20),
	CD_GRSL		NVARCHAR(7),
	QT_APPLY	NUMERIC(17, 4)
)

CREATE NONCLUSTERED INDEX 재고사용 ON #재고사용 (CD_COMPANY, CD_PLANT, NO_SO, SEQ_SO, CD_ITEM)

CREATE TABLE #수주별생산
(
	CD_COMPANY	NVARCHAR(7),
	CD_PLANT	NVARCHAR(7),
	NO_SO		NVARCHAR(20),
	SEQ_SO		NUMERIC(5, 0),
	DT_DUEDATE	NVARCHAR(8),
	CD_ITEM_T	NVARCHAR(20),
	CD_MATL		NVARCHAR(20),
	QT_SO		NUMERIC(17, 4),
	QT_APPLY	NUMERIC(17, 4)
)

CREATE NONCLUSTERED INDEX 수주별생산 ON #수주별생산 (CD_COMPANY, CD_PLANT, NO_SO, SEQ_SO, CD_MATL)

CREATE TABLE #SA_SOL
(
    CD_COMPANY	    NVARCHAR(7),
	NO_SO		    NVARCHAR(20),
    SEQ_SO          NUMERIC(5, 0),
    TXT_USERDEF6    NVARCHAR(100),
    TXT_USERDEF7    NVARCHAR(100),
    NO_PO_PARTNER   NVARCHAR(50),
    QT_SO           NUMERIC(17, 4),
    AM_WONAMT       NUMERIC(17, 4),
    CD_USERDEF1     NVARCHAR(4),
    DT_EXPECT       NVARCHAR(8),
    DT_DUEDATE      NVARCHAR(8),
    DT_REQGI        NVARCHAR(8),
    TXT_USERDEF5    NVARCHAR(100),
    TXT_USERDEF10   NVARCHAR(100),
    DC1             NVARCHAR(200),
    QT_GIR          NUMERIC(17, 4),
    QT_GI           NUMERIC(17, 4),
    CD_PLANT        NVARCHAR(7),
    CD_ITEM         NVARCHAR(20),
    CD_USERDEF3     NVARCHAR(3)
)

CREATE NONCLUSTERED INDEX SA_SOL ON #SA_SOL (CD_COMPANY, NO_SO, SEQ_SO)

CREATE TABLE #발주
(
	NO_PO		NVARCHAR(20),
	NO_LINE		NUMERIC(5,0),
	DT_LIMIT	NVARCHAR(8),
	CD_ITEM		NVARCHAR(20),
	NUM_ORDER	NUMERIC(17, 4),
	QT_REMAIN	NUMERIC(17, 4)
)

CREATE NONCLUSTERED INDEX 발주 ON #발주 (NO_PO, NO_LINE, CD_ITEM)

CREATE TABLE #요청
(
	NO_PR		NVARCHAR(20),
	NO_LINE		NUMERIC(5,0),
	DT_PR		NVARCHAR(8),
	CD_ITEM		NVARCHAR(20),
	NUM_ORDER	NUMERIC(17, 4),
	QT_REMAIN	NUMERIC(17, 4)
)

CREATE NONCLUSTERED INDEX 요청 ON #요청 (NO_PR, NO_LINE, CD_ITEM)

CREATE TABLE #재고수량
(
	CD_ITEM		NVARCHAR(20),
	NM_SL		NVARCHAR(20),
	DT_LIMIT	NVARCHAR(8),
	NUM_ORDER	NUMERIC(17,4),
	QT_INV		NUMERIC(17,4)
)

CREATE NONCLUSTERED INDEX 재고수량 ON #재고수량(NM_SL, CD_ITEM)

CREATE TABLE #수주잔량
(
	CD_COMPANY  NVARCHAR(7),
	CD_PLANT	NVARCHAR(7),
	NO_SO		NVARCHAR(20),
	SEQ_SO		NUMERIC(5, 0),
	DT_DUEDATE	NVARCHAR(8),
	CD_MATL		NVARCHAR(20),
	QT_REMAIN	NUMERIC(17, 4),
    NUM_ORDER   INT
)

CREATE NONCLUSTERED INDEX 수주잔량 ON #수주잔량 (NO_SO, SEQ_SO, CD_MATL)

CREATE TABLE #PU_INV
(
	CD_COMPANY		NVARCHAR(20),
	CD_PLANT		NVARCHAR(20),
	NO_SO			NVARCHAR(20),
	NO_LINE			NUMERIC(5,0),
	DC_RMK			NVARCHAR(200),
	CD_ITEM			NVARCHAR(20),
	DT_LIMIT		NVARCHAR(8),
	QT_APPLY		NUMERIC(17,4)
)
CREATE NONCLUSTERED INDEX PU_INV ON #PU_INV(NO_SO, CD_ITEM)

CREATE TABLE #재고사용자재
(
	CD_COMPANY		NVARCHAR(20),
	CD_PLANT		NVARCHAR(20),
	NO_SO			NVARCHAR(20),
	NO_LINE			NUMERIC(5,0),
	DC_RMK			NVARCHAR(200),
	CD_ITEM			NVARCHAR(20),
	DT_LIMIT		NVARCHAR(8),
	QT_APPLY		NUMERIC(17,4),
	QT_REMAIN		NUMERIC(17,4)
)
CREATE NONCLUSTERED INDEX 재고사용자재 ON #재고사용자재(NO_SO, CD_ITEM)

CREATE TABLE #TEMP
(
	CD_COMPANY		NVARCHAR(20),
	CD_PLANT		NVARCHAR(20),
	NO_SO			NVARCHAR(20),
	DT_SO			NVARCHAR(8),
	DC_RMK1			NVARCHAR(100),
	SEQ_SO			NUMERIC(5,0),
	CD_PARTNER		NVARCHAR(20),
	NO_PO_PARTNER	NVARCHAR(100),
	QT_SO			NUMERIC(17,4),
	AM_WONAMT		NUMERIC(17,4),
	DT_EXPECT		NVARCHAR(8),
	DT_DUEDATE		NVARCHAR(8),
	DT_REQGI		NVARCHAR(8),
	TXT_USERDEF5	NVARCHAR(100),
	TXT_USERDEF6	NVARCHAR(100),
	TXT_USERDEF7	NVARCHAR(100),
	CD_USERDEF1		NVARCHAR(20),
	DC1				NVARCHAR(100),
	TXT_USERDEF10	NVARCHAR(100),
	CD_ITEM			NVARCHAR(20),
	NM_ITEM			NVARCHAR(100),
	NO_DESIGN1		NVARCHAR(20),	
	NO_DESIGN		NVARCHAR(20),	
	STND_ITEM		NVARCHAR(100),	
	GRP_ITEM		NVARCHAR(20),
	CD_USERDEF3		NVARCHAR(20),	
	CD_MATL			NVARCHAR(20),
	QT_GIR			NUMERIC(17,4),
	QT_GI			NUMERIC(17,4),
	STA_SO			NVARCHAR(3)
)

CREATE NONCLUSTERED INDEX TEMP ON #TEMP(CD_COMPANY, CD_PLANT, NO_SO, SEQ_SO, CD_ITEM)

;WITH ITEM_GRP
(
	CD_COMPANY,
	CD_ITEMGRP,
	NM_ITEMGRP,
    HD_ITEMGRP,
	LEVEL,
	PATH
)
AS
(
	SELECT IG.CD_COMPANY,
		   IG.CD_ITEMGRP,
	       IG.NM_ITEMGRP,
		   IG.HD_ITEMGRP,
		   LEVEL = 1,
		   CONVERT(VARCHAR(1000), IG.CD_ITEMGRP) AS PATH
	FROM MA_ITEMGRP IG
	WHERE IG.CD_COMPANY = @P_CD_COMPANY
	AND IG.CD_ITEMGRP = @P_ITEM_GRP
	UNION ALL
	SELECT IG1.CD_COMPANY,
		   IG1.CD_ITEMGRP,
	       IG1.NM_ITEMGRP,
		   IG1.HD_ITEMGRP,
		   LEVEL + 1, 
		   CONVERT(VARCHAR(1000), PATH + ' -> ' + IG1.CD_ITEMGRP) AS PATH
	FROM ITEM_GRP IG
	JOIN MA_ITEMGRP IG1 ON IG1.CD_COMPANY = IG.CD_COMPANY AND IG1.HD_ITEMGRP = IG.CD_ITEMGRP
)
INSERT INTO #ITEM_GRP
(
	CD_COMPANY,
	CD_ITEMGRP
)
SELECT CD_COMPANY,
	   CD_ITEMGRP
FROM ITEM_GRP

;WITH BOM 
(
	CD_COMPANY, 
	CD_PLANT, 
	CD_ITEM_T, 
	CD_ITEM, 
	CD_MATL, 
	LEVEL, 
	PATH, 
	QT
) 
AS
(
	SELECT PB.CD_COMPANY,
		   PB.CD_PLANT,
		   PB.CD_ITEM AS CD_ITEM_T,
		   PB.CD_ITEM, 
		   PB.CD_MATL, 
		   LEVEL = 1, 
		   CONVERT(VARCHAR(1000), PB.CD_MATL),
		   PB1.QT_ITEM_NET
    FROM PR_ROUT_ASN PB
	JOIN PR_BOM PB1 ON PB1.CD_COMPANY = PB.CD_COMPANY AND PB1.CD_PLANT = PB.CD_PLANT AND PB1.CD_ITEM = PB.CD_ITEM AND PB1.CD_MATL = PB.CD_MATL AND PB1.DT_END >= CONVERT(CHAR(8), GETDATE(), 112)
	JOIN MA_PITEM MI ON MI.CD_COMPANY = PB.CD_COMPANY AND MI.CD_PLANT = PB.CD_PLANT AND MI.CD_ITEM = PB.CD_MATL AND MI.TP_PROC = 'M' AND ISNULL(MI.YN_USE, 'N') = 'Y'
	WHERE PB.CD_COMPANY = @P_CD_COMPANY
	AND PB.NO_OPPATH = @P_NO_OPPATH
	AND EXISTS (SELECT 1 
		        FROM PR_ROUT_L RL
		        WHERE RL.CD_COMPANY = PB.CD_COMPANY
		        AND RL.CD_PLANT = PB.CD_PLANT
		        AND RL.CD_ITEM = PB.CD_ITEM
		        AND RL.NO_OPPATH = PB.NO_OPPATH
		        AND RL.TP_OPPATH = PB.TP_OPPATH
		        AND RL.CD_OP = PB.CD_OP
			    AND RL.YN_USE = 'Y')
	AND EXISTS (SELECT 1 
				FROM MA_PITEM MI 
				JOIN #ITEM_GRP IG ON IG.CD_COMPANY = MI.CD_COMPANY AND IG.CD_ITEMGRP = MI.GRP_ITEM
				WHERE MI.CD_COMPANY = PB.CD_COMPANY 
				AND MI.CD_PLANT = PB.CD_PLANT 
				AND MI.CD_ITEM = PB.CD_ITEM)
	UNION ALL
	SELECT BM.CD_COMPANY,
		   BM.CD_PLANT,
		   BM.CD_ITEM_T,
		   PB.CD_ITEM, 
		   PB.CD_MATL, 
		   LEVEL + 1, 
		   CONVERT(VARCHAR(1000), PATH + ' -> ' + PB.CD_MATL),
		   PB1.QT_ITEM_NET
	FROM BOM BM
	JOIN PR_ROUT_ASN PB ON PB.CD_ITEM = BM.CD_MATL AND PB.NO_OPPATH = @P_NO_OPPATH
	JOIN PR_BOM PB1 ON PB1.CD_COMPANY = PB.CD_COMPANY AND PB1.CD_PLANT = PB.CD_PLANT AND PB1.CD_ITEM = PB.CD_ITEM AND PB1.CD_MATL = PB.CD_MATL AND PB1.DT_END >= CONVERT(CHAR(8), GETDATE(), 112)
	JOIN MA_PITEM MI ON MI.CD_COMPANY = PB.CD_COMPANY AND MI.CD_PLANT = PB.CD_PLANT AND MI.CD_ITEM = PB.CD_MATL AND MI.TP_PROC = 'M' AND ISNULL(MI.YN_USE, 'N') = 'Y'
	WHERE EXISTS (SELECT 1 
		          FROM PR_ROUT_L RL
		          WHERE RL.CD_COMPANY = PB.CD_COMPANY
		          AND RL.CD_PLANT = PB.CD_PLANT
		          AND RL.CD_ITEM = PB.CD_ITEM
		          AND RL.NO_OPPATH = PB.NO_OPPATH
		          AND RL.TP_OPPATH = PB.TP_OPPATH
		          AND RL.CD_OP = PB.CD_OP
			      AND RL.YN_USE = 'Y')
)
INSERT INTO #MBOM
SELECT CD_COMPANY, 
	   CD_PLANT, 
	   CD_ITEM_T, 
	   CD_ITEM, 
	   CD_MATL, 
	   LEVEL, 
	   PATH, 
	   QT 
FROM BOM
UNION ALL
SELECT PB.CD_COMPANY,
	   PB.CD_PLANT,
	   PB.CD_ITEM AS CD_ITEM_T,
	   PB.CD_ITEM, 
	   PB.CD_ITEM, 
	   LEVEL = 0, 
	   CONVERT(VARCHAR(1000), PB.CD_ITEM),
	   1
FROM PR_ROUT_ASN PB
JOIN MA_PITEM MI1 ON MI1.CD_COMPANY = PB.CD_COMPANY AND MI1.CD_PLANT = PB.CD_PLANT AND MI1.CD_ITEM = PB.CD_ITEM
JOIN #ITEM_GRP IG ON IG.CD_COMPANY = MI1.CD_COMPANY AND IG.CD_ITEMGRP = MI1.GRP_ITEM
WHERE PB.CD_COMPANY = @P_CD_COMPANY
AND PB.NO_OPPATH = @P_NO_OPPATH
AND EXISTS (SELECT 1 
		    FROM PR_ROUT_L RL
		    WHERE RL.CD_COMPANY = PB.CD_COMPANY
		    AND RL.CD_PLANT = PB.CD_PLANT
		    AND RL.CD_ITEM = PB.CD_ITEM
		    AND RL.NO_OPPATH = PB.NO_OPPATH
		    AND RL.TP_OPPATH = PB.TP_OPPATH
		    AND RL.CD_OP = PB.CD_OP
			AND RL.YN_USE = 'Y')
GROUP BY PB.CD_COMPANY, PB.CD_PLANT, PB.CD_ITEM

;WITH A 
(
	CD_COMPANY, 
	CD_PLANT, 
	CD_ITEM_T, 
	CD_ITEM, 
	CD_MATL, 
	LEVEL, 
	PATH, 
	QT,
	TP_PROC
)
AS
(
	SELECT PB.CD_COMPANY,
		   PB.CD_PLANT,
		   PB.CD_ITEM AS CD_ITEM_T,
		   PB.CD_ITEM, 
		   PB.CD_MATL, 
		   LEVEL = 1, 
		   CONVERT(VARCHAR(1000), PB.CD_MATL),
		   PB1.QT_ITEM_NET,
		   MI.TP_PROC
    FROM PR_ROUT_ASN PB
	JOIN PR_BOM PB1 ON PB1.CD_COMPANY = PB.CD_COMPANY AND PB1.CD_PLANT = PB.CD_PLANT AND PB1.CD_ITEM = PB.CD_ITEM AND PB1.CD_MATL = PB.CD_MATL AND PB1.DT_END >= CONVERT(CHAR(8), GETDATE(), 112)
	JOIN MA_PITEM MI ON MI.CD_COMPANY = PB.CD_COMPANY AND MI.CD_PLANT = PB.CD_PLANT AND MI.CD_ITEM = PB.CD_MATL AND ISNULL(MI.YN_USE, 'N') = 'Y'
	WHERE PB.CD_COMPANY = @P_CD_COMPANY
	AND PB.NO_OPPATH = @P_NO_OPPATH
	AND EXISTS (SELECT 1 
		FROM PR_ROUT_L RL
		WHERE RL.CD_COMPANY = PB.CD_COMPANY
		AND RL.CD_PLANT = PB.CD_PLANT
		AND RL.CD_ITEM = PB.CD_ITEM
		AND RL.NO_OPPATH = PB.NO_OPPATH
		AND RL.TP_OPPATH = PB.TP_OPPATH
		AND RL.CD_OP = PB.CD_OP
			    AND RL.YN_USE = 'Y')
	UNION ALL
	SELECT BM.CD_COMPANY,
		   BM.CD_PLANT,
		   BM.CD_ITEM_T,
		   PB.CD_ITEM, 
		   PB.CD_MATL, 
		   LEVEL + 1, 
		   CONVERT(VARCHAR(1000), PATH + ' -> ' + PB.CD_MATL),
		   PB1.QT_ITEM_NET,
		   MI.TP_PROC
	FROM A BM
	JOIN PR_ROUT_ASN PB ON PB.CD_ITEM = BM.CD_MATL AND PB.NO_OPPATH = @P_NO_OPPATH
	JOIN PR_BOM PB1 ON PB1.CD_COMPANY = PB.CD_COMPANY AND PB1.CD_PLANT = PB.CD_PLANT AND PB1.CD_ITEM = PB.CD_ITEM AND PB1.CD_MATL = PB.CD_MATL AND PB1.DT_END >= CONVERT(CHAR(8), GETDATE(), 112)
	JOIN MA_PITEM MI ON MI.CD_COMPANY = PB.CD_COMPANY AND MI.CD_PLANT = PB.CD_PLANT AND MI.CD_ITEM = PB.CD_MATL AND ISNULL(MI.YN_USE, 'N') = 'Y'
	WHERE EXISTS (SELECT 1 
		  FROM PR_ROUT_L RL
		  WHERE RL.CD_COMPANY = PB.CD_COMPANY
		  AND RL.CD_PLANT = PB.CD_PLANT
		  AND RL.CD_ITEM = PB.CD_ITEM
		  AND RL.NO_OPPATH = PB.NO_OPPATH
		  AND RL.TP_OPPATH = PB.TP_OPPATH
		  AND RL.CD_OP = PB.CD_OP
			      AND RL.YN_USE = 'Y')
)
INSERT INTO #PBOM
SELECT CD_COMPANY, 
	   CD_PLANT, 
	   CD_ITEM_T, 
	   CD_ITEM, 
	   CD_MATL, 
	   LEVEL, 
	   PATH, 
	   QT
FROM A
WHERE TP_PROC = 'P'
UNION ALL
SELECT 
	MI.CD_COMPANY
,	MI.CD_PLANT
,	MI.CD_ITEM AS CD_ITEM_T
,	MI.CD_ITEM
,	MI.CD_ITEM AS CD_MATL
,	1 AS LEVEL
,	MI.CD_ITEM AS PATH
,	1 AS QT
FROM MA_PITEM MI
WHERE MI.CD_COMPANY = @P_CD_COMPANY
AND MI.TP_PROC = 'P'

INSERT INTO #재고사용
SELECT QH.CD_COMPANY, QH.CD_PLANT, QL.NO_SO, QL.SEQ_SO, QL.CD_ITEM,
	   MAX(QL.CD_GRSL) AS CD_GRSL,
	   SUM(QL.QT_GI) AS QT_APPLY
FROM MM_GIREQH QH
JOIN MM_GIREQL QL ON QL.CD_COMPANY = QH.CD_COMPANY AND QL.NO_GIREQ = QH.NO_GIREQ
WHERE QH.CD_COMPANY = @P_CD_COMPANY
AND QL.CD_SL = 'SL_STND'
GROUP BY QH.CD_COMPANY, QH.CD_PLANT, QL.NO_SO, QL.SEQ_SO, QL.CD_ITEM
HAVING SUM(QL.QT_GI) > 0

INSERT INTO #SA_SOL
(
    CD_COMPANY,
    NO_SO,
    SEQ_SO,
    TXT_USERDEF6,
    TXT_USERDEF7,
    NO_PO_PARTNER,
    QT_SO,
    AM_WONAMT,
    CD_USERDEF1,
    DT_EXPECT,
    DT_DUEDATE,
    DT_REQGI,
    TXT_USERDEF5,
    TXT_USERDEF10,
    DC1,
    QT_GIR,
    QT_GI,
    CD_PLANT,
    CD_ITEM,
    CD_USERDEF3
)
SELECT SL.CD_COMPANY,
       SL.NO_SO,
       SL.SEQ_SO,
       SL.TXT_USERDEF6,
       SL.TXT_USERDEF7,
       SL.NO_PO_PARTNER,
       SL.QT_SO,
       SL.AM_WONAMT,
       SL.CD_USERDEF1,
       SL.DT_EXPECT,
       SL.DT_DUEDATE,
       SL.DT_REQGI,
       SL.TXT_USERDEF5,
       SL.TXT_USERDEF10,
       SL.DC1,
       SL.QT_GIR,
       SL.QT_GI,
       SL.CD_PLANT,
       SL.CD_ITEM,
       SL.CD_USERDEF3
FROM SA_SOL SL
WHERE SL.CD_COMPANY = @P_CD_COMPANY
AND SL.DT_DUEDATE BETWEEN @P_DT_FROM AND @P_DT_TO

INSERT INTO #발주
SELECT
	PL.NO_PO
,	PL.NO_LINE
,	PL.DT_LIMIT
,	PL.CD_ITEM
,	1 AS NUM_ORDER
,	ISNULL(PL.QT_PO, 0) - ISNULL(PL.QT_RCV, 0) AS QT_REMAIN
FROM PU_POL PL
WHERE PL.CD_COMPANY = @P_CD_COMPANY
AND ISNULL(PL.QT_PO, 0) > ISNULL(PL.QT_RCV, 0)
AND PL.FG_POST <> 'C'

INSERT INTO #요청
SELECT 
	PRH.NO_PR
,	PRL.NO_PRLINE
,	PRH.DT_PR
,	PRL.CD_ITEM
,	2 AS NUM_ORDER
,	ISNULL(PRL.QT_PR, '') - ISNULL(PRL.QT_PO, 0) AS QT_REMAIN
FROM PU_PRH PRH
JOIN PU_PRL PRL ON PRL.CD_COMPANY = PRH.CD_COMPANY AND PRL.CD_PLANT = PRH.CD_PLANT AND PRL.NO_PR = PRH.NO_PR
WHERE PRL.CD_COMPANY = @P_CD_COMPANY
AND PRL.QT_PR > PRL.QT_PO
AND PRL.FG_POST <> 'C'

INSERT INTO #재고수량
SELECT 
	X.CD_ITEM,       
    S.NM_SL,			
	NULL AS DT_LIMIT,
	0 AS NUM_ORDER,
	SUM(X.QT_INV) AS QT_INV
FROM (  
	SELECT CD_COMPANY, CD_PLANT, CD_SL, CD_ITEM, QT_GOOD_INV QT_INV 
	FROM MM_OPENQTL  
	WHERE CD_COMPANY = @P_CD_COMPANY  
	AND CD_PLANT = 'F001'  
	AND YM_STANDARD = LEFT(CONVERT(VARCHAR(8), GETDATE(), 112)  , 4) + '00'
	UNION ALL    
	SELECT CD_COMPANY, CD_PLANT, CD_SL, CD_ITEM, SUM(QT_GOOD_GR + QT_REJECT_GR + QT_INSP_GR + QT_TRANS_GR) - SUM(QT_GOOD_GI + QT_REJECT_GI + QT_INSP_GI + QT_TRANS_GI) QT_INV
	FROM MM_OHSLINVM  
	WHERE CD_COMPANY = @P_CD_COMPANY  
	AND YM_IO >= LEFT(CONVERT(VARCHAR(8), GETDATE(), 112)  , 4) + '00'   
	AND YM_IO <= LEFT(CONVERT(VARCHAR(8), GETDATE(), 112)  , 6) - 1  
	AND CD_PLANT = 'F001'     
	GROUP BY CD_COMPANY, CD_PLANT, CD_SL , CD_ITEM  
	UNION ALL  
	SELECT L.CD_COMPANY, L.CD_PLANT, L.CD_SL, L.CD_ITEM, SUM(L.QT_GOOD_GR - L.QT_GOOD_GI + L.QT_REJECT_GR - L.QT_REJECT_GI + L.QT_TRANS_GR - L.QT_TRANS_GI + L.QT_INSP_GR - L.QT_INSP_GI) AS QT_INV
	FROM MM_OHSLINVD L 
	INNER JOIN DZSN_MA_PITEM P ON P.CD_COMPANY = L.CD_COMPANY  
	AND P.CD_PLANT = L.CD_PLANT  
	AND P.CD_ITEM = L.CD_ITEM  
	WHERE L.CD_COMPANY = @P_CD_COMPANY  
	AND L.CD_PLANT = 'F001'  
	AND L.DT_IO <= CONVERT(VARCHAR(8), GETDATE(), 112)    
	AND L.DT_IO > LEFT(CONVERT(VARCHAR(8), GETDATE(), 112)  , 6) + '00'  
	GROUP BY L.CD_COMPANY, L.CD_PLANT, L.CD_SL, L.CD_ITEM 
 ) X  
INNER JOIN DZSN_MA_PITEM P ON P.CD_COMPANY = X.CD_COMPANY AND P.CD_PLANT = X.CD_PLANT AND P.CD_ITEM = X.CD_ITEM
LEFT JOIN DZSN_MA_SL S ON S.CD_COMPANY = X.CD_COMPANY AND S.CD_PLANT = X.CD_PLANT AND S.CD_SL = X.CD_SL
WHERE P.YN_USE = 'Y'
AND P.TP_PROC = 'P'
GROUP BY X.CD_COMPANY, X.CD_PLANT, X.CD_ITEM, S.NM_SL	
HAVING SUM(X.QT_INV) <> 0 

;WITH A AS
(
	SELECT 
		SL.CD_COMPANY
	,	SL.CD_PLANT
	,	SL.NO_SO
	,	SL.SEQ_SO
	,	SL.STA_SO
	,	SL.DT_DUEDATE
	,	MB.CD_ITEM_T
	,	MB.CD_ITEM
	,	MB.CD_MATL
	,	(SL.QT_SO * MB.QT) - ISNULL(ST.QT_APPLY,0) AS QT_SO
	,	SL.QT_GIR
	FROM SA_SOL SL
	JOIN #MBOM MB ON MB.CD_COMPANY = SL.CD_COMPANY AND MB.CD_PLANT = SL.CD_PLANT AND MB.CD_ITEM_T = SL.CD_ITEM
	LEFT JOIN #재고사용 ST ON MB.CD_COMPANY = ST.CD_COMPANY AND MB.CD_PLANT = ST.CD_PLANT AND SL.NO_SO = ST.NO_SO AND SL.SEQ_SO = ST.SEQ_SO AND MB.CD_MATL = ST.CD_ITEM
)
, B AS
(
	SELECT
		A.CD_COMPANY
	,	A.CD_PLANT
	,	A.NO_SO
	,	A.SEQ_SO
	,	A.STA_SO
	,	A.DT_DUEDATE
	,	A.CD_ITEM_T
	,	A.CD_ITEM
	,	A.CD_MATL
	,	A.QT_SO
	,	WM.NO_WO
	,	WM.QT_APPLY
	,	A.QT_GIR
	FROM A
	JOIN CZ_PR_SA_SOL_PR_WO_MAPPING WM ON A.CD_COMPANY = WM.CD_COMPANY AND A.CD_PLANT = WM.CD_PLANT AND A.NO_SO = WM.NO_SO AND A.SEQ_SO = WM.NO_LINE AND A.CD_MATL = WM.CD_ITEM
)
, C AS
(
	SELECT
		WR.CD_COMPANY
	,	WR.CD_PLANT
	,	WR.NO_WO
	,	WR.NO_LINE
	,	WR.CD_OP
	,	WR.QT_WORK - WR1.QT_REJECT AS QT_WORK
	FROM PR_WO_ROUT WR
	LEFT JOIN (SELECT CD_COMPANY, CD_PLANT, NO_WO, SUM(QT_REJECT) AS QT_REJECT
			   FROM PR_WO_ROUT
			   GROUP BY CD_COMPANY, CD_PLANT, NO_WO) WR1
	ON WR.CD_COMPANY = WR1.CD_COMPANY AND WR.CD_PLANT = WR1.CD_PLANT AND WR.NO_WO = WR1.NO_WO
	WHERE WR.CD_COMPANY = @P_CD_COMPANY
	AND EXISTS (SELECT 1
				  FROM (SELECT CD_COMPANY, CD_PLANT, NO_WO, MIN(NO_LINE) NO_LINE
						FROM PR_WO_ROUT
						GROUP BY CD_COMPANY, CD_PLANT, NO_WO) WR1
						WHERE WR.CD_COMPANY = WR1.CD_COMPANY
						AND WR.CD_PLANT = WR1.CD_PLANT
						AND WR.NO_WO = WR1.NO_WO
						AND WR.NO_LINE = WR1.NO_LINE)
)
, D AS
(
	SELECT
			B.CD_COMPANY
		,	B.CD_PLANT
		,	B.NO_SO
		,	B.SEQ_SO
		,	B.STA_SO
		,	B.DT_DUEDATE
		,	B.CD_ITEM_T
		,	B.CD_ITEM
		,	B.CD_MATL
		,	B.QT_SO
		,	B.NO_WO
		,	B.QT_APPLY
		,	ISNULL(C.QT_WORK, 0) AS QT_WORK
		,	B.QT_GIR
	FROM B
	LEFT JOIN C ON B.CD_COMPANY = C.CD_COMPANY AND B.CD_PLANT = C.CD_PLANT AND B.NO_WO = C.NO_WO
)
, E AS
(
	SELECT 
		D.CD_COMPANY
	,	D.CD_PLANT
	,	D.NO_SO
	,	D.SEQ_SO
	,	D.STA_SO
	,	D.DT_DUEDATE
	,	D.CD_ITEM_T
	,	D.CD_ITEM
	,	D.CD_MATL
	,	D.QT_SO
	,	D.NO_WO
	,	D.QT_APPLY
	,	D.QT_WORK
	,	D.QT_GIR
	,	SUM(D.QT_APPLY) OVER (PARTITION BY D.NO_WO ORDER BY D.QT_GIR DESC, D.DT_DUEDATE, D.NO_SO, D.SEQ_SO) AS QT_TOTAL
	FROM D
)
, F AS
(
	SELECT 
		E.CD_COMPANY
	,	E.CD_PLANT
	,	E.NO_SO
	,	E.SEQ_SO
	,	E.STA_SO
	,	E.DT_DUEDATE
	,	E.CD_ITEM_T
	,	E.CD_ITEM
	,	E.CD_MATL
	,	E.QT_SO
	,	E.NO_WO
	,	E.QT_APPLY
	,	E.QT_WORK
	,	E.QT_TOTAL
	,	LAG(E.QT_TOTAL) OVER (PARTITION BY E.NO_WO ORDER BY E.QT_GIR DESC, E.DT_DUEDATE, E.NO_SO, E.SEQ_SO) AS QT_TOTAL_PREV
	FROM E
)
, G AS
(
SELECT
	F.CD_COMPANY
,	F.CD_PLANT
,	F.NO_SO
,	F.SEQ_SO
,	F.STA_SO
,	F.DT_DUEDATE
,	F.CD_ITEM_T
,	F.CD_ITEM
,	F.CD_MATL
,	F.QT_SO
,	F.NO_WO
,	CASE WHEN F.QT_WORK >= F.QT_TOTAL THEN F.QT_APPLY
		 ELSE (CASE WHEN F.QT_WORK > F.QT_TOTAL_PREV THEN QT_WORK - QT_TOTAL_PREV ELSE 0 END) END AS QT_APPLY
FROM F
)
, H AS
(
SELECT
	G.CD_COMPANY
,	G.CD_PLANT
,	G.NO_SO
,	G.SEQ_SO
,	G.DT_DUEDATE
,	G.CD_ITEM_T
,	G.CD_MATL
,	G.QT_SO
,	SUM(G.QT_APPLY) AS QT_APPLY
FROM G
WHERE STA_SO <> 'C'
GROUP BY G.CD_COMPANY, G.CD_PLANT, G.NO_SO, G.SEQ_SO, G.DT_DUEDATE, G.CD_ITEM_T, G.CD_MATL, G.QT_SO
)
INSERT INTO #수주별생산
SELECT
	H.CD_COMPANY
,	H.CD_PLANT
,	H.NO_SO
,	H.SEQ_SO
,	H.DT_DUEDATE
,	H.CD_ITEM_T
,	PM.CD_MATL
,	H.QT_SO * PM.QT AS QT_SO
,	H.QT_APPLY * PM.QT AS QT_APPLY
FROM H
JOIN #PBOM PM ON H.CD_COMPANY = PM.CD_COMPANY AND H.CD_PLANT = PM.CD_PLANT AND H.CD_ITEM_T = PM.CD_ITEM_T AND H.CD_MATL = PM.CD_ITEM
UNION ALL
SELECT SL.CD_COMPANY,
    	SL.CD_PLANT,
    	SL.NO_SO,
        SL.SEQ_SO,
        SL.DT_DUEDATE,
        SL.CD_ITEM AS CD_ITEM_T,
		SL.CD_ITEM AS CD_MATL,
    	SL.QT_SO,
        SL.QT_GI AS QT_APPLY
FROM SA_SOL SL
LEFT JOIN MA_PITEM MI ON MI.CD_COMPANY = SL.CD_COMPANY AND MI.CD_PLANT = SL.CD_PLANT AND MI.CD_ITEM = SL.CD_ITEM
WHERE SL.CD_COMPANY = @P_CD_COMPANY
AND SL.STA_SO <> 'C'
AND SL.QT_SO > SL.QT_GI
AND ISNULL(SL.QT_GI, 0) > 0
AND MI.TP_PROC = 'P'

;WITH A AS
(
	SELECT SL.CD_COMPANY,
    		SL.CD_PLANT,
    		SL.NO_SO,
			SL.SEQ_SO,
			SL.DT_DUEDATE,
			BM.CD_MATL,
    		CASE WHEN SP.QT_SO IS NULL THEN SL.QT_SO * BM.QT ELSE SP.QT_SO END AS QT_NEED,
			ISNULL(SP.QT_APPLY, 0) AS QT_IO,
			0 AS NUM_ORDER
	FROM SA_SOL SL
	JOIN #PBOM BM ON BM.CD_COMPANY = SL.CD_COMPANY AND BM.CD_ITEM_T = SL.CD_ITEM
	LEFT JOIN #수주별생산 SP ON SP.CD_COMPANY = SL.CD_COMPANY AND SP.CD_PLANT = SL.CD_PLANT AND SP.NO_SO = SL.NO_SO AND SP.SEQ_SO = SL.SEQ_SO AND SP.CD_MATL = BM.CD_MATL
	WHERE SL.CD_COMPANY = @P_CD_COMPANY
	AND SL.STA_SO <> 'C'
)
INSERT INTO #수주잔량
SELECT
	A.CD_COMPANY
,	A.CD_PLANT
,	A.NO_SO
,	A.SEQ_SO
,	A.DT_DUEDATE
,	A.CD_MATL
,	A.QT_NEED - A.QT_IO AS QT_REMAIN
,	A.NUM_ORDER
FROM A

;WITH STOCK AS
(
SELECT
	SL.CD_COMPANY
,	SL.CD_PLANT
,	SL.NO_SO
,	SL.SEQ_SO AS NO_LINE
,	PM.CD_ITEM_T
,	PM.CD_ITEM
,	PM.CD_MATL
,	SL.QT_SO * BM.QT * PM.QT AS QT_SO
,	ST.QT_APPLY * PM.QT AS QT_APPLY
FROM SA_SOL SL
JOIN #재고사용 ST ON SL.CD_COMPANY = ST.CD_COMPANY AND SL.CD_PLANT = ST.CD_PLANT AND SL.NO_SO = ST.NO_SO AND SL.SEQ_SO = ST.SEQ_SO
JOIN #MBOM BM ON ST.CD_COMPANY = BM.CD_COMPANY AND ST.CD_PLANT = BM.CD_PLANT AND SL.CD_ITEM = BM.CD_ITEM_T AND ST.CD_ITEM = BM.CD_MATL
JOIN #PBOM PM ON ST.CD_COMPANY = PM.CD_COMPANY AND ST.CD_PLANT = PM.CD_PLANT AND SL.CD_ITEM = PM.CD_ITEM_T AND ST.CD_ITEM = PM.CD_ITEM
)
INSERT INTO #재고사용자재
SELECT
	ST1.CD_COMPANY
,	ST1.CD_PLANT
,	ST1.NO_SO
,	ST1.NO_LINE
,	'상위품목재고사용' AS DC_RMK
,	ST1.CD_MATL AS CD_ITEM
,	'00000000' AS DT_LIMIT
,	ST1.QT_APPLY
,	ST1.QT_SO - ST1.QT_APPLY AS QT_REMAIN
FROM STOCK ST1

;WITH Z AS
(
	SELECT
		A.CD_COMPANY,
		A.CD_PLANT,
		A.NO_SO,
		A.SEQ_SO,
		A.DT_DUEDATE,
		A.CD_MATL,
		A.QT_REMAIN - ISNULL(STP.QT_APPLY, 0) AS QT_REMAIN,
		A.NUM_ORDER
	FROM #수주잔량 A
	LEFT JOIN #재고사용자재 STP ON STP.CD_COMPANY = A.CD_COMPANY AND STP.CD_PLANT = A.CD_PLANT AND STP.NO_SO = A.NO_SO AND STP.NO_LINE = A.SEQ_SO AND STP.CD_ITEM = A.CD_MATL
	WHERE A.QT_REMAIN > 0
)
, A AS
(
SELECT
	Z.CD_COMPANY,
	Z.CD_PLANT,
	Z.NO_SO,
	Z.SEQ_SO,
	Z.DT_DUEDATE,
	Z.CD_MATL,
	Z.QT_REMAIN,
	SUM(Z.QT_REMAIN) OVER (PARTITION BY Z.CD_MATL ORDER BY Z.NUM_ORDER DESC, Z.DT_DUEDATE, Z.NO_SO, Z.SEQ_SO) AS QT_TOTAL
FROM Z
WHERE Z.QT_REMAIN > 0
)
,B AS
(
	SELECT 
		PL.NO_PO AS DC_RMK
	,	PL.DT_LIMIT
	,	PL.CD_ITEM
	,	PL.NUM_ORDER
	,	PL.QT_REMAIN
	FROM #발주 PL
	UNION ALL
	SELECT
		ST.NM_SL AS DC_RMK
	,	'00000000' AS DT_LIMIT
	,	ST.CD_ITEM
	,	ST.NUM_ORDER
	,	ST.QT_INV AS QT_REMAIN
	FROM #재고수량 ST
	UNION ALL
	SELECT
		PR.NO_PR AS DC_RMK
	,	'99999999' AS DT_LIMIT
	,	PR.CD_ITEM
	,	PR.NUM_ORDER
	,	PR.QT_REMAIN
	FROM #요청 PR
)
,C AS
(
	SELECT
		B.DC_RMK
	,	B.DT_LIMIT
	,	B.CD_ITEM
	,	B.QT_REMAIN
	,	SUM(B.QT_REMAIN) OVER (PARTITION BY B.CD_ITEM ORDER BY B.NUM_ORDER, B.DT_LIMIT, B.DC_RMK) AS QT_TOTAL
	FROM B
)
,D AS
(
	SELECT 
		A.CD_COMPANY
	,	A.CD_PLANT
	,	A.NO_SO
	,	A.SEQ_SO
	,	A.DT_DUEDATE
	,	C.DC_RMK
	,	C.CD_ITEM
	,	C.DT_LIMIT
	,	A.QT_REMAIN AS QT_REMAIN_A
	,	C.QT_REMAIN AS QT_REMAIN_C
	,	A.QT_TOTAL AS QT_TOTAL_A
	,	C.QT_TOTAL AS QT_TOTAL_C
	,	(A.QT_TOTAL - (C.QT_TOTAL - C.QT_REMAIN)) AS QT_TOTAL_A1
	FROM C
	JOIN A ON A.CD_MATL = C.CD_ITEM
),
E AS
(
	SELECT
		D.CD_COMPANY
	,	D.CD_PLANT
	,	D.NO_SO
	,	D.SEQ_SO
	,	D.DC_RMK
	,	D.CD_ITEM
	,	D.DT_LIMIT
	,	D.QT_REMAIN_C
	,	(CASE WHEN D.QT_TOTAL_A1 > D.QT_REMAIN_C THEN D.QT_REMAIN_A - (D.QT_TOTAL_A1 - D.QT_REMAIN_C)
			  WHEN D.QT_REMAIN_A >= D.QT_TOTAL_A1 THEN D.QT_TOTAL_A1 ELSE D.QT_REMAIN_A END) AS QT_REMAIN_A1
	FROM D
	WHERE (D.QT_REMAIN_C >= D.QT_TOTAL_A1 OR D.QT_TOTAL_C > (D.QT_TOTAL_A - D.QT_REMAIN_A))
	AND D.QT_TOTAL_A > (D.QT_TOTAL_C - D.QT_REMAIN_C)
),
F AS
(
	SELECT E.CD_COMPANY,
		   E.CD_PLANT,
		   E.NO_SO,
		   E.SEQ_SO AS NO_LINE,
		   E.DC_RMK,
		   E.CD_ITEM,
		   E.DT_LIMIT,
		   SUM(CASE WHEN E.QT_REMAIN_A1 > E.QT_REMAIN_C THEN E.QT_REMAIN_C ELSE E.QT_REMAIN_A1 END) AS QT_APPLY
	FROM E
	GROUP BY E.CD_COMPANY, E.CD_PLANT, E.NO_SO, E.SEQ_SO, E.DC_RMK, E.DT_LIMIT, E.CD_ITEM
	UNION ALL
	SELECT 
		SR.CD_COMPANY
	,	SR.CD_PLANT
	,	SR.NO_SO
	,	SR.SEQ_SO AS NO_LINE
	,	'생산투입완료' AS DC_RMK
	,	SR.CD_MATL AS CD_ITEM
	,	'00000000' AS DT_LIMIT
	,	0 AS QT_APPLY
	FROM #수주잔량 SR
	WHERE SR.QT_REMAIN = 0
	UNION ALL
	SELECT
		SP.CD_COMPANY
	,	SP.CD_PLANT
	,	SP.NO_SO
	,	SP.NO_LINE
	,	SP.DC_RMK
	,	SP.CD_ITEM
	,	SP.DT_LIMIT
	,	SP.QT_REMAIN
	FROM #재고사용자재 SP
)
INSERT INTO #PU_INV
SELECT 
	F.CD_COMPANY
,	F.CD_PLANT
,	F.NO_SO
,	F.NO_LINE
,	F.DC_RMK
,	F.CD_ITEM
,	F.DT_LIMIT
,	F.QT_APPLY
FROM F

;WITH A AS
(
	SELECT
		SH.CD_COMPANY,
		SL.CD_PLANT,
		SH.NO_SO,
		SH.DT_SO,
		SH.DC_RMK1,
		SL.SEQ_SO,
		SH.CD_PARTNER,
		SL.NO_PO_PARTNER,
		SL.QT_SO,
		SL.AM_WONAMT,
		SL.DT_EXPECT,
		SL.DT_DUEDATE,
		SL.DT_REQGI,
		SL.TXT_USERDEF5,
		SL.TXT_USERDEF6,
		SL.TXT_USERDEF7,
		SL.CD_USERDEF1,
		SL.DC1,
		SL.TXT_USERDEF10,
		MI.CD_ITEM,
		MI.NM_ITEM,
		MI.NO_DESIGN AS NO_DESIGN1,
		MI1.NO_DESIGN,
		MI1.STND_ITEM,
		MI1.GRP_ITEM,
		ROW_NUMBER() OVER (PARTITION BY SH.NO_SO, SL.SEQ_SO, BM.CD_ITEM_T, MI1.GRP_ITEM ORDER BY BM.CD_MATL) AS IDX,
		SL.CD_USERDEF3,
		BM.CD_MATL,
		SL.QT_GIR,
		SL.QT_GI,
		SH.STA_SO
	FROM SA_SOH SH
	JOIN #SA_SOL SL ON SL.CD_COMPANY = SH.CD_COMPANY AND SL.NO_SO = SH.NO_SO
	LEFT JOIN #PBOM BM ON BM.CD_COMPANY = SL.CD_COMPANY AND BM.CD_PLANT = SL.CD_PLANT AND BM.CD_ITEM_T = SL.CD_ITEM
	LEFT JOIN MA_PITEM MI ON MI.CD_COMPANY = SL.CD_COMPANY AND MI.CD_PLANT = SL.CD_PLANT AND MI.CD_ITEM = SL.CD_ITEM
	LEFT JOIN MA_PITEM MI1 ON MI1.CD_COMPANY = BM.CD_COMPANY AND MI1.CD_PLANT = BM.CD_PLANT AND MI1.CD_ITEM = BM.CD_MATL
	WHERE SH.CD_COMPANY = @P_CD_COMPANY
	AND EXISTS (SELECT 1
				FROM #ITEM_GRP IG
				WHERE IG.CD_COMPANY = MI.CD_COMPANY AND IG.CD_ITEMGRP = MI.GRP_ITEM)
)
INSERT INTO #TEMP	
SELECT
		A.CD_COMPANY,
		A.CD_PLANT,
		A.NO_SO,
		A.DT_SO,
		A.DC_RMK1,
		A.SEQ_SO,
		A.CD_PARTNER,
		A.NO_PO_PARTNER,
		A.QT_SO,
		A.AM_WONAMT,
		A.DT_EXPECT,
		A.DT_DUEDATE,
		A.DT_REQGI,
		A.TXT_USERDEF5,
		A.TXT_USERDEF6,
		A.TXT_USERDEF7,
		A.CD_USERDEF1,
		A.DC1,
		A.TXT_USERDEF10,
		A.CD_ITEM,
		A.NM_ITEM,
		A.NO_DESIGN1,
		A.NO_DESIGN,
		A.STND_ITEM,
		(CASE WHEN A.IDX > 1 THEN A.GRP_ITEM + '_' + CONVERT(NVARCHAR, A.IDX - 1) ELSE A.GRP_ITEM END) AS GRP_ITEM,
		A.CD_USERDEF3,
		A.CD_MATL,
		A.QT_GIR,
		A.QT_GI,
		A.STA_SO
FROM A

DECLARE @COLUMNS1	NVARCHAR(MAX)
DECLARE @COLUMNS2	NVARCHAR(MAX)
DECLARE @COLUMNS3	NVARCHAR(MAX)
DECLARE @COLUMNS4	NVARCHAR(MAX)
DECLARE @COLUMNS5	NVARCHAR(MAX)
DECLARE @COLUMNS6	NVARCHAR(MAX)
DECLARE @COLUMNS7	NVARCHAR(MAX)
DECLARE @V_QUERY	NVARCHAR(MAX)	

SET @COLUMNS1 = '';
SET @COLUMNS2 = '';
SET @COLUMNS3 = '';
SET @COLUMNS4 = '';
SET @COLUMNS5 = '';
SET @COLUMNS6 = '';
SET @COLUMNS7 = '';

;WITH A AS
(
    SELECT BM.CD_COMPANY, BM.CD_ITEM_T, MI.GRP_ITEM,
           ROW_NUMBER() OVER (PARTITION BY BM.CD_ITEM_T, MI.GRP_ITEM ORDER BY BM.CD_MATL) AS IDX
    FROM #PBOM BM
    LEFT JOIN MA_PITEM MI ON MI.CD_COMPANY = BM.CD_COMPANY AND MI.CD_PLANT = BM.CD_PLANT AND MI.CD_ITEM = BM.CD_MATL 
	WHERE ISNULL(MI.GRP_ITEM, '') <> ''
)
, B AS
(
    SELECT A.CD_ITEM_T, 
           (CASE WHEN A.IDX > 1 THEN A.GRP_ITEM + '_' + CONVERT(NVARCHAR, A.IDX - 1) ELSE A.GRP_ITEM END) AS GRP_ITEM,
           IG.NM_ITEMGRP 
    FROM A
    JOIN #ITEM_GRP IG ON IG.CD_COMPANY = A.CD_COMPANY AND IG.CD_ITEMGRP = A.GRP_ITEM 
)
, C AS
(
	SELECT B.GRP_ITEM, B.NM_ITEMGRP 
	FROM B
	GROUP BY B.GRP_ITEM, B.NM_ITEMGRP
)
SELECT
	@COLUMNS1 = @COLUMNS1 + '[' + C.GRP_ITEM + '],',
	@COLUMNS2 = @COLUMNS2 + '[' + C.GRP_ITEM + '1],',
	@COLUMNS3 = @COLUMNS3 + '[' + C.GRP_ITEM + '2],',
	@COLUMNS4 = @COLUMNS4 + 'MAX([' + C.GRP_ITEM + ']) AS DC_' + C.GRP_ITEM + ',',
	@COLUMNS5 = @COLUMNS5 + 'MAX([' + C.GRP_ITEM + '1]) AS DC_' + C.GRP_ITEM + '1,',
	@COLUMNS6 = @COLUMNS6 + 'MAX([' + C.GRP_ITEM + '2]) AS DC_' + C.GRP_ITEM + '2,',
	@COLUMNS7 = @COLUMNS7 + 'MAX([' + C.GRP_ITEM + ']) LIKE ''' + @P_NO_DESIGN + ''' + ' + '''%''' + ' OR '

FROM (SELECT DISTINCT GRP_ITEM FROM C) C

SET @COLUMNS1 = LEFT(@COLUMNS1, LEN(@COLUMNS1) - 1)
SET @COLUMNS2 = LEFT(@COLUMNS2, LEN(@COLUMNS2) - 1)
SET @COLUMNS3 = LEFT(@COLUMNS3, LEN(@COLUMNS3) - 1)
SET @COLUMNS4 = LEFT(@COLUMNS4, LEN(@COLUMNS4) - 1)
SET @COLUMNS5 = LEFT(@COLUMNS5, LEN(@COLUMNS5) - 1)
SET @COLUMNS6 = LEFT(@COLUMNS6, LEN(@COLUMNS6) - 1)
SET @COLUMNS7 = LEFT(@COLUMNS7, LEN(@COLUMNS7) - 3)

SET @V_QUERY =  'SELECT ''N'' AS S,
	   A4.NO_SO,
	   A4.SEQ_SO,
	   A4.LN_PARTNER,
	   A4.DT_SO,
	   A4.DC_RMK1,
	   A4.NM_SYSDEF AS NM_ENGINE,
	   A4.CD_ITEM,
	   A4.NM_ITEM,
	   A4.TXT_USERDEF6 AS NO_HULL,
       A4.TXT_USERDEF7,
	   A4.NO_PO_PARTNER,
	   A4.NO_DESIGN1,
	   A4.QT_SO,
	   A4.QT_NOT_GI,
	   A4.AM_WONAMT,
	   A4.CD_USERDEF1 AS NM_CERT,
	   A4.DT_EXPECT,
	   A4.DT_DUEDATE,
	   A4.DT_REQGI,
	   A4.DT_IO,
	   A4.TXT_USERDEF5 AS NM_DELIVERY,
	   A4.DC1,
	   A4.TXT_USERDEF10,
	   ' + @COLUMNS4 + ',
	   ' + @COLUMNS5 + ',
	   ' + @COLUMNS6 + '
FROM (SELECT
		B.NO_SO,
		MP.LN_PARTNER,
		B.DT_SO,
		B.DC_RMK1,
		B.SEQ_SO,
		B.NO_PO_PARTNER,
		B.QT_SO,
		(ISNULL(B.QT_SO, 0) - ISNULL(OL.QT_IO, 0)) AS QT_NOT_GI,
		B.AM_WONAMT,
		B.DT_EXPECT,
		B.DT_DUEDATE,
		B.DT_REQGI,
		B.TXT_USERDEF5,
		B.TXT_USERDEF6,
		B.TXT_USERDEF7,
		B.CD_USERDEF1,
		B.DC1,
		B.TXT_USERDEF10,
		B.CD_ITEM,
		B.NM_ITEM,
		B.NO_DESIGN1,
		B.NO_DESIGN,
		B.STND_ITEM,
		B.GRP_ITEM,
		B.GRP_ITEM + ' + '''1''' + ' AS GRP_ITEM1,
		B.GRP_ITEM + ' + '''2''' + ' AS GRP_ITEM2,
		B.GRP_ITEM + ' + '''3''' + ' AS GRP_ITEM3,
		CD.NM_SYSDEF,
		OL.DT_IO,
		ISNULL(IV.DC_RMK, ''-'') AS DC_RMK,
		(CASE WHEN ISNULL(IV.DT_LIMIT,'''') = '''' THEN ''-''
				WHEN ISNULL(IV.DT_LIMIT,'''') = ''00000000'' THEN IV.DC_RMK
				WHEN ISNULL(IV.DT_LIMIT,'''') = ''99999999'' THEN IV.DC_RMK
				ELSE LEFT(IV.DT_LIMIT,4) + ' + '''/''' + ' + SUBSTRING(IV.DT_LIMIT,5,2) + ' + '''/''' + ' + RIGHT(IV.DT_LIMIT,2) END) AS DT_LIMIT
	FROM #TEMP B
	LEFT JOIN MA_PARTNER MP ON MP.CD_COMPANY = B.CD_COMPANY AND MP.CD_PARTNER = B.CD_PARTNER
	LEFT JOIN MA_CODEDTL CD ON CD.CD_COMPANY = B.CD_COMPANY AND CD.CD_FIELD = ''CZ_WIN0003'' AND CD.CD_SYSDEF = B.CD_USERDEF3
	LEFT JOIN #PU_INV IV ON IV.CD_COMPANY = B.CD_COMPANY AND IV.CD_PLANT = B.CD_PLANT AND IV.NO_SO = B.NO_SO AND IV.NO_LINE = B.SEQ_SO AND IV.CD_ITEM = B.CD_MATL
	LEFT JOIN MA_WC WC ON WC.CD_COMPANY = IV.CD_COMPANY AND WC.CD_PLANT = IV.CD_PLANT AND WC.CD_WC = IV.DC_RMK
	LEFT JOIN (SELECT OL.CD_COMPANY, OL.NO_PSO_MGMT, OL.NO_PSOLINE_MGMT, SUM(OL.QT_IO) AS QT_IO, MAX(OH.DT_IO) AS DT_IO
				FROM MM_QTIOH OH
				JOIN MM_QTIO OL ON OL.CD_COMPANY = OH.CD_COMPANY AND OL.NO_IO = OH.NO_IO
				WHERE OL.FG_PS = ''2''
				AND OL.CD_QTIOTP IN (''200'', ''210'') 
				GROUP BY OL.CD_COMPANY, OL.NO_PSO_MGMT, OL.NO_PSOLINE_MGMT) OL
	ON OL.CD_COMPANY = B.CD_COMPANY AND OL.NO_PSO_MGMT = B.NO_SO AND OL.NO_PSOLINE_MGMT = B.SEQ_SO
	WHERE B.CD_COMPANY = ''' + @P_CD_COMPANY + '''
	AND (ISNULL(''' + @P_NO_SO + ''', '''') = '''' OR B.NO_SO = ''' + @P_NO_SO + ''')
	AND (ISNULL(''' + @P_CD_PARTNER + ''', '''') = '''' OR B.CD_PARTNER = ''' + @P_CD_PARTNER + ''')
	AND (ISNULL(''' + @P_YN_EX_GIR + ''', ''N'') = ''N'' OR B.QT_SO > B.QT_GIR)
	AND (ISNULL(''' + @P_YN_EX_GI + ''', ''N'') = ''N'' OR B.QT_SO > B.QT_GI)
	AND (ISNULL(''' + @P_YN_EX_CLOSE + ''', ''N'') = ''N'' OR ISNULL(B.STA_SO, '''') <> ''C'')) A
PIVOT (MAX(A.NO_DESIGN) FOR A.GRP_ITEM IN (' + @COLUMNS1 + ')) A1
PIVOT (MAX(A1.DT_LIMIT) FOR A1.GRP_ITEM1 IN (' + @COLUMNS2 + ')) A2
PIVOT (MAX(A2.DC_RMK) FOR A2.GRP_ITEM2 IN (' + @COLUMNS3 + ')) A3
PIVOT (MAX(A3.STND_ITEM) FOR A3.GRP_ITEM3 IN ([2VM203])) A4
GROUP BY A4.NO_SO,
		 A4.SEQ_SO,
		 A4.LN_PARTNER,
	     A4.DT_SO,
		 A4.DC_RMK1,
		 A4.SEQ_SO,
		 A4.NM_SYSDEF,
		 A4.CD_ITEM,
	     A4.NM_ITEM,
	     A4.TXT_USERDEF6,
         A4.TXT_USERDEF7,
	     A4.NO_PO_PARTNER,
	     A4.NO_DESIGN1,
	     A4.QT_SO,
		 A4.QT_NOT_GI,
		 A4.AM_WONAMT,
	     A4.CD_USERDEF1,
		 A4.DT_EXPECT,
	     A4.DT_DUEDATE,
	     A4.DT_REQGI,
		 A4.DT_IO,
	     A4.TXT_USERDEF5,
		 A4.DC1,
		 A4.TXT_USERDEF10
HAVING (ISNULL(''' + @P_NO_DESIGN + ''', '''') = '''' OR ' + @COLUMNS7 + ')
ORDER BY A4.DT_DUEDATE ASC, A4.NO_SO ASC'

PRINT @V_QUERY

EXEC SP_EXECUTESQL @V_QUERY