<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cz.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cz.Settings>
            <setting name="Tx_내역표시구분" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_내역표시_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_품목표시구분" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_공급자연락처구분" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_공급자E_Mail" serializeAs="String">
                <value />
            </setting>
            <setting name="Tx_공급자Hp" serializeAs="String">
                <value />
            </setting>
            <setting name="내역표시" serializeAs="String">
                <value />
            </setting>
            <setting name="품목표시" serializeAs="String">
                <value>일괄</value>
            </setting>
            <setting name="주소표시" serializeAs="String">
                <value>자동</value>
            </setting>
            <setting name="스탬프표시" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="로고표시" serializeAs="String">
                <value>딘텍</value>
            </setting>
            <setting name="서명표시" serializeAs="String">
                <value>표시</value>
            </setting>
            <setting name="직인표시" serializeAs="String">
                <value>미표시</value>
            </setting>
        </cz.Settings>
    </userSettings>
</configuration>