USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_PR_MES_MATL_LOT_FIFO_I]    Script Date: 2023-05-18 오후 3:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[UP_CZ_PR_MES_MATL_LOT_FIFO_I]
(
	@P_CD_COMPANY	NVARCHAR(7),
	@P_NO_IO		NVARCHAR(20),
	@P_NO_IOLINE	NUMERIC(5,0),
	@P_CD_ITEM		NVARCHAR(20),
	@P_QT_IO		NUMERIC(17,4),
	@P_DT_IO		NVARCHAR(8),
	@P_CD_SL		NVARCHAR(7),
	@P_NO_WO		NVARCHAR(20),
	@P_YN_RETURN	NVARCHAR(1)
)
AS

DECLARE
	@ERRMSG			NVARCHAR(255),
	@V_SERVER_KEY	NVARCHAR(50),
	@R_QT			NUMERIC(17,4),
	@V_CD_PLANT		NVARCHAR(7),
	@V_FG_IO		NVARCHAR(3),
	@V_CD_QTIOTP	NVARCHAR(7)

SELECT @V_SERVER_KEY = MAX(SERVER_KEY) FROM CM_SERVER_CONFIG WHERE YN_UPGRADE = 'Y'

--MM_QTIOLOT 에 해당 LOT 번호로 SUM( QT_LOT - QT_REMAIN ) 이 현재 처리하려고 하는 수량보다 적으면 리턴한다.
SELECT @R_QT = SUM(QT_IO - ISNULL(QT_MGMT, 0))
FROM MM_QTIOLOT
WHERE CD_COMPANY = @P_CD_COMPANY
AND FG_PS = '1' -- 입고
AND CD_ITEM = @P_CD_ITEM
AND CD_SL = @P_CD_SL

IF (@P_QT_IO > ISNULL(@R_QT,0))
BEGIN
	SELECT @ERRMSG = '[UP_CZ_PR_MES_MATL_LOT_FIFO_I] 처리하려고 하는 LOT 수량이 부족합니다. : 품목코드[' + @P_CD_ITEM + ']'
	GOTO ERROR
END

SELECT
	@V_CD_PLANT = CD_PLANT,
	@V_FG_IO = FG_IO,
	@V_CD_QTIOTP = CD_QTIOTP
FROM MM_QTIO
WHERE CD_COMPANY = @P_CD_COMPANY
AND NO_IO = @P_NO_IO
AND NO_IOLINE = @P_NO_IOLINE

IF (@V_FG_IO IS NULL OR @V_CD_QTIOTP IS NULL)
BEGIN
	SELECT @ERRMSG = '[UP_CZ_PR_MES_MATL_LOT_FIFO_I] 수불번호의 품목이 다릅니다. : 수불번호[' + @P_NO_IO + '], 수불항번[' + CONVERT(NVARCHAR,@P_NO_IOLINE) + '], 품목코드[' + @P_CD_ITEM + ']'
	GOTO ERROR
END

---------------------------------------------------------------------
-- 선입선출 기준(ORDER BY) 변경때문에 TEMP TABLE INSERT 분리 
-- 서버키로 ORDERING 변경
---------------------------------------------------------------------
DECLARE @LOT_TMP_TABLE TABLE
(
	SEQ			NUMERIC(10,0),
	
	NO_IO		NVARCHAR(20), 
	NO_IOLINE	NUMERIC(5,0),
	NO_IOLINE2	NUMERIC(5,0),
	NO_LOT		NVARCHAR(50), 
	QT_IO		NUMERIC(17,4), 
	QT_MGMT		NUMERIC(17,4),
	
	DT_LIMIT NVARCHAR(8),
	CD_MNG1	 NVARCHAR(200), CD_MNG2	 NVARCHAR(200), CD_MNG3	 NVARCHAR(200), CD_MNG4	 NVARCHAR(200), CD_MNG5	 NVARCHAR(200),
	CD_MNG6	 NVARCHAR(200), CD_MNG7	 NVARCHAR(200), CD_MNG8	 NVARCHAR(200), CD_MNG9	 NVARCHAR(200), CD_MNG10 NVARCHAR(200),
	CD_MNG11 NVARCHAR(200), CD_MNG12 NVARCHAR(200), CD_MNG13 NVARCHAR(200), CD_MNG14 NVARCHAR(200), CD_MNG15 NVARCHAR(200),
	CD_MNG16 NVARCHAR(200), CD_MNG17 NVARCHAR(200), CD_MNG18 NVARCHAR(200), CD_MNG19 NVARCHAR(200), CD_MNG20 NVARCHAR(200)
)
INSERT INTO @LOT_TMP_TABLE (
	SEQ,
	NO_IO, NO_IOLINE, NO_IOLINE2, NO_LOT, QT_IO, QT_MGMT,
	DT_LIMIT, 
	CD_MNG1, CD_MNG2, CD_MNG3, CD_MNG4, CD_MNG5, 
	CD_MNG6, CD_MNG7, CD_MNG8, CD_MNG9, CD_MNG10,
	CD_MNG11, CD_MNG12, CD_MNG13, CD_MNG14, CD_MNG15,
	CD_MNG16, CD_MNG17, CD_MNG18, CD_MNG19, CD_MNG20
)
SELECT	ROW_NUMBER()OVER(ORDER BY DT_IO, CD_MNG1, NO_LOT),
		NO_IO, NO_IOLINE, NO_IOLINE2, NO_LOT, QT_IO, ISNULL(QT_MGMT, 0),
		DT_LIMIT, 
		CD_MNG1, CD_MNG2, CD_MNG3, CD_MNG4, CD_MNG5, 
		CD_MNG6, CD_MNG7, CD_MNG8, CD_MNG9, CD_MNG10,
		CD_MNG11, CD_MNG12, CD_MNG13, CD_MNG14, CD_MNG15,
		CD_MNG16, CD_MNG17, CD_MNG18, CD_MNG19, CD_MNG20
FROM MM_QTIOLOT
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_PLANT = @V_CD_PLANT
AND FG_PS = '1'
AND CD_ITEM = @P_CD_ITEM
AND QT_IO > ISNULL(QT_MGMT,0)
AND CD_SL = @P_CD_SL
ORDER BY DT_IO, CD_MNG1, NO_LOT ASC
---------------------------------------------------------------------

DECLARE
	@V_LEFT_QT_IO		NUMERIC(17,4),
	@V_CUR_NO_IO		NVARCHAR(20),
	@V_CUR_NO_IOLINE	NUMERIC(5,0),
	@V_CUR_NO_IOLINE2	NUMERIC(5,0),
	@V_CUR_NO_LOT		NVARCHAR(50),
	@V_CUR_QT_IO		NUMERIC(17,4),
	@V_CUR_QT_MGMT		NUMERIC(17,4),
	@V_CUR_USE_QT		NUMERIC(17,4),
	
	@V_DT_LIMIT	NVARCHAR(8),
	@V_CD_MNG1	NVARCHAR(200), @V_CD_MNG2	NVARCHAR(200), @V_CD_MNG3	NVARCHAR(200), @V_CD_MNG4	NVARCHAR(200), @V_CD_MNG5	NVARCHAR(200),
	@V_CD_MNG6	NVARCHAR(200), @V_CD_MNG7	NVARCHAR(200), @V_CD_MNG8	NVARCHAR(200), @V_CD_MNG9	NVARCHAR(200), @V_CD_MNG10	NVARCHAR(200),
	@V_CD_MNG11	NVARCHAR(200), @V_CD_MNG12	NVARCHAR(200), @V_CD_MNG13	NVARCHAR(200), @V_CD_MNG14	NVARCHAR(200), @V_CD_MNG15	NVARCHAR(200),
	@V_CD_MNG16	NVARCHAR(200), @V_CD_MNG17	NVARCHAR(200), @V_CD_MNG18	NVARCHAR(200), @V_CD_MNG19	NVARCHAR(200), @V_CD_MNG20	NVARCHAR(200)

SELECT @V_LEFT_QT_IO = @P_QT_IO, @V_CUR_USE_QT = 0

DECLARE CUR_MES_LOT_FIFO CURSOR FOR
	SELECT	NO_IO, NO_IOLINE, NO_IOLINE2, NO_LOT, QT_IO, ISNULL(QT_MGMT, 0),
			DT_LIMIT, 
			CD_MNG1, CD_MNG2, CD_MNG3, CD_MNG4, CD_MNG5, 
			CD_MNG6, CD_MNG7, CD_MNG8, CD_MNG9, CD_MNG10,
			CD_MNG11, CD_MNG12, CD_MNG13, CD_MNG14, CD_MNG15,
			CD_MNG16, CD_MNG17, CD_MNG18, CD_MNG19, CD_MNG20
	FROM @LOT_TMP_TABLE
	ORDER BY SEQ ASC

OPEN CUR_MES_LOT_FIFO
	FETCH NEXT FROM CUR_MES_LOT_FIFO
	INTO @V_CUR_NO_IO, @V_CUR_NO_IOLINE, @V_CUR_NO_IOLINE2, @V_CUR_NO_LOT, @V_CUR_QT_IO, @V_CUR_QT_MGMT,
		@V_DT_LIMIT, 
		@V_CD_MNG1, @V_CD_MNG2, @V_CD_MNG3, @V_CD_MNG4, @V_CD_MNG5, 
		@V_CD_MNG6, @V_CD_MNG7, @V_CD_MNG8, @V_CD_MNG9, @V_CD_MNG10,
		@V_CD_MNG11, @V_CD_MNG12, @V_CD_MNG13, @V_CD_MNG14, @V_CD_MNG15,
		@V_CD_MNG16, @V_CD_MNG17, @V_CD_MNG18, @V_CD_MNG19, @V_CD_MNG20

WHILE(@@FETCH_STATUS = 0 AND @V_LEFT_QT_IO > 0)
BEGIN
	IF(@V_CUR_QT_IO - @V_CUR_QT_MGMT >= @V_LEFT_QT_IO)
		SET @V_CUR_USE_QT = @V_LEFT_QT_IO
	ELSE
		SET @V_CUR_USE_QT = @V_CUR_QT_IO - @V_CUR_QT_MGMT

	EXEC UP_MM_QTIOLOT_INSERT
			@P_CD_COMPANY		= @P_CD_COMPANY,
			@P_NO_IO			= @P_NO_IO,
			@P_NO_IOLINE		= @P_NO_IOLINE,
			@P_NO_LOT			= @V_CUR_NO_LOT,
			@P_CD_ITEM			= @P_CD_ITEM,
			@P_DT_IO			= @P_DT_IO,
			@P_FG_PS			= '2',
			@P_FG_IO			= @V_FG_IO,
			@P_CD_QTIOTP		= @V_CD_QTIOTP,
			@P_CD_SL			= @P_CD_SL,
			@P_QT_IO			= @V_CUR_USE_QT,
			@P_NO_IO_MGMT		= @V_CUR_NO_IO,
			@P_NO_IOLINE_MGMT	= @V_CUR_NO_IOLINE,
			@P_NO_IOLINE_MGMT2	= @V_CUR_NO_IOLINE2,
			@P_YN_RETURN		= @P_YN_RETURN,
			@CD_PLANT_PR		= NULL,
			@NO_IO_PR			= NULL,
			@NO_LINE_IO_PR		= 0,
			@NO_LINE_IO2_PR		= 0,
			@FG_SLIP_PR			= NULL,
			@NO_LOT_PR			= NULL,
			@P_NO_SO			= NULL,
			@P_DT_LIMIT			= @V_DT_LIMIT,
			@P_DC_LOTRMK		= NULL,
			@P_CD_PLANT			= @V_CD_PLANT,
			@P_ROOT_NO_LOT		= NULL,
			@P_ID_INSERT		= NULL,
			@P_BEF_NO_LOT		= NULL,
			@P_FG_LOT_ADD		= 'N',
			@P_BARCODE			= NULL,
			@P_CD_MNG1			= @V_CD_MNG1,
			@P_CD_MNG2			= @V_CD_MNG2,
			@P_CD_MNG3			= @V_CD_MNG3,
			@P_CD_MNG4			= @P_NO_WO,
			@P_CD_MNG5			= @V_CD_MNG5,
			@P_CD_MNG6			= @V_CD_MNG6,
			@P_CD_MNG7			= @V_CD_MNG7,
			@P_CD_MNG8			= @V_CD_MNG8,
			@P_CD_MNG9			= @V_CD_MNG9,
			@P_CD_MNG10			= @V_CD_MNG10,
			@P_CD_MNG11			= @V_CD_MNG11,
			@P_CD_MNG12			= @V_CD_MNG12,
			@P_CD_MNG13			= @V_CD_MNG13,
			@P_CD_MNG14			= @V_CD_MNG14,
			@P_CD_MNG15			= @V_CD_MNG15,
			@P_CD_MNG16			= @V_CD_MNG16,
			@P_CD_MNG17			= @V_CD_MNG17,
			@P_CD_MNG18			= @V_CD_MNG18,
			@P_CD_MNG19			= @V_CD_MNG19,
			@P_CD_MNG20			= @V_CD_MNG20,
			@P_NO_POP			= NULL,
			@P_NO_POP_LINE		= 0,
			@P_NO_POP_LINE2		= 0,
			@P_NUM_USERDEF1		= NULL,
			@P_NUM_USERDEF2		= NULL,
			@P_NUM_USERDEF3		= NULL,
			@P_NUM_USERDEF4		= NULL,
			@P_NUM_USERDEF5		= NULL
				
	IF (@@ERROR <> 0)
	BEGIN
		CLOSE CUR_MES_LOT_FIFO
		DEALLOCATE CUR_MES_LOT_FIFO

		SELECT @ERRMSG = '[UP_CZ_PR_MES_MATL_LOT_FIFO_I]UP_MM_QTIOLOT_INSERT SP CALL ERROR.'
		GOTO ERROR
	END

	SET @V_LEFT_QT_IO = @V_LEFT_QT_IO - @V_CUR_USE_QT

	FETCH NEXT FROM CUR_MES_LOT_FIFO
	INTO @V_CUR_NO_IO, @V_CUR_NO_IOLINE, @V_CUR_NO_IOLINE2, @V_CUR_NO_LOT, @V_CUR_QT_IO, @V_CUR_QT_MGMT,
		@V_DT_LIMIT, 
		@V_CD_MNG1, @V_CD_MNG2, @V_CD_MNG3, @V_CD_MNG4, @V_CD_MNG5, 
		@V_CD_MNG6, @V_CD_MNG7, @V_CD_MNG8, @V_CD_MNG9, @V_CD_MNG10,
		@V_CD_MNG11, @V_CD_MNG12, @V_CD_MNG13, @V_CD_MNG14, @V_CD_MNG15,
		@V_CD_MNG16, @V_CD_MNG17, @V_CD_MNG18, @V_CD_MNG19, @V_CD_MNG20
END

CLOSE CUR_MES_LOT_FIFO
DEALLOCATE CUR_MES_LOT_FIFO

RETURN

ERROR: RAISERROR (@ERRMSG, 18, 1)
RETURN