<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="prd.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <prd.Settings>
            <setting name="작업품목코드" serializeAs="String">
                <value />
            </setting>
            <setting name="작업품목명" serializeAs="String">
                <value />
            </setting>
            <setting name="경로유형코드" serializeAs="String">
                <value />
            </setting>
            <setting name="작업지시수량" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="회사코드" serializeAs="String">
                <value />
            </setting>
            <setting name="기준월" serializeAs="String">
                <value />
            </setting>
        </prd.Settings>
    </userSettings>
</configuration>