USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_PU_POST_RPT_H_SELECT]    Script Date: 2023-05-03 오후 6:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************                          
**  System : 구매                        
**  Sub System : 발주                        
**  Page  : 발주진행현황 H
**  Desc  :    
**  Return Values                          
**                          
**  작    성    자  :                        
**  작    성    일  :                       
**  수    정    자  :                          
*********************************************                          
** Change History                       
** 2010.02.08 - 안종호 - 조회 조건 추가 및 컬럼 추가 - 요청자, 요청부서, 요청구매그룹 추가(김헌섭:크라제)
2013.01.31 : D20130131008 : UI에서 속도저하되는 현상 SET NOCOUNT ON 추가함
*********************************************/    
ALTER PROC [NEOE].[UP_CZ_PU_POST_RPT_H_SELECT]  
(  
     @P_CD_COMPANY		NVARCHAR(7),  
     @P_CD_BIZAREA		NVARCHAR(7),  
     @P_CD_PLANT		NVARCHAR(7),  
     @P_TYPE_DT			NVARCHAR(3),  
     @P_DT_PO_FROM		NVARCHAR(8),  
     @P_DT_PO_TO		NVARCHAR(8),  
     @P_FG_POST			NVARCHAR(4000),  
     @P_FG_TRANS		NVARCHAR(3),  
     @P_CD_PURGRP		NVARCHAR(4000),  
     @P_NO_EMP			NVARCHAR(10),  
     @P_TYPE_UNIT		NVARCHAR(3),  
     @P_YN_RCV			NVARCHAR(4),   
     @P_TAB_NAME		NVARCHAR(50),  
     @P_MULTI_CD_SL		VARCHAR(8000),
     @P_CD_CC			NVARCHAR(12),
	 @P_REQ_PURGRP		NVARCHAR(4000), --요청구매그룹
	 @P_REQ_DEPT		NVARCHAR(12), --요청부서
	 @P_REQ_EMP 		NVARCHAR(10),  --요청자 
	 @P_NO_PO			NVARCHAR(20),  --발주번호 2011.03.04 황슬기 추가
	 @P_NO_PARTNER		NVARCHAR(20),   --거래처 2011.03.04 황슬기 추가   
	 @P_CD_PJT			NVARCHAR(20),
	 @P_CD_ITEM			NVARCHAR(20),
     @P_FG_LANG			NVARCHAR(4) = NULL	--언어
)  
AS
DECLARE
	@V_STR_CONV1 NVARCHAR(300),
	@V_STR_CONV2 NVARCHAR(300)
-- MultiLang Call
	EXEC UP_MA_LOCAL_LANGUAGE @P_FG_LANG

	SET @V_STR_CONV1 = NEOE.FN_GET_MF_DD(@P_CD_COMPANY, 'PU', '유환', @P_FG_LANG)
	SET @V_STR_CONV2 = NEOE.FN_GET_MF_DD(@P_CD_COMPANY, 'PU', '무환', @P_FG_LANG)


SET NOCOUNT ON
IF (@P_TAB_NAME = 'NO_PO')                --발주번호별  
BEGIN  
           SELECT DISTINCT 'N' CHK, H.NO_PO, H.CD_PLANT, H.CD_PARTNER, H.DT_PO, H.CD_PURGRP, H.NO_EMP, H.CD_TPPO, H.FG_UM, H.FG_PAYMENT,   
                  RTRIM(H.FG_TAX) FG_TAX, H.TP_UM_TAX,  H.CD_EXCH, H.RT_EXCH, H.AM_EX, H.AM, H.VAT, H.DC50_PO DC_RMK, H.TP_PROCESS,   
                  H.FG_TAXP, 
                  CASE WHEN H.YN_AM = 'Y' THEN @V_STR_CONV1 ELSE @V_STR_CONV2 END YN_AM,   
                  H.FG_TRANS, P.NM_PLANT, A.LN_PARTNER, B.NM_KOR, C.NM_PURGRP, D.NM_TPPO,   
                  E.NM_SYSDEF NM_TRANS, F.NM_TP NM_PURCHASE, H.DC_RMK2, H.FG_WEB, H.DT_WEB, H.NO_ORDER
             FROM PU_POH H  
       INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
              AND L.NO_PO = H.NO_PO  
       INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
              AND P.CD_PLANT = H.CD_PLANT  
  LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
              AND A.CD_PARTNER = H.CD_PARTNER  
  LEFT OUTER JOIN DZSN_MA_EMP B ON B.CD_COMPANY = @P_CD_COMPANY  
              AND B.NO_EMP = H.NO_EMP  
  LEFT OUTER JOIN DZSN_MA_PURGRP C ON C.CD_COMPANY = @P_CD_COMPANY  
              AND C.CD_PURGRP = H.CD_PURGRP  
  LEFT OUTER JOIN DZSN_PU_TPPO D ON D.CD_COMPANY = @P_CD_COMPANY  
              AND D.CD_TPPO = H.CD_TPPO  
  LEFT OUTER JOIN DZSN_MA_CODEDTL E ON E.CD_COMPANY = @P_CD_COMPANY  
              AND E.CD_FIELD = 'PU_C000016'        --거래구분  
              AND E.CD_SYSDEF = H.FG_TRANS  
  LEFT OUTER JOIN DZSN_MA_AISPOSTH F ON F.CD_COMPANY = @P_CD_COMPANY  
              AND F.FG_TP = '200'        --매입형태  
              AND F.CD_TP = L.FG_PURCHASE  
          
  LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
 LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
 LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청 부서, 요청자 조회조건 때문에 추가
 LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
 LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY 
							
          
            WHERE H.CD_COMPANY = @P_CD_COMPANY  
              AND P.CD_BIZAREA = @P_CD_BIZAREA  
              AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
              AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
               OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
              --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
              AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)    
              AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
              AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
              AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
          --@P_TYPE_UNIT  
              AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
               OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
               OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
              AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)    
              AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL))
              AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
				AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
				AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원  
				AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
				AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL)) 
				AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT) 
				AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
             /*GROUP BY H.NO_PO, H.CD_PLANT, H.CD_PARTNER, H.DT_PO, H.CD_PURGRP, H.NO_EMP, H.CD_TPPO, H.FG_UM, H.FG_PAYMENT,   
              H.FG_TAX, H.TP_UM_TAX,  H.CD_EXCH, H.RT_EXCH, H.AM_EX, H.AM, H.VAT, H.DC50_PO, H.TP_PROCESS,   
              H.FG_TAXP, H.YN_AM, H.FG_TRANS, P.NM_PLANT, A.LN_PARTNER, B.NM_KOR, C.NM_PURGRP, D.NM_TPPO,   
              E.NM_SYSDEF, F.NM_TP  
 */
         ORDER BY H.NO_PO  
END
  
ELSE IF (@P_TAB_NAME = 'DT')                        --일자별  
    BEGIN  
         SELECT 'N' CHK, H.DT_PO
           FROM PU_POH H  
     INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
            AND L.NO_PO = H.NO_PO  
     INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_PLANT = H.CD_PLANT
     LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
	LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청부서, 요청자조회조건때문에추가
	LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY 
  LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
              AND A.CD_PARTNER = H.CD_PARTNER 

          WHERE H.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_BIZAREA = @P_CD_BIZAREA  
            AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
            AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
             OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
            --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
            AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
            AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
          --@P_TYPE_UNIT  
            AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
             OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
             OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
            AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
            AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL))
            AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
			AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
			AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원   
			AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
			AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL))  
			AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)
			AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
       GROUP BY H.DT_PO
       ORDER BY H.DT_PO  
    END  
ELSE IF (@P_TAB_NAME = 'CD_PARTNER')        --거래처별  
BEGIN  
         SELECT 'N' CHK, H.CD_PARTNER, A.LN_PARTNER
           FROM PU_POH H  
     INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
            AND L.NO_PO = H.NO_PO  
     INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_PLANT = H.CD_PLANT  
LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
            AND A.CD_PARTNER = H.CD_PARTNER  
     LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
	LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청부서, 요청자조회조건때문에추가
	LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY              
          WHERE H.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_BIZAREA = @P_CD_BIZAREA  
            AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
            AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
             OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
            --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
            AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
            AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
          --@P_TYPE_UNIT  
            AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
             OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
             OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
            AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
            AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL))
            AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원
AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL))     
AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)
AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
       GROUP BY H.CD_PARTNER, A.LN_PARTNER
       ORDER BY H.CD_PARTNER  
END  
ELSE IF (@P_TAB_NAME = 'CD_ITEM')                --품목별  
BEGIN  
     --2000 에서는 GROUPING에 ISNULL 처리를 할수가 없으므로 GROUPING한 데이타에 DISTINCT를 걸어준다.  
     --DISTINCT를 걸어주지 않으면 UNIT_IM 에 NULL과 '' 데이타가 GROUP 안에 함께 나와   
     --실질적으로 보고싶어하는 갯수보다 데이타가 더 나올 수 있다.(중복되서)  
     --따라서 SELECT 저러에서 ISNULL 처리를 한 데이타를 DISTINCT로 걸러낸다.  
          SELECT DISTINCT 'N' CHK, L.CD_ITEM, M.NM_ITEM, ISNULL(M.STND_ITEM, '') STND_ITEM,   
                 CASE WHEN @P_TYPE_UNIT = '001' THEN ISNULL(M.UNIT_PO, '') WHEN @P_TYPE_UNIT = '002' THEN ISNULL(M.UNIT_IM, '') END UNIT_IM   ,
                 M.GRP_ITEM,    MI.NM_ITEMGRP,    M.GRP_MFG,    MC.NM_SYSDEF AS NM_GRP_MFG,    M.STND_DETAIL_ITEM,    M.MAT_ITEM,    MP.LN_PARTNER   
            FROM PU_POH H  
    INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
             AND L.NO_PO = H.NO_PO  
      INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
             AND P.CD_PLANT = H.CD_PLANT  
 LEFT OUTER JOIN DZSN_MA_PITEM M ON M.CD_COMPANY = @P_CD_COMPANY  
             AND M.CD_PLANT = H.CD_PLANT  
             AND M.CD_ITEM = L.CD_ITEM  
     LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
	LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청부서, 요청자조회조건때문에추가
	LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
              AND A.CD_PARTNER = H.CD_PARTNER  	
    LEFT OUTER JOIN DZSN_MA_ITEMGRP MI ON M.GRP_ITEM = MI.CD_ITEMGRP AND M.CD_COMPANY = MI.CD_COMPANY

	LEFT OUTER JOIN DZSN_MA_CODEDTL MC ON MC.CD_COMPANY = M.CD_COMPANY AND MC.CD_FIELD = 'MA_B000066' AND MC.CD_SYSDEF = M.GRP_MFG  

	LEFT OUTER JOIN DZSN_MA_PARTNER MP ON MP.CD_COMPANY = M.CD_COMPANY AND MP.CD_PARTNER = M.PARTNER
           WHERE H.CD_COMPANY = @P_CD_COMPANY  
             AND P.CD_BIZAREA = @P_CD_BIZAREA  
             AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
             AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
              OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
             --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
             AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
             AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
             AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
             AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
          --@P_TYPE_UNIT  
             AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
              OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
              OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
             AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
             AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL))   
             AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원
AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL)) 
AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)
AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
         --GROUP BY L.CD_ITEM, M.NM_ITEM, M.STND_ITEM, M.UNIT_IM, L.CD_UNIT_MM  
     ORDER BY L.CD_ITEM  
END  
ELSE IF (@P_TAB_NAME = 'PROJECT')                --프로젝트별  
BEGIN  
         SELECT DISTINCT 'N' AS CHK, ISNULL(L.CD_PJT, '')  AS CD_PJT, SP.NM_PROJECT
           FROM PU_POH H  
     INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
            AND L.NO_PO = H.NO_PO  
     INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_PLANT = H.CD_PLANT  
LEFT OUTER JOIN  DZSN_SA_PROJECTH SP ON L.CD_COMPANY = SP.CD_COMPANY AND L.CD_PJT = SP.NO_PROJECT    
     LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
	LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청부서, 요청자조회조건때문에추가
	LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
              AND A.CD_PARTNER = H.CD_PARTNER   	
          WHERE H.CD_COMPANY = @P_CD_COMPANY  
  AND P.CD_BIZAREA = @P_CD_BIZAREA  
            AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
            AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
             OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
            --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
            AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
            AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
          --@P_TYPE_UNIT  
            AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
             OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
             OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
            AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
            AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL))   
            AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원
AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL)) 
AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)
AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
         --GROUP BY ISNULL(L.CD_PJT, ''), SP.NM_PROJECT  
       ORDER BY  ISNULL(L.CD_PJT, '') , SP.NM_PROJECT  
END  
ELSE IF (@P_TAB_NAME = 'CD_PURGRP')        --구매그룹별  
BEGIN  
         SELECT 'N' CHK, H.CD_PURGRP, C.NM_PURGRP
           FROM PU_POH H  
     INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
            AND L.NO_PO = H.NO_PO  
     INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_PLANT = H.CD_PLANT  
LEFT OUTER JOIN DZSN_MA_PURGRP C ON C.CD_COMPANY = @P_CD_COMPANY  
            AND C.CD_PURGRP = H.CD_PURGRP
              LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
              AND A.CD_PARTNER = H.CD_PARTNER   
          WHERE H.CD_COMPANY = @P_CD_COMPANY  
            AND P.CD_BIZAREA = @P_CD_BIZAREA  
            AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
            AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
             OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
            --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
            AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
            AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
            AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
          --@P_TYPE_UNIT  
            AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
             OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
             OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
            AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
            AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL)) 
            AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
            AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL))
            AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)    
			AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
       GROUP BY H.CD_PURGRP, C.NM_PURGRP
       ORDER BY H.CD_PURGRP  
END  
ELSE IF (@P_TAB_NAME = 'TP_PU')                        --발주형태별  
BEGIN  
             SELECT 'N' CHK, H.CD_TPPO, D.NM_TPPO
               FROM PU_POH H  
         INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
                AND L.NO_PO = H.NO_PO  
         INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
                AND P.CD_PLANT = H.CD_PLANT  
    LEFT OUTER JOIN DZSN_PU_TPPO D ON D.CD_COMPANY = @P_CD_COMPANY  
                AND D.CD_TPPO = H.CD_TPPO  
        LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
	LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청부서, 요청자조회조건때문에추가
	LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY
	 LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
              AND A.CD_PARTNER = H.CD_PARTNER   	
              WHERE H.CD_COMPANY = @P_CD_COMPANY  
                AND P.CD_BIZAREA = @P_CD_BIZAREA  
                AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
                AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
                 OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
                --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
                AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
                AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
                AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
                AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
              --@P_TYPE_UNIT  
                AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
                 OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
                 OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
                AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
                AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL)) 
                AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원  
AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL))  
AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)
AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
           GROUP BY H.CD_TPPO, D.NM_TPPO  
           ORDER BY H.CD_TPPO  
END  
ELSE IF (@P_TAB_NAME = 'TP_CC')                        --CC코드별
BEGIN  
              SELECT 'N' CHK, ISNULL(L.CD_CC,'')AS CD_CC, C.NM_CC
                FROM PU_POH H  
          INNER JOIN PU_POL L ON L.CD_COMPANY = @P_CD_COMPANY  
                 AND L.NO_PO = H.NO_PO  
          INNER JOIN DZSN_MA_PLANT P ON P.CD_COMPANY = @P_CD_COMPANY  
                 AND P.CD_PLANT = H.CD_PLANT  
     LEFT OUTER JOIN DZSN_PU_TPPO D ON D.CD_COMPANY = @P_CD_COMPANY  
                 AND D.CD_TPPO = H.CD_TPPO
     LEFT OUTER JOIN DZSN_MA_CC C ON L.CD_CC = C.CD_CC AND C.CD_COMPANY = L.CD_COMPANY
    LEFT OUTER JOIN PU_PRL PRL ON PRL.NO_PR = L.NO_PR AND PRL.NO_PRLINE = L.NO_PRLINE AND PRL.CD_COMPANY = L.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PURGRP G1 ON PRL.CD_PURGRP = G1.CD_PURGRP  AND PRL.CD_COMPANY = G1.CD_COMPANY 	
	LEFT OUTER JOIN PU_PRH PRH ON PRH.CD_COMPANY = PRL.CD_COMPANY AND PRH.NO_PR = PRL.NO_PR  AND PRH.CD_PLANT  = PRL.CD_PLANT -- 요청부서, 요청자조회조건때문에추가
	LEFT OUTER JOIN  DZSN_MA_EMP E1 ON PRH.NO_EMP= E1.NO_EMP AND  E1.CD_COMPANY =@P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_DEPT DE ON PRH.CD_DEPT = DE.CD_DEPT AND @P_CD_COMPANY = DE.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_PARTNER A ON A.CD_COMPANY  = @P_CD_COMPANY  
   AND A.CD_PARTNER = H.CD_PARTNER   	   
               WHERE H.CD_COMPANY = @P_CD_COMPANY  
                 AND P.CD_BIZAREA = @P_CD_BIZAREA  
                 AND (L.CD_PLANT = @P_CD_PLANT OR @P_CD_PLANT = '' OR @P_CD_PLANT IS NULL)  
                 AND ((@P_TYPE_DT = '001' AND (H.DT_PO BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO))   
                  OR (@P_TYPE_DT = '002' AND (L.DT_LIMIT BETWEEN @P_DT_PO_FROM AND @P_DT_PO_TO)))  
                 --AND (L.FG_POST = @P_FG_POST OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
                 AND (L.FG_POST IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_FG_POST)) OR @P_FG_POST = '' OR @P_FG_POST IS NULL)  
                 AND (H.FG_TRANS = @P_FG_TRANS OR @P_FG_TRANS = '' OR @P_FG_TRANS IS NULL)  
                 AND (H.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_CD_PURGRP)) OR @P_CD_PURGRP = '' OR @P_CD_PURGRP IS NULL)  
                 AND (H.NO_EMP = @P_NO_EMP OR @P_NO_EMP = '' OR @P_NO_EMP IS NULL)  
              --@P_TYPE_UNIT  
                 AND ((@P_YN_RCV = '' OR @P_YN_RCV IS NULL OR @P_YN_RCV = '001')  
                  OR (@P_YN_RCV = '002' AND L.QT_PO_MM - L.QT_RCV_MM = 0)  
                  OR (@P_YN_RCV = '003' AND L.QT_PO_MM - L.QT_RCV_MM > 0))  
                 AND (L.CD_SL IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_CD_SL)) OR @P_MULTI_CD_SL = '' OR @P_MULTI_CD_SL IS NULL)   
                 AND ((L.CD_CC = @P_CD_CC) OR (@P_CD_CC = '') OR (@P_CD_CC IS NULL))
                 AND  (( PRL.CD_PURGRP IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_REQ_PURGRP))) OR (@P_REQ_PURGRP = '' ) OR (@P_REQ_PURGRP  IS NULL)) --요청구매그룹  
AND (( PRH.CD_DEPT  =@P_REQ_DEPT) OR (@P_REQ_DEPT = '' ) OR (@P_REQ_DEPT  IS NULL)) --요청부서
AND (( PRH.NO_EMP  =@P_REQ_EMP) OR (@P_REQ_EMP = '' ) OR (@P_REQ_EMP  IS NULL)) -- 요청인원
AND (( L.NO_PO LIKE '%' + @P_NO_PO + '%') OR (@P_NO_PO = '') OR (@P_NO_PO IS NULL))
AND ((A.CD_PARTNER = @P_NO_PARTNER) OR (@P_NO_PARTNER = '') OR (@P_NO_PARTNER IS NULL))  
AND (@P_CD_PJT = '' OR @P_CD_PJT IS NULL OR @P_CD_PJT = L.CD_PJT)
AND (@P_CD_ITEM = '' OR @P_CD_ITEM IS NULL OR @P_CD_ITEM = L.CD_ITEM)
            GROUP BY ISNULL(L.CD_CC,''), C.NM_CC
            ORDER BY ISNULL(L.CD_CC,'')  
END
    
SET NOCOUNT OFF