<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sale.Properties.Settings>
            <setting name="영업그룹코드" serializeAs="String">
                <value />
            </setting>
            <setting name="영업그룹명" serializeAs="String">
                <value />
            </setting>
            <setting name="수주형태코드" serializeAs="String">
                <value />
            </setting>
            <setting name="수주형태명" serializeAs="String">
                <value />
            </setting>
            <setting name="회사코드" serializeAs="String">
                <value />
            </setting>
            <setting name="화폐단위" serializeAs="String">
                <value />
            </setting>
            <setting name="부가세포함" serializeAs="String">
                <value />
            </setting>
            <setting name="계산서처리" serializeAs="String">
                <value />
            </setting>
            <setting name="MAIL_ADDR" serializeAs="String">
                <value />
            </setting>
        </sale.Properties.Settings>
    </userSettings>
</configuration>