USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_PU_PI_ITEM_EXP_SELECT]    Script Date: 2023-05-08 오전 11:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [NEOE].[UP_CZ_PU_PI_ITEM_EXP_SELECT]  
(  
	 @P_CD_SL               NVARCHAR(7),  
	 @P_CD_PLANT            NVARCHAR(7),  
	 @P_CD_COMPANY          NVARCHAR(7),  
	 @P_DT_IO               NCHAR(8),  
	 @P_QT_YN               NCHAR(1) = 'N',  
	 @P_FG_LOT				NCHAR(1) = 'N',  /*LOT 사용여부*/  
	 @P_CLS_ITEM            NCHAR(3) = '' , /*계정구분*/  
	 @P_CD_PJT              NVARCHAR(20) = '',  /*pjt코드*/  
	 @P_YN_PJT				NVARCHAR(1) = 'Y',
     @P_FG_LANG				NVARCHAR(4) = NULL,	--언어
     @P_YN_USE				NVARCHAR(1) = 'N'
)  
AS
-- MultiLang Call
EXEC UP_MA_LOCAL_LANGUAGE @P_FG_LANG
  
DECLARE @V_SERVER_KEY  VARCHAR(50)
BEGIN  
 SELECT @V_SERVER_KEY = MAX(SERVER_KEY) FROM CM_SERVER_CONFIG WHERE YN_UPGRADE = 'Y'
 
SELECT  'F' AS  CHK,S.CD_ITEM,S.NM_ITEM,S.STND_ITEM,S.UNIT_IM,     
		--CASE WHEN P.FG_LOTNO ='002' THEN 'YES' ELSE 'NO' END  AS NO_LOT,    
		--CASE WHEN P.FG_SERNO = '002'  THEN 'YES' ELSE 'NO' END  AS NO_LOT, 2011-05-16, 최승애     
		--CASE WHEN  @P_FG_LOT = 'Y' THEN ( CASE WHEN P.FG_SERNO = '002'  THEN A.NO_LOT   ELSE '' END ) ELSE 'N' END  AS NO_LOT,     
		S.QT_GOOD_INV,S.QT_GOOD_INV2,    
		S.QT_REJECT_INV,S.QT_REJECT_INV2,    
		S.QT_TRANS_INV,S.QT_TRANS_INV2,    
		S.QT_INSP_INV,S.QT_INSP_INV2,    
		S.YN_BLOCK, 'N' AS FLG,    
		S.CLS_ITEM,  S.NM_CLS_ITEM,    
		S.CD_PJT,   
		S.NM_PROJECT,  
		S.SEQ_PROJECT,
		S.CD_PJT_ITEM,
		S.NM_PJT_ITEM,
		S.PJT_ITEM_STND,
		S.NO_DESIGN,
		S.LOTSIZE,
		S.NO_DESIGN,
		S.LOTSIZE,
		S.GRP_ITEM,
		S.NM_ITEMGRP,
		S.GRP_MFG,
		S.NM_GRP_MFG,
		S.STND_DETAIL_ITEM,
		S.MAT_ITEM,
		S.NM_CLS_L,
		S.NM_CLS_M,
		S.NM_CLS_S,
		S.PARTNER,
		S.LN_PARTNER
FROM 
(
	SELECT  'F' AS  CHK,A.CD_ITEM,P.NM_ITEM,P.STND_ITEM,P.UNIT_IM,     
			--CASE WHEN P.FG_LOTNO ='002' THEN 'YES' ELSE 'NO' END  AS NO_LOT,    
			--CASE WHEN P.FG_SERNO = '002'  THEN 'YES' ELSE 'NO' END  AS NO_LOT, 2011-05-16, 최승애     
			--CASE WHEN  @P_FG_LOT = 'Y' THEN ( CASE WHEN P.FG_SERNO = '002'  THEN A.NO_LOT   ELSE '' END ) ELSE 'N' END  AS NO_LOT,     
			SUM(A.QT_GOOD_INV) QT_GOOD_INV,SUM(A.QT_GOOD_INV) AS QT_GOOD_INV2,    
			SUM(A.QT_REJECT_INV) QT_REJECT_INV,SUM(A.QT_REJECT_INV) QT_REJECT_INV2,    
			SUM(A.QT_TRANS_INV) QT_TRANS_INV,SUM(A.QT_TRANS_INV) QT_TRANS_INV2,    
			SUM(A.QT_INSP_INV) QT_INSP_INV,SUM(A.QT_INSP_INV) QT_INSP_INV2,    
			'' AS YN_BLOCK, 'N' AS FLG,    
			P.CLS_ITEM, C1.NM_SYSDEF AS NM_CLS_ITEM,    
			--ISNULL(A.CD_PJT,'') AS CD_PJT,   
			--ISNULL(PJT.NM_PROJECT,'') AS NM_PROJECT,  
			--ISNULL(A.SEQ_PROJECT,0) AS  SEQ_PROJECT  
			CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(A.CD_PJT,'') ELSE '' END AS CD_PJT,
			CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(A.SEQ_PROJECT,0) ELSE 0 END AS SEQ_PROJECT,
			CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(PJT.NM_PROJECT,'') ELSE '' END AS NM_PROJECT,
			CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(PJL.CD_ITEM,'') ELSE '' END AS CD_PJT_ITEM,		--프로젝트 품목코드      
			CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(I2.NM_ITEM,'') ELSE '' END AS NM_PJT_ITEM,		--프로젝트 품목명      
			CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(I2.STND_ITEM,'') ELSE '' END AS PJT_ITEM_STND,	--프로젝트 품목 규격   
			P.NO_DESIGN,
			P.LOTSIZE,
			P.GRP_ITEM,
			GP.NM_ITEMGRP,
			P.GRP_MFG,
			MC1.NM_SYSDEF AS NM_GRP_MFG,
			P.STND_DETAIL_ITEM,
			P.MAT_ITEM,
			MC2.NM_SYSDEF AS NM_CLS_L,
			MC3.NM_SYSDEF AS NM_CLS_M,
			MC4.NM_SYSDEF AS NM_CLS_S,
			P.PARTNER,
			PTN.LN_PARTNER
	FROM    
	(    
		 SELECT CD_ITEM,    
			    --'' NO_LOT,        
			    QT_GOOD_INV,QT_REJECT_INV,QT_TRANS_INV,QT_INSP_INV,ISNULL(CD_PJT,'') AS CD_PJT, ISNULL(SEQ_PROJECT,0) AS  SEQ_PROJECT    
		 FROM MM_OPENQTL    
				 WHERE CD_SL = @P_CD_SL    
				 AND CD_PLANT = @P_CD_PLANT    
				 AND CD_COMPANY = @P_CD_COMPANY    
				 AND YM_STANDARD = SUBSTRING(@P_DT_IO,1,4)+'00'    
		             
		 UNION ALL    
		      
		 SELECT  M.CD_ITEM,    
				 --'' NO_LOT,    
				 SUM(M.QT_GOOD_GR - M.QT_GOOD_GI) QT_GOOD_INV ,SUM(M.QT_REJECT_GR - M.QT_REJECT_GI) QT_REJECT_INV,    
				 SUM(M.QT_TRANS_GR - M.QT_TRANS_GI) QT_TRANS_INV ,SUM(M.QT_INSP_GR - M.QT_INSP_GI) QT_INSP_INV    
				 ,ISNULL(CD_PJT,'') AS CD_PJT,   
				 ISNULL(SEQ_PROJECT,0) AS  SEQ_PROJECT    
		 FROM MM_OHSLINVM M     
		 WHERE M.CD_SL = @P_CD_SL    
				 AND M.CD_PLANT = @P_CD_PLANT    
				 AND M.CD_COMPANY = @P_CD_COMPANY    
				 AND M.YM_IO >= SUBSTRING(@P_DT_IO,1,4)+'01'    
				 AND M.YM_IO <  SUBSTRING(@P_DT_IO,1,6)            
		 GROUP BY M.CD_SL,M.CD_ITEM,CD_PJT, SEQ_PROJECT    
		                
		 UNION ALL    
		     
		 SELECT L.CD_ITEM, 
			   SUM(L.QT_GOOD_GR - L.QT_GOOD_GI) QT_GOOD_INV,  SUM(L.QT_REJECT_GR - L.QT_REJECT_GI) QT_REJECT_INV, 
			   SUM(L.QT_TRANS_GR - L.QT_TRANS_GI) QT_TRANS_INV, SUM(L.QT_INSP_GR - L.QT_INSP_GI) QT_INSP_INV,
			   ISNULL(L.CD_PJT, '') AS CD_PJT,
			   ISNULL(L.SEQ_PROJECT, 0) AS SEQ_PROJECT
		FROM MM_OHSLINVD L 
		WHERE L.CD_SL = @P_CD_SL    
		AND L.CD_PLANT = @P_CD_PLANT    
		AND L.CD_COMPANY = @P_CD_COMPANY    
				AND  L.DT_IO <= @P_DT_IO            
				AND  L.DT_IO > LEFT(@P_DT_IO, 6) + '00'   
		GROUP BY L.CD_ITEM, L.CD_PJT, L.SEQ_PROJECT
	 /*LOT 월일까지 구하기*/
	 ) A    
	INNER JOIN DZSN_MA_PITEM P ON A.CD_ITEM = P.CD_ITEM AND P.CD_PLANT =@P_CD_PLANT AND P.CD_COMPANY = @P_CD_COMPANY      
	LEFT OUTER JOIN DZSN_MA_CODEDTL C1 ON   C1.CD_FIELD = 'MA_B000010' AND C1.CD_SYSDEF = P.CLS_ITEM  AND C1.CD_COMPANY = P.CD_COMPANY   --2011.08.02 계정구분 멀티 추가 이장원     
	LEFT OUTER JOIN DZSN_SA_PROJECTH PJT ON A.CD_PJT = PJT.NO_PROJECT AND PJT.CD_COMPANY = @P_CD_COMPANY      
	LEFT OUTER JOIN SA_PROJECTL PJL ON A.SEQ_PROJECT = PJL.SEQ_PROJECT AND A.CD_PJT = PJL.NO_PROJECT AND PJT.CD_COMPANY = @P_CD_COMPANY 
	LEFT OUTER JOIN DZSN_MA_PITEM I2 ON PJL.CD_ITEM = I2.CD_ITEM AND PJL.CD_PLANT = I2.CD_PLANT AND PJL.CD_COMPANY = I2.CD_COMPANY
	LEFT OUTER JOIN DZSN_MA_ITEMGRP GP ON GP.CD_COMPANY = P.CD_COMPANY AND GP.CD_ITEMGRP = P.GRP_ITEM
	LEFT OUTER JOIN DZSN_MA_PARTNER PTN ON PTN.CD_COMPANY = P.CD_COMPANY AND PTN.CD_PARTNER = P.PARTNER
	LEFT OUTER JOIN DZSN_MA_CODEDTL MC1 ON MC1.CD_FIELD ='MA_B000066' AND MC1.CD_SYSDEF = P.GRP_MFG AND MC1.CD_COMPANY = P.CD_COMPANY    
	LEFT OUTER JOIN DZSN_MA_CODEDTL MC2 ON MC2.CD_FIELD ='MA_B000030' AND MC2.CD_SYSDEF = P.CLS_L AND MC2.CD_COMPANY = P.CD_COMPANY    
    LEFT OUTER JOIN DZSN_MA_CODEDTL MC3 ON MC3.CD_FIELD ='MA_B000031' AND MC3.CD_SYSDEF = P.CLS_M AND MC3.CD_COMPANY = P.CD_COMPANY    
    LEFT OUTER JOIN DZSN_MA_CODEDTL MC4 ON MC4.CD_FIELD ='MA_B000032' AND MC4.CD_SYSDEF = P.CLS_S AND MC4.CD_COMPANY = P.CD_COMPANY 

	WHERE (P.CLS_ITEM = @P_CLS_ITEM  OR @P_CLS_ITEM = '' OR @P_CLS_ITEM IS NULL)   
	--AND P.CLS_ITEM IN ('001','002','003','004','005','006','009') 
	AND (A.CD_PJT = @P_CD_PJT OR @P_CD_PJT = '' OR @P_CD_PJT IS NULL)    
	--AND C1.CD_FLAG1 = 'Y'  
	AND ((@V_SERVER_KEY = 'WINPLUS' AND P.FG_SERNO <> '002') OR (@V_SERVER_KEY <> 'WINPLUS'))
	AND (@P_YN_USE = 'N' OR ( @P_YN_USE = 'Y' AND P.YN_USE = 'Y')) 
	   
	GROUP BY	A.CD_ITEM,P.NM_ITEM,P.STND_ITEM,P.UNIT_IM,     
				--CASE WHEN  @P_FG_LOT = 'Y' THEN ( CASE WHEN P.FG_SERNO = '002'  THEN A.NO_LOT   ELSE '' END ) ELSE 'N' END,    
				P.CLS_ITEM,    
				C1.NM_SYSDEF,
				CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(A.CD_PJT,'') ELSE '' END,
				CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(PJT.NM_PROJECT,'') ELSE '' END,
				CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(A.SEQ_PROJECT,0) ELSE 0 END,
				CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(PJL.CD_ITEM,'') ELSE '' END,
				CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(I2.NM_ITEM,'') ELSE '' END,
				CASE WHEN @P_YN_PJT = 'Y' THEN ISNULL(I2.STND_ITEM,'') ELSE '' END,
				P.NO_DESIGN,
				P.LOTSIZE,
				P.GRP_ITEM,
				GP.NM_ITEMGRP,
				P.GRP_MFG,
				MC1.NM_SYSDEF,
				P.STND_DETAIL_ITEM,
				P.MAT_ITEM,
				MC2.NM_SYSDEF,
				MC3.NM_SYSDEF,
				MC4.NM_SYSDEF,
				P.PARTNER,
				PTN.LN_PARTNER
)S
WHERE 
(@P_QT_YN = 'Y' AND S.QT_GOOD_INV > 0) OR @P_QT_YN = 'N' 
  
END