<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cz.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="cz.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cz.Settings>
            <setting name="메일유형" serializeAs="String">
                <value>납기문의</value>
            </setting>
            <setting name="발송자표시" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="서명표시" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="자동발송문구" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="메일내용" serializeAs="String">
                <value />
            </setting>
            <setting name="자동발송여부" serializeAs="String">
                <value>False</value>
            </setting>
        </cz.Settings>
        <cz.Settings1>
            <setting name="매일유형" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="발송자표시" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="서명표시" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="자동발송문구" serializeAs="String">
                <value>True</value>
            </setting>
        </cz.Settings1>
    </userSettings>
</configuration>