ALTER PROCEDURE [NEOE].[SP_CZ_QR_LABEL_GI_STOCK_S]
(
	@P_MODE			INT, 
	@P_CD_COMPANY	NVARCHAR(7), 
	@P_DT_FROM		NVARCHAR(8),
	@P_DT_TO		NVARCHAR(8),
	@P_NO_FILE		NVARCHAR(20),
	@P_NO_HULL		NVARCHAR(20),
	@P_CD_ITEM		NVARCHAR(20)
)
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SELECT 'N' AS S,
	   EL.CD_COMPANY,
	   EL.NO_GIREQ,
	   EL.NO_LINE,
	   EL.NO_PO AS NO_GIR,
	   EL.NO_PO_LINE AS SEQ_GIR,
	   EL.NO_SO,
	   EL.SEQ_SO,
	   LB.NO_SEQ,
	   MP.LN_PARTNER AS NM_BUYER,
	   MH.NM_VESSEL,
	   SH.NO_PO_PARTNER AS NO_REF,
	   QL.NO_DSP,
	   QL.NM_SUBJECT,
	   QL.CD_ITEM_PARTNER,
	   QL.NM_ITEM_PARTNER,
	   EL.CD_ITEM,
	   MI.CD_ZONE,
	   MC.NM_SYSDEF AS NM_UNIT,
	   ISNULL(EL.QT_GIREQ, 0) AS QT_GIR,
	   ISNULL(EL.QT_GI, 0) AS QT_GI,
	   ISNULL(LB.QT, 0) AS QT_LABEL,
	   ISNULL(EL.QT_GIREQ, 0) AS QT_WORK
FROM MM_GIREQL EL
JOIN MM_GIREQH EH ON EH.CD_COMPANY = EL.CD_COMPANY AND EH.NO_GIREQ = EL.NO_GIREQ
LEFT JOIN SA_SOH SH ON SH.CD_COMPANY = EL.CD_COMPANY AND SH.NO_SO = EL.NO_SO
LEFT JOIN CZ_SA_QTNL QL ON QL.CD_COMPANY = EL.CD_COMPANY AND QL.NO_FILE = EL.NO_SO AND QL.NO_LINE = EL.SEQ_SO
LEFT JOIN CZ_QR_LABELL LB ON LB.CD_COMPANY = EL.CD_COMPANY AND LB.NO_KEY = EL.NO_GIREQ AND LB.NO_LINE = EL.NO_LINE
LEFT JOIN MA_PARTNER MP ON MP.CD_COMPANY = EH.CD_COMPANY AND MP.CD_PARTNER = EH.CD_PARTNER
LEFT JOIN CZ_MA_HULL MH ON MH.NO_IMO = SH.NO_IMO
LEFT JOIN MA_PITEM MI ON MI.CD_COMPANY = EL.CD_COMPANY AND MI.CD_PLANT = EL.CD_PLANT AND MI.CD_ITEM = EL.CD_ITEM
LEFT JOIN MA_CODEDTL MC ON MC.CD_COMPANY = QL.CD_COMPANY AND MC.CD_FIELD = 'MA_B000004' AND MC.CD_SYSDEF = QL.UNIT
WHERE EL.CD_COMPANY = @P_CD_COMPANY
AND EH.DT_GIREQ BETWEEN @P_DT_FROM AND @P_DT_TO
AND EL.CD_SL = 'SL02' 
AND EL.CD_GRSL = 'SL03'
AND (ISNULL(@P_NO_FILE, '') = '' OR EL.NO_SO = @P_NO_FILE)
AND (ISNULL(@P_NO_HULL, '') = '' OR MH.NO_HULL = @P_NO_HULL)
AND (ISNULL(@P_CD_ITEM, '') = '' OR EL.CD_ITEM = @P_CD_ITEM)
AND ((@P_MODE = 0 AND ISNULL(LB.QT, 0) = 0) OR (@P_MODE <> 0 AND ISNULL(LB.QT, 0) > 0))
OPTION(RECOMPILE)