ALTER PROCEDURE [NEOE].[SP_CZ_QR_LABEL_GR_I]
(
	@P_CD_COMPANY	NVARCHAR(7), 
	@P_NO_PO		NVARCHAR(20),
	@P_NO_LINE		INT,
	@P_QT			NUMERIC(15, 4),
	@P_YN_GI		NVARCHAR(1)
)
AS

DECLARE @V_ERRMSG		NVARCHAR(255)
DECLARE @V_QT_PO		NUMERIC(15, 4)
DECLARE @V_QT_LABEL		NUMERIC(15, 4)
DECLARE @V_NO_SEQ		INT

SELECT @V_QT_PO = ISNULL(SUM(QT_PO_MM), 0) 
FROM PU_POL 
WHERE CD_COMPANY = @P_CD_COMPANY 
AND NO_PO = @P_NO_PO 
AND NO_LINE = @P_NO_LINE

SELECT @V_QT_LABEL = ISNULL(SUM(QT), 0) 
FROM CZ_QR_LABEL 
WHERE CD_COMPANY = @P_CD_COMPANY 
AND NO_PO = @P_NO_PO 
AND NO_LINE = @P_NO_LINE

IF @V_QT_PO < @V_QT_LABEL + @P_QT 
BEGIN
	SET @V_ERRMSG = '바코드 출력 수량이 잔량보다 많습니다! (입고)'
	GOTO ERROR
END

BEGIN TRY
BEGIN TRAN SP_CZ_QR_LABEL_GR_I

SELECT @V_NO_SEQ = ISNULL(MAX(NO_SEQ), 0) + 1 
FROM CZ_QR_LABEL
WHERE CD_COMPANY = @P_CD_COMPANY
AND NO_PO = @P_NO_PO
AND NO_LINE = @P_NO_LINE

INSERT INTO CZ_QR_LABEL
(
	CD_COMPANY,
	NO_PO,
	NO_LINE,
	NO_SEQ,
	QT,
	YN_READ,
	ID_INSERT,
	DTS_INSERT
)
VALUES
(
	@P_CD_COMPANY,
	@P_NO_PO,
	@P_NO_LINE,
	@V_NO_SEQ,
	@P_QT,
	'N',
	NULL,
	NEOE.SF_SYSDATE(GETDATE())
)

IF LEFT(@P_NO_PO, 2) != 'ST'
BEGIN
	DECLARE @V_NO_SO NVARCHAR(20)
	
	SET @V_NO_SO = (SELECT TOP 1 CD_PJT 
					FROM PU_POL 
					WHERE CD_COMPANY = @P_CD_COMPANY 
					AND NO_PO = @P_NO_PO)

	IF @P_YN_GI = 'Y' 
		EXEC SP_CZ_QR_LABEL_GI_I @P_CD_COMPANY, @V_NO_SO, @P_NO_LINE, @P_QT
END

SELECT @V_NO_SEQ AS NO_SEQ

COMMIT TRAN SP_CZ_QR_LABEL_GR_I
END TRY
BEGIN CATCH
ROLLBACK TRAN SP_CZ_QR_LABEL_GR_I
SET @V_ERRMSG = ERROR_MESSAGE() 
GOTO ERROR
END CATCH

RETURN
ERROR:RAISERROR(@V_ERRMSG, 18, 1)