ALTER PROCEDURE [NEOE].[SP_CZ_QR_LABEL_GI_I]
(
	@P_CD_COMPANY	NVARCHAR(7), 
	@P_NO_KEY		NVARCHAR(20),
	@P_NO_LINE		INT,
	@P_QT			NUMERIC(15, 4),
	@P_NO_SEQ		INT = NULL
)
AS

DECLARE @V_ERRMSG		NVARCHAR(255)

DECLARE @V_QT_PO		NUMERIC(15, 4)
DECLARE @V_QT_GIR		NUMERIC(15, 4)
DECLARE @V_QT_LABEL		NUMERIC(15, 4)

SELECT @V_QT_LABEL = ISNULL(SUM(QT), 0)
FROM CZ_QR_LABELL 
WHERE CD_COMPANY = @P_CD_COMPANY 
AND NO_KEY = @P_NO_KEY
AND NO_LINE = @P_NO_LINE

SELECT @V_QT_PO = ISNULL(SUM(QT_PO), 0)
FROM PU_POL
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_PJT = @P_NO_KEY
AND NO_LINE = @P_NO_LINE

IF @V_QT_PO > 0
BEGIN
	IF @V_QT_PO < (@V_QT_LABEL + @P_QT) 
	BEGIN
		SET @V_ERRMSG = '바코드 출력 수량이 잔량보다 많습니다! (출고1)'
		GOTO ERROR
	END
END
ELSE
BEGIN
	SELECT @V_QT_GIR = ISNULL(SUM(QT_GIR), 0)
	FROM (SELECT CD_COMPANY, NO_GIR, SEQ_GIR, QT_GIR 
		  FROM SA_GIRL
		  UNION ALL 
		  SELECT CD_COMPANY, NO_GIR, SEQ_GIR, QT_GIR 
		  FROM CZ_SA_GIRL_PACK
		  UNION ALL
		  SELECT CD_COMPANY, NO_GIREQ, NO_LINE, QT_GIREQ
		  FROM MM_GIREQL) GL 
	WHERE GL.CD_COMPANY = @P_CD_COMPANY 
	AND GL.NO_GIR = @P_NO_KEY
	AND GL.SEQ_GIR = @P_NO_LINE
	
	IF @V_QT_GIR > 0
	BEGIN
		IF @V_QT_GIR < (@V_QT_LABEL + @P_QT)
		BEGIN
			SET @V_ERRMSG = '바코드 출력 수량이 잔량보다 많습니다! (출고2)'
			GOTO ERROR
		END
	END	
END

SELECT @P_NO_SEQ = ISNULL(@P_NO_SEQ, ISNULL(MAX(NO_SEQ), 0) + 1)
FROM CZ_QR_LABELL
WHERE 1 = 1
AND CD_COMPANY = @P_CD_COMPANY
AND NO_KEY = @P_NO_KEY
AND NO_LINE = @P_NO_LINE

INSERT INTO CZ_QR_LABELL
(
	CD_COMPANY,
	NO_KEY,
	NO_LINE,
	NO_SEQ,
	QT,
	YN_READ,
	ID_INSERT,
	DTS_INSERT
)
VALUES
(
	@P_CD_COMPANY,
	@P_NO_KEY,
	@P_NO_LINE,
	@P_NO_SEQ,
	@P_QT,
	'N',
	NULL,
	NEOE.SF_SYSDATE(GETDATE())
)

SELECT @P_NO_SEQ AS NO_SEQ

RETURN
ERROR:RAISERROR(@V_ERRMSG, 18, 1)