SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_QR_LABEL_LOC_U]
(
	@P_CD_COMPANY	NVARCHAR(7), 
	@P_NO_RCV		NVARCHAR(20)
)
AS

UPDATE CZ_QR_LABELH 
SET YN_PRINT = 'Y' 
WHERE CD_COMPANY = @P_CD_COMPANY 
AND NO_RCV = @P_NO_RCV

GO
