ALTER PROCEDURE [NEOE].[SP_CZ_QR_LABEL_LOC_S]
(
	@P_MODE			INT, 
	@P_CD_COMPANY	NVARCHAR(7),
	@P_NO_FILE		NVARCHAR(20),
	@P_NO_HULL		NVARCHAR(20),
	@P_CD_SUPPLIER	NVARCHAR(20),
	@P_DT_S			NVARCHAR(8),
	@P_DT_E			NVARCHAR(8),
	@P_NO_EMP		NVARCHAR(20)
)
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

;WITH A AS
(
	SELECT A.CD_COMPANY, 
		   C.CD_PJT AS NO_FILE, 
		   C.NO_PO, 
		   B.CD_PARTNER, 
		   D.NO_ORDER, 
		   A.NO_RCV, 
		   A.ID_INSERT, 
		   A.DTS_INSERT, 
		   COUNT(A.NO_RCV) AS CNT_ITEM
	FROM CZ_QR_LABELH AS A
	JOIN PU_RCVH AS B ON A.CD_COMPANY = B.CD_COMPANY AND A.NO_RCV = B.NO_RCV
	JOIN PU_RCVL AS C ON B.CD_COMPANY = C.CD_COMPANY AND B.NO_RCV = C.NO_RCV
	JOIN PU_POH AS D ON C.CD_COMPANY = D.CD_COMPANY AND C.NO_PO = D.NO_PO
	WHERE A.CD_COMPANY = @P_CD_COMPANY
	AND SUBSTRING(A.DTS_INSERT, 1, 8) BETWEEN @P_DT_S AND @P_DT_E
	AND ((@P_MODE = 0 AND A.YN_PRINT = 'N') OR (@P_MODE = 1 AND A.YN_PRINT = 'Y'))
	AND (ISNULL(@P_NO_FILE, '') = '' OR C.CD_PJT = @P_NO_FILE)
	AND (ISNULL(@P_CD_SUPPLIER, '') = '' OR B.CD_PARTNER = @P_CD_SUPPLIER)
	AND (ISNULL(@P_NO_EMP, '') = '' OR A.ID_INSERT = @P_NO_EMP)
	GROUP BY A.CD_COMPANY, C.CD_PJT, C.NO_PO, B.CD_PARTNER, D.NO_ORDER, A.NO_RCV, A.ID_INSERT, A.DTS_INSERT
)
SELECT 'N' AS S,
	   A.CD_COMPANY, 
	   A.NO_FILE, 
	   A.NO_PO, 
	   A.CD_PARTNER, 
	   A.NO_ORDER, 
	   A.NO_RCV, 
	   A.ID_INSERT, 
	   A.DTS_INSERT, 
	   A.CNT_ITEM,
	   MH.NM_VESSEL, 
	   C.NM_KOR AS NM_EMP, 
	   D.LN_PARTNER
FROM A
LEFT JOIN SA_SOH SH ON SH.CD_COMPANY = A.CD_COMPANY AND SH.NO_SO = A.NO_FILE
LEFT JOIN CZ_MA_HULL MH ON MH.NO_IMO = SH.NO_IMO
LEFT JOIN MA_EMP C ON A.CD_COMPANY = C.CD_COMPANY AND A.ID_INSERT = C.NO_EMP
LEFT JOIN MA_PARTNER D ON A.CD_COMPANY = D.CD_COMPANY AND A.CD_PARTNER = D.CD_PARTNER
WHERE (ISNULL(@P_NO_HULL, '') = '' OR MH.NO_HULL = @P_NO_HULL)
OPTION(RECOMPILE)

GO