<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pur.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pur.Settings1>
            <setting name="CD_PURGRP_SET" serializeAs="String">
                <value />
            </setting>
            <setting name="CD_TPPO_SET" serializeAs="String">
                <value />
            </setting>
            <setting name="FG_PAYMENT_SET" serializeAs="String">
                <value />
            </setting>
            <setting name="PARAMETER_um" serializeAs="String">
                <value />
            </setting>
            <setting name="CD_EXCH" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="RT_EXCH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAIL_ADD" serializeAs="String">
                <value />
            </setting>
            <setting name="DC_RMK_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="DC_RMK_TEXT2" serializeAs="String">
                <value />
            </setting>
            <setting name="TP_UM_TAX" serializeAs="String">
                <value>002</value>
            </setting>
        </pur.Settings1>
    </userSettings>
</configuration>