USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_SHIFT_INSERT]    Script Date: 2023-07-03 오후 6:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[SP_CZ_PR_SHIFT_INSERT]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_PLANT			NVARCHAR(7),
	@P_NO_CAL			NVARCHAR(20),
	@P_TP_START			NVARCHAR(1),
	@P_TM_START			NVARCHAR(6),
	@P_TP_END			NVARCHAR(1),
	@P_TM_END			NVARCHAR(6),
	@P_TM_STOP			NVARCHAR(6),
	@P_TM_SFT			NVARCHAR(6),
	@P_QT_WORKER		NUMERIC(17, 4), 
	@P_CD_DEPT			NVARCHAR(12), 
	@P_YN_USE			NVARCHAR(1), 
	@P_DC_RMK			NVARCHAR(100), 
	@P_ID_INSERT		NVARCHAR(15)
)
AS

BEGIN
	INSERT CZ_PR_SHIFT
	(
		CD_COMPANY,
		CD_PLANT,
		NO_CAL,
		TP_START,
		TM_START,
		TP_END,
		TM_END,
		TM_STOP,
		TM_SFT,
		QT_WORKER,
		CD_DEPT,
		YN_USE,
		DC_RMK,
		ID_INSERT,
		DTS_INSERT
	)
	VALUES 
	(
		@P_CD_COMPANY,
		@P_CD_PLANT,
		@P_NO_CAL,
		@P_TP_START,
		@P_TM_START,
		@P_TP_END,
		@P_TM_END,
		@P_TM_STOP,
		@P_TM_SFT,
		@P_QT_WORKER,
		@P_CD_DEPT,
		@P_YN_USE,
		@P_DC_RMK,
		@P_ID_INSERT,
		NEOE.SF_SYSDATE(GETDATE())
	)
END