USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_SHIFT_UPDATE]    Script Date: 2023-07-03 오후 6:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[SP_CZ_PR_SHIFT_UPDATE]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_PLANT			NVARCHAR(7),
	@P_NO_CAL			NVARCHAR(20),
	@P_TP_START			NVARCHAR(1),
	@P_TM_START			NVARCHAR(6),
	@P_TP_END			NVARCHAR(1),
	@P_TM_END			NVARCHAR(6),
	@P_TM_STOP			NVARCHAR(6),
	@P_TM_SFT			NVARCHAR(6),
	@P_QT_WORKER		NUMERIC(17, 4), 
	@P_CD_DEPT			NVARCHAR(12), 
	@P_YN_USE			NVARCHAR(1), 
	@P_DC_RMK			NVARCHAR(100), 
	@P_ID_UPDATE		NVARCHAR(15)
)
AS

BEGIN
	UPDATE	CZ_PR_SHIFT 
	SET		TP_END		= @P_TP_END,
			TM_END		= @P_TM_END,
			TM_STOP		= @P_TM_STOP,
			TM_SFT		= @P_TM_SFT,
			QT_WORKER	= @P_QT_WORKER,
			CD_DEPT		= @P_CD_DEPT,
			YN_USE		= @P_YN_USE,
			DC_RMK		= @P_DC_RMK,
			ID_UPDATE	= @P_ID_UPDATE,
			DTS_UPDATE	= NEOE.SF_SYSDATE(GETDATE())
	WHERE	CD_COMPANY	= @P_CD_COMPANY
	AND		CD_PLANT	= @P_CD_PLANT
	AND		NO_CAL		= @P_NO_CAL
	AND		TP_START	= @P_TP_START
	AND		TM_START	= @P_TM_START
END
