USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_SHIFT_DELETE]    Script Date: 2023-07-03 오후 6:44:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[SP_CZ_PR_SHIFT_DELETE]
(
@P_CD_COMPANY		NVARCHAR(7),
@P_CD_PLANT			NVARCHAR(7),
@P_NO_CAL			NVARCHAR(20),
@P_TP_START			NCHAR(1),
@P_TM_START			NVARCHAR(6)
)
AS

DELETE FROM CZ_PR_SHIFT
WHERE	CD_COMPANY	= @P_CD_COMPANY
AND		CD_PLANT	= @P_CD_PLANT
AND		NO_CAL		= @P_NO_CAL           
AND		TP_START	= @P_TP_START
AND		TM_START	= @P_TM_START