USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_PR_OPOUT_WORK_LIST_SELECT]    Script Date: 2023-05-12 오전 9:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[UP_CZ_PR_OPOUT_WORK_LIST_SELECT]
(
	@P_CD_COMPANY   NVARCHAR(7),
	@P_DT_WORK_FROM NVARCHAR(8),	
	@P_DT_WORK_TO   NVARCHAR(8),
	@P_CD_BIZAREA   NVARCHAR(7),	
	@P_CD_PLANT     NVARCHAR(7),	
	@P_CD_PARTNER   NVARCHAR(20),	
	@P_CD_WC        NVARCHAR(7),	
	@P_CD_WCOP      NVARCHAR(4),	
	@P_CD_ITEM_FROM NVARCHAR(50),	
	@P_CD_ITEM_TO   NVARCHAR(50), 
	@P_FG_LANG		NVARCHAR(4) = NULL,
    @P_YN_BAD_WORK	NVARCHAR(1) = NULL
)
AS

EXEC UP_MA_LOCAL_LANGUAGE @P_FG_LANG

SET ANSI_WARNINGS OFF
SET ARITHIGNORE ON
SET ARITHABORT OFF

--공백과 NULL 모두 공백으로 처리 -------------------------------------------
IF(@P_CD_ITEM_FROM = '' OR @P_CD_ITEM_FROM IS NULL) SET @P_CD_ITEM_FROM = ''      
IF(@P_CD_ITEM_TO = ''   OR @P_CD_ITEM_TO IS NULL)   SET @P_CD_ITEM_TO = ''      
----------------------------------------------------------------------------  

DECLARE @P_AM_FSIZE		NUMERIC(3,0),	-- 소수점      
		@P_AM_UPDOWN	NVARCHAR(3),	-- 올림구분      
		@P_AM_FORMAT	NVARCHAR(50),	-- 형태(#,###,###,###.00)        
		@YN_MFG_AUTH	NCHAR(1)

EXEC UP_SF_GETUNIT_AM  @P_CD_COMPANY,'PR', 'I',  @P_AM_FSIZE OUTPUT,  @P_AM_UPDOWN OUTPUT,  @P_AM_FORMAT OUTPUT   -- 모듈별통제값가져오기     

SELECT	WK.NO_WORK, WK.CD_ITEM, WK.QT_WORK, WK.UM_WORK, WK.AM_WORK, WK.AM_VAT_WORK, 
		WK.AM_HAP_WORK, OUTL.NO_WO, WK.DT_WORK, WK.CD_WC, WK.CD_WCOP,
		OUTH.CD_PARTNER,
		OUTL.QT_PO,
		OUTL.QT_PO - WK.QT_WORK AS QT_REMAIN,
		OUTL.NO_PO,
		OUTL.NO_LINE,
		WO.QT_ITEM,
		WC.NM_WC,
		I.NM_ITEM, I.STND_ITEM, I.UNIT_IM,
		PTN.LN_PARTNER,
		OP.NM_OP,
		WK.CD_COMPANY, PLT.CD_BIZAREA, PLT.CD_PLANT, PTN.CD_PARTNER, 
		@P_CD_ITEM_FROM AS 'ITEM_FROM', @P_CD_ITEM_TO AS 'ITEM_TO',
		OUTL.UNIT_CH,
		OUTL.QT_CHCOEF,
		OUTL.OLD_QT_PO,
		WK.QT_WORK_CHCOEF,
		WK.QT_WORK_BAD_CHCOEF,
		--20140116 D20140109058 이명철 정찬용 공정외주(단가, 금액, 부가세, 합계)추가 : 시몬스 
		CONVERT(decimal,OUTL.AM) / OUTL.QT_PO, OUTL.AM, OUTL.AM_VAT, (OUTL.AM + OUTL.AM_VAT) AS AM_TOTAL,
		CONVERT(decimal,OUTL.AM) / OUTL.QT_PO AS UM_MOVE,   
		CONVERT(decimal,OUTL.AM_EX) / OUTL.QT_PO AS UM_MOVE_EX,         
		WK.QT_MOVE, WK.QT_REJECT, WK.QT_REWORK, WK.QT_BAD,
		WK.QT_MOVE * (CONVERT(decimal,OUTL.AM_EX) / OUTL.QT_PO) AS AM_MOVE_EX,      
		WK.QT_MOVE * CONVERT(decimal,OUTL.AM) / OUTL.QT_PO  AS AM_MOVE,      
		NEOE.FN_SF_GETUNIT_AM ('PR', '', @P_AM_FSIZE, @P_AM_UPDOWN, @P_AM_FORMAT, (WK.QT_MOVE * CONVERT(decimal,OUTL.AM) / OUTL.QT_PO) * (CONVERT(NUMERIC(15,4), D.CD_FLAG1) / 100)) AS AM_VAT_MOVE,      
		(WK.QT_MOVE * CONVERT(decimal,OUTL.AM) / OUTL.QT_PO) +      
		NEOE.FN_SF_GETUNIT_AM ('PR', '', @P_AM_FSIZE, @P_AM_UPDOWN, @P_AM_FORMAT, (WK.QT_MOVE * CONVERT(decimal,OUTL.AM) / OUTL.QT_PO) * (CONVERT(NUMERIC(15,4), D.CD_FLAG1) / 100)) AS AM_HAP_MOVE, 
		I.EN_ITEM, I.STND_DETAIL_ITEM, I.NM_MAKER, I.BARCODE, I.NO_MODEL, I.NO_DESIGN, I.MAT_ITEM, OUTL.DC_RMK,
		WKL.CD_REJECT, WKL.CD_RESOURCE, H.NM_SYSDEF NM_REJECT, J.NM_SYSDEF NM_RESOURCE
FROM	PR_WORK WK
INNER JOIN PR_OPOUT_POH OUTH ON OUTH.CD_COMPANY = WK.CD_COMPANY AND OUTH.CD_PLANT = WK.CD_PLANT AND OUTH.NO_PO = WK.NO_OPOUT_PO
INNER JOIN PR_OPOUT_POL OUTL ON OUTL.CD_COMPANY = WK.CD_COMPANY AND OUTL.CD_PLANT = WK.CD_PLANT AND OUTL.NO_PO = WK.NO_OPOUT_PO AND OUTL.NO_LINE = WK.NO_OPOUT_PO_LINE
INNER JOIN PR_WO WO ON WO.CD_COMPANY = WK.CD_COMPANY AND WO.CD_PLANT = WK.CD_PLANT AND WO.NO_WO = WK.NO_WO
INNER JOIN DZSN_MA_WC WC ON WC.CD_COMPANY = WK.CD_COMPANY AND WC.CD_PLANT = WK.CD_PLANT AND WC.CD_WC = WK.CD_WC
INNER JOIN DZSN_MA_PLANT PLT ON PLT.CD_COMPANY = WK.CD_COMPANY AND PLT.CD_PLANT = WK.CD_PLANT
LEFT  JOIN DZSN_PR_WCOP OP ON OP.CD_COMPANY = WK.CD_COMPANY AND OP.CD_PLANT = WK.CD_PLANT AND OP.CD_WC = WK.CD_WC AND OP.CD_WCOP = WK.CD_WCOP
LEFT  JOIN DZSN_MA_PITEM I ON I.CD_COMPANY = WK.CD_COMPANY AND I.CD_PLANT = WK.CD_PLANT AND I.CD_ITEM = WK.CD_ITEM
LEFT  JOIN DZSN_MA_PARTNER PTN ON PTN.CD_COMPANY = OUTH.CD_COMPANY AND PTN.CD_PARTNER = OUTH.CD_PARTNER
LEFT  JOIN DZSN_MA_CODEDTL D ON D.CD_COMPANY = OUTH.CD_COMPANY AND D.CD_SYSDEF = OUTH.FG_TAX AND D.CD_FIELD = 'MA_B000046'   --부가세 매입  
LEFT  JOIN PR_WORKL WKL ON WK.CD_COMPANY = WKL.CD_COMPANY AND WK.NO_WORK = WKL.NO_WORK
LEFT  JOIN DZSN_MA_CODEDTL H ON H.CD_COMPANY = WKL.CD_COMPANY
	                        AND H.CD_FIELD = 'QU_2000007'        --불량내역
	                        AND H.CD_SYSDEF = WKL.CD_REJECT
LEFT  JOIN DZSN_MA_CODEDTL J ON I.CD_COMPANY = WKL.CD_COMPANY
	                        AND J.CD_FIELD = 'QU_2000009'        --불량원인
	                        AND J.CD_SYSDEF = WKL.CD_RESOURCE
WHERE	WK.CD_COMPANY   = @P_CD_COMPANY
AND		WK.CD_PLANT     = @P_CD_PLANT
AND		PLT.CD_BIZAREA  = @P_CD_BIZAREA
AND		DT_WORK BETWEEN @P_DT_WORK_FROM AND @P_DT_WORK_TO	--실적일자
AND    (OUTH.CD_PARTNER = @P_CD_PARTNER OR @P_CD_PARTNER = '' OR @P_CD_PARTNER IS NULL)	--외주처
AND    (WK.CD_WC        = @P_CD_WC      OR @P_CD_WC = ''      OR @P_CD_WC IS NULL)      --작업장
AND    (WK.CD_WCOP      = @P_CD_WCOP    OR @P_CD_WCOP = ''    OR @P_CD_WCOP IS NULL)    --공정
AND   ((@P_CD_ITEM_FROM <> '' AND @P_CD_ITEM_TO <> '' AND WK.CD_ITEM BETWEEN @P_CD_ITEM_FROM AND @P_CD_ITEM_TO) --> FROM부터 TO까지 (O O)
	OR (@P_CD_ITEM_FROM <> '' AND @P_CD_ITEM_TO =  '' AND WK.CD_ITEM >= @P_CD_ITEM_FROM)                        --> FROM부터 끝까지 (O X)
	OR (@P_CD_ITEM_FROM = ''  AND @P_CD_ITEM_TO <> '' AND WK.CD_ITEM <= @P_CD_ITEM_TO)                          --> 처음부터 TO까지 (X O)      
	OR (@P_CD_ITEM_FROM = ''  AND @P_CD_ITEM_TO =  ''))															--> 전체선택        (X X)
AND	  (@P_YN_BAD_WORK IS NULL OR @P_YN_BAD_WORK = '' OR @P_YN_BAD_WORK = 'N' OR (@P_YN_BAD_WORK = 'Y' AND ISNULL(WK.QT_BAD, 0) = 0))
GROUP BY WK.NO_WORK, WK.CD_ITEM, WK.QT_WORK, WK.UM_WORK, WK.AM_WORK, WK.AM_VAT_WORK,
		WK.AM_HAP_WORK, OUTL.NO_WO, WK.DT_WORK, WK.CD_WC, WK.CD_WCOP, OUTH.CD_PARTNER,
		OUTL.QT_PO, OUTL.NO_PO, OUTL.NO_LINE, WO.QT_ITEM, WC.NM_WC, I.NM_ITEM,
		I.STND_ITEM, I.UNIT_IM, PTN.LN_PARTNER, OP.NM_OP, WK.CD_COMPANY, PLT.CD_BIZAREA,
		PLT.CD_PLANT, PTN.CD_PARTNER, OUTL.UNIT_CH, OUTL.QT_CHCOEF, OUTL.OLD_QT_PO, WK.QT_WORK_CHCOEF,
		WK.QT_WORK_BAD_CHCOEF, CONVERT(decimal,OUTL.AM) / OUTL.QT_PO, OUTL.AM, OUTL.AM_VAT, CONVERT(decimal,OUTL.AM_EX) / OUTL.QT_PO, 
		WK.QT_MOVE, WK.QT_REJECT, WK.QT_REWORK, WK.QT_BAD, D.CD_FLAG1, 
		I.EN_ITEM, I.STND_DETAIL_ITEM, I.NM_MAKER, I.BARCODE, I.NO_MODEL, I.NO_DESIGN, I.MAT_ITEM,  OUTL.DC_RMK, 
		WKL.CD_REJECT, WKL.CD_RESOURCE, H.NM_SYSDEF, J.NM_SYSDEF