<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pur.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <pur.Settings1>
            <setting name="email_add" serializeAs="String">
                <value/>
            </setting>
            <setting name="chk_barcode_use" serializeAs="String">
                <value/>
            </setting>
            <setting name="cd_sl_apply" serializeAs="String">
                <value/>
            </setting>
            <setting name="nm_sl_apply" serializeAs="String">
                <value/>
            </setting>
        </pur.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
