USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_S1]    Script Date: 2022-12-16 오전 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_S1]
	  @P_CD_COMPANY		NVARCHAR(7)
	, @P_CD_ITEM		NVARCHAR(20)
	, @P_QT_OPEN		NUMERIC(17,4)
	, @P_DT_FROM		NVARCHAR(8)
	, @P_DT_TO			NVARCHAR(8)
	, @P_FG_PS			NVARCHAR(1)
AS
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET NOCOUNT ON

BEGIN

SELECT
	*
,	CONVERT(NVARCHAR, @P_QT_OPEN) + SUM(ISNULL(QT_GR, 0) - ISNULL(QT_GI, 0)) OVER (ORDER BY RN_DATE, NO_IO) AS QT_INV
FROM
(
	SELECT 
		A.NO_IO
	,	A.CD_ITEM
	,	D.NM_SYSDEF AS NM_ITEM
	,	A.DT_IO
	,	LEFT(A.DT_IO,4) AS YY

	,	CASE WHEN A.FG_PS = '1' THEN A.QT_IO END AS QT_GR
	,	CASE WHEN A.FG_PS = '1' THEN A.UM END AS UM_GR
	,	CASE WHEN A.FG_PS = '1' THEN A.AM END AS AM_GR

	,	CASE WHEN A.FG_PS = '2' THEN A.QT_IO END AS QT_GI
	,	CASE WHEN A.FG_PS = '2' THEN A.AM END AS AM_GI
	,	A.CD_PARTNER
	,	B.LN_PARTNER
	,	A.NO_EMP
	,	C.NM_KOR
	,	A.DC_RMK	
	,	A.DT_IO AS RN_DATE
	,	A.FG_PS
	,	GW.ST_STAT AS CD_GW_STATUS
	,	MC.NM_SYSDEF AS NM_GW_STATUS
	FROM CZ_MM_SUPPLIES_QTIO A
	LEFT JOIN MA_PARTNER B		ON A.CD_COMPANY = B.CD_COMPANY AND A.CD_PARTNER = B.CD_PARTNER
	LEFT JOIN MA_EMP C			ON A.CD_COMPANY = C.CD_COMPANY AND A.NO_EMP = C.NO_EMP
	LEFT JOIN CZ_MA_CODEDTL D	ON A.CD_COMPANY = D.CD_COMPANY AND A.CD_ITEM = D.CD_SYSDEF AND D.CD_FIELD = 'CZ_MM00003'
	LEFT JOIN FI_GWDOCU GW ON GW.CD_COMPANY = 'K100' AND GW.CD_PC = '010000' AND GW.NO_DOCU = A.CD_COMPANY + '-' + A.NO_IO
	LEFT JOIN MA_CODEDTL MC ON MC.CD_COMPANY = GW.CD_COMPANY AND MC.CD_FIELD = 'PU_C000065' AND MC.CD_SYSDEF = GW.ST_STAT
	WHERE	A.CD_COMPANY = @P_CD_COMPANY
	AND		A.CD_ITEM = @P_CD_ITEM
	AND		A.DT_IO BETWEEN @P_DT_FROM AND @P_DT_TO
	AND		(ISNULL(@P_FG_PS, '') = '' OR A.FG_PS = @P_FG_PS)
) AS A
ORDER BY RN_DATE, NO_IO

END

