USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_S]    Script Date: 2022-11-25 오후 5:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_S]
	  @P_CD_COMPANY		NVARCHAR(7)
	, @P_NM_ITEM		NVARCHAR(200)	= NULL
	, @P_DT_FROM		NVARCHAR(8)
	, @P_DT_TO			NVARCHAR(8)
AS
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET NOCOUNT ON

BEGIN

SELECT 
	CD.CD_SYSDEF AS CD_ITEM
,	CD.NM_SYSDEF AS NM_ITEM
,	CD.CD_FLAG1 AS NM_MAKER
,	CD.CD_FLAG2 AS NO_MODEL
,	CD.CD_FLAG3 AS UNIT
,	CD.CD_FLAG4 AS CD_DEPT
,	ISNULL(SQ1.QT_IO, 0) - ISNULL(SQ3.QT_IO, 0) AS QT_OPEN
,	ISNULL(SQ2.QT_IO, 0) AS QT_GR
,	ISNULL(SQ4.QT_IO, 0) AS QT_GI
,	ISNULL(SQ1.QT_IO, 0) - ISNULL(SQ3.QT_IO, 0) + ISNULL(SQ2.QT_IO, 0) - ISNULL(SQ4.QT_IO, 0) AS QT_INV
FROM CZ_MA_CODEDTL CD
LEFT JOIN (SELECT CD_COMPANY, CD_ITEM, FG_PS, SUM(ISNULL(QT_IO,0)) AS QT_IO
		   FROM CZ_MM_SUPPLIES_QTIO
		   WHERE DT_IO < @P_DT_FROM
		   AND FG_PS = '1'
		   GROUP BY CD_COMPANY, CD_ITEM, FG_PS) SQ1 
ON SQ1.CD_COMPANY = CD.CD_COMPANY AND SQ1.CD_ITEM = CD.CD_SYSDEF
LEFT JOIN (SELECT CD_COMPANY, CD_ITEM, FG_PS, SUM(ISNULL(QT_IO,0)) AS QT_IO
		   FROM CZ_MM_SUPPLIES_QTIO
		   WHERE DT_IO BETWEEN @P_DT_FROM AND @P_DT_TO
		   AND FG_PS = '1'
		   GROUP BY CD_COMPANY, CD_ITEM, FG_PS) SQ2 
ON SQ2.CD_COMPANY = CD.CD_COMPANY AND SQ2.CD_ITEM = CD.CD_SYSDEF
LEFT JOIN (SELECT CD_COMPANY, CD_ITEM, FG_PS, SUM(ISNULL(QT_IO,0)) AS QT_IO
		   FROM CZ_MM_SUPPLIES_QTIO
		   WHERE DT_IO < @P_DT_FROM
		   AND FG_PS = '2'
		   GROUP BY CD_COMPANY, CD_ITEM, FG_PS) SQ3
ON SQ3.CD_COMPANY = CD.CD_COMPANY AND SQ3.CD_ITEM = CD.CD_SYSDEF
LEFT JOIN (SELECT CD_COMPANY, CD_ITEM, FG_PS, SUM(ISNULL(QT_IO,0)) AS QT_IO
		   FROM CZ_MM_SUPPLIES_QTIO
		   WHERE DT_IO BETWEEN @P_DT_FROM AND @P_DT_TO
		   AND FG_PS = '2'
		   GROUP BY CD_COMPANY, CD_ITEM, FG_PS) SQ4 
ON SQ4.CD_COMPANY = CD.CD_COMPANY AND SQ4.CD_ITEM = CD.CD_SYSDEF
WHERE CD.CD_COMPANY = @P_CD_COMPANY
AND CD.CD_FIELD = 'CZ_MM00003'
AND CD.YN_USE = 'Y'
AND (ISNULL(@P_NM_ITEM, '') = '' OR CD.NM_SYSDEF LIKE '%' + @P_NM_ITEM + '%')

END

