USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_U]    Script Date: 2023-01-03 오전 10:29:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_U]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_NO_IO			NVARCHAR(20),
	@P_CD_ITEM			NVARCHAR(20),
	@P_FG_PS			NVARCHAR(1),
	@P_DT_IO			NVARCHAR(8),
	@P_UM_GR			NUMERIC(15,4),
	@P_QT_GR			NUMERIC(17,4),
	@P_AM_GR			NUMERIC(15,4),
	@P_QT_GI			NUMERIC(17,4),
	@P_AM_GI			NUMERIC(15,4),
	@P_NO_EMP			NVARCHAR(10),
	@P_DC_RMK			NVARCHAR(MAX),
	@P_NO_DOCU			NVARCHAR(20),
	@P_CD_PARTNER		NVARCHAR(20),
	@P_ID_UPDATE		NVARCHAR(5)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

UPDATE CZ_MM_SUPPLIES_QTIO
SET DT_IO = @P_DT_IO
,	QT_IO = CASE WHEN @P_FG_PS = '1' THEN @P_QT_GR ELSE @P_QT_GI END
,	UM = CASE WHEN @P_FG_PS = '1' THEN @P_UM_GR ELSE NULL END
,	AM = CASE WHEN @P_FG_PS = '1' THEN @P_AM_GR ELSE @P_AM_GI END
,	NO_EMP = @P_NO_EMP
,	CD_PARTNER = @P_CD_PARTNER
,	DC_RMK = @P_DC_RMK
,	NO_DOCU = @P_NO_DOCU
,	ID_UPDATE = @P_ID_UPDATE
,	DTS_UPDATE = NEOE.SF_SYSDATE(GETDATE())
FROM CZ_MM_SUPPLIES_QTIO
WHERE CD_COMPANY = @P_CD_COMPANY 
AND NO_IO = @P_NO_IO
