USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_I]    Script Date: 2023-01-03 오전 10:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_MM_SUPPLIES_QTIO_RPT_I]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_NO_IO			NVARCHAR(20),
	@P_CD_ITEM			NVARCHAR(20),
	@P_DT_IO			NVARCHAR(8),
	@P_CD_PARTNER		NVARCHAR(20),
	@P_UM_GR			NUMERIC(15,4),
	@P_QT_GR			NUMERIC(17,4),
	@P_AM_GR			NUMERIC(15,4),
	@P_QT_GI			NUMERIC(17,4),
	@P_AM_GI			NUMERIC(15,4),
	@P_FG_PS			NVARCHAR(1),
	@P_NO_EMP			NVARCHAR(10),
	@P_DC_RMK			NVARCHAR(MAX),
	@P_NO_DOCU			NVARCHAR(20),
	@P_ID_INSERT		NVARCHAR(5)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

INSERT CZ_MM_SUPPLIES_QTIO
(
	CD_COMPANY
,	NO_IO
,	CD_ITEM
,	DT_IO
,	CD_PARTNER
,	QT_IO
,	UM
,	AM
,	FG_PS
,	NO_EMP
,	DC_RMK
,	NO_DOCU
,	ID_INSERT
,	DTS_INSERT
)
VALUES
(
	@P_CD_COMPANY
,	@P_NO_IO
,	@P_CD_ITEM
,	@P_DT_IO
,	@P_CD_PARTNER
,	CASE WHEN @P_FG_PS = 1 THEN @P_QT_GR ELSE @P_QT_GI END
,	CASE WHEN @P_FG_PS = 1 THEN @P_UM_GR ELSE NULL END
,	CASE WHEN @P_FG_PS = 1 THEN @P_AM_GR ELSE @P_AM_GI END
,	@P_FG_PS
,	@P_NO_EMP
,	@P_DC_RMK
,	@P_NO_DOCU
,	@P_ID_INSERT
,	NEOE.SF_SYSDATE(GETDATE())
)
