USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_I]    Script Date: 2023-06-29 오후 7:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_I]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_NM_GPE			NVARCHAR(200),
	@P_QT_CAPAMIN		NUMERIC(7),
	@P_QT_CAPAMAX		NUMERIC(7),
	@P_DC_RMK			NVARCHAR(2000),
	@P_ID_INSERT		NVARCHAR(5)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @CD_GPE  NVARCHAR(3)
SET @CD_GPE = (SELECT FORMAT(CONVERT(INT,MAX(CD_SYSDEF) + 1),'D3')
				FROM MA_CODEDTL
				WHERE CD_COMPANY = @P_CD_COMPANY
		 		AND CD_FIELD = 'CZ_WIN0016')

INSERT INTO MA_CODEDTL
(
	CD_COMPANY,
	CD_FIELD,
	CD_SYSDEF,
	FG1_SYSCODE,
	NM_SYSDEF,
	CD_FLAG1,
	CD_FLAG2,
	CD_FLAG3,
	USE_YN,
	ID_INSERT,
	DTS_INSERT
)
VALUES
(
	@P_CD_COMPANY,
	'CZ_WIN0016',
	@CD_GPE,
	'N',
	@P_NM_GPE,
	@P_QT_CAPAMIN,
	@P_QT_CAPAMAX,
	@P_DC_RMK,
	'Y',
	@P_ID_INSERT,
	NEOE.SF_SYSDATE(GETDATE())
)