USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_U]    Script Date: 2023-06-29 오후 7:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_U]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_GPE			NVARCHAR(4),
	@P_NM_GPE			NVARCHAR(200),
	@P_QT_CAPAMIN		NUMERIC(7),
	@P_QT_CAPAMAX		NUMERIC(7),
	@P_DC_RMK			NVARCHAR(2000),
	@P_ID_UPDATE		NVARCHAR(5)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

UPDATE MA_CODEDTL
SET NM_SYSDEF = @P_NM_GPE,
	CD_FLAG1 = @P_QT_CAPAMIN,
	CD_FLAG2 = @P_QT_CAPAMAX,
	CD_FLAG3 = @P_DC_RMK,
	ID_UPDATE = @P_ID_UPDATE,
	DTS_UPDATE = NEOE.SF_SYSDATE(GETDATE())
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_SYSDEF = @P_CD_GPE
AND CD_FIELD = 'CZ_WIN0016'