USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_S]    Script Date: 2023-06-29 오후 7:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_S]          
(
	@P_CD_COMPANY		NVARCHAR(7)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SELECT 
	'N' AS S
,	A.CD_COMPANY
,	A.CD_SYSDEF AS CD_GPE
,	A.NM_SYSDEF AS NM_GPE
,	A.CD_FLAG1  AS QT_CAPAMIN
,	A.CD_FLAG2  AS QT_CAPAMAX
,	A.CD_FLAG3  AS DC_RMK
FROM MA_CODEDTL A
WHERE A.CD_COMPANY = @P_CD_COMPANY
AND A.CD_FIELD = 'CZ_WIN0016'
AND A.USE_YN = 'Y'
ORDER BY A.NM_SYSDEF
