USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_D]    Script Date: 2023-06-29 오후 7:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEOE].[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_D]
(
	@P_CD_COMPANY		NVARCHAR(7),
	@P_CD_GPE			NVARCHAR(4)
)  
AS
   
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @NM_GPE  NVARCHAR(200),
		@ERRMSG NVARCHAR(255)   -- ERROR 메시지

SELECT @NM_GPE = NM_SYSDEF
FROM MA_CODEDTL
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_FIELD = 'CZ_WIN0016'
AND CD_SYSDEF = @P_CD_GPE

IF EXISTS (SELECT *
		   FROM PR_ROUT_L
		   WHERE CD_COMPANY = @P_CD_COMPANY
		   AND CD_USERDEF1 = @P_CD_GPE)
BEGIN
	SELECT @ERRMSG = '[SP_CZ_PR_ROUT_BATCH_GROUP_SUB_D] 공정경로에 등록된 배치그룹은 삭제할 수 없습니다. [' + @NM_GPE + ']'
	GOTO ERROR
END

DELETE MA_CODEDTL
WHERE CD_COMPANY = @P_CD_COMPANY
AND CD_FIELD = 'CZ_WIN0016'
AND CD_SYSDEF = @P_CD_GPE

RETURN
ERROR: RAISERROR (@ERRMSG, 18, 1)