USE [NEOE]
GO
/****** Object:  StoredProcedure [NEOE].[UP_CZ_PR_WORK_SELECT]    Script Date: 2023-04-27 오후 4:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [NEOE].[UP_CZ_PR_WORK_SELECT]
(
	@P_STATE				NVARCHAR(10)	= '',		--00
	@P_CD_COMPANY			NVARCHAR(14)	= '',		--01
	@P_CD_PLANT				NVARCHAR(14)	= '',		--02
	@P_DT					NCHAR(16)		= '',		--03			날짜
	@P_DT_START1			NCHAR(16)		= '',		--04			날짜FROM
	@P_DT_END1				NCHAR(16)		= '',		--05			날짜TO
	@P_DT_START2			NCHAR(16)		= '',		--06			날짜FROM
	@P_DT_END2				NCHAR(16)		= '',		--07			날짜TO
	@P_MULTI_WC				NVARCHAR(2000)	= '',		--08
	@P_ITEM_FROM			NVARCHAR(50)	= '',		--09
	@P_ITEM_TO				NVARCHAR(50)	= '',		--10
	@P_ARG1					NVARCHAR(40)	= '',		--11
	@P_ARG2					NVARCHAR(40)	= '',		--12
	@P_ARG3					NVARCHAR(40)	= '',		--13
	@P_ARG4					NVARCHAR(40)	= '',		--14
	@P_ARG5					NVARCHAR(40)	= '',		--15
	@P_ARG6					NVARCHAR(40)	= '',		--16
    @P_FG_LANG				NVARCHAR(4)		= NULL,		--17			언어
	@OUTPUT					INT OUTPUT
)
AS

-- MultiLang Call
EXEC UP_MA_LOCAL_LANGUAGE @P_FG_LANG
 
BEGIN
	IF(@P_STATE = 'S8')			/*작업일보 OP 별*/
	BEGIN
		SELECT	'N' CHK,B.NM_WC, A.CD_OP, E.NM_OP, A.CD_ITEM,
				C.CLS_L, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000030',C.CLS_L) AS NM_CLS_L,
				C.CLS_M, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000031',C.CLS_M) AS NM_CLS_M,
				C.CLS_S, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000032',C.CLS_S) AS NM_CLS_S,
				C.NM_ITEM, C.STND_ITEM, C.UNIT_MO, A.DT_WORK, A.QT_WORK,
				CASE WHEN ISNULL(C.WEIGHT, 0) = 0 THEN A.QT_WORK ELSE (C.WEIGHT * A.QT_WORK) END AS WEIGHT_WORK,
				A.QT_REJECT, A.QT_MOVE, 
				(A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE) QT_INV,
				(CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS UM_INV,
				(A.QT_WORK * CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS AM_WORK,
				0.0 AS RT_SCRAP, 
				C.MAT_ITEM, C.STND_DETAIL_ITEM,
				C.EN_ITEM
		FROM	PR_WORK A
		LEFT OUTER JOIN DZSN_MA_WC		B	ON B.CD_COMPANY = A.CD_COMPANY AND B.CD_PLANT = A.CD_PLANT AND B.CD_WC = A.CD_WC
		LEFT OUTER JOIN DZSN_MA_PITEM	C	ON C.CD_COMPANY = A.CD_COMPANY AND C.CD_PLANT = A.CD_PLANT AND C.CD_ITEM = A.CD_ITEM
		LEFT OUTER JOIN DZSN_PR_WCOP		E	ON E.CD_COMPANY = A.CD_COMPANY AND E.CD_PLANT = A.CD_PLANT AND E.CD_WC = A.CD_WC AND E.CD_WCOP = A.CD_WCOP
		LEFT OUTER JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING(@P_DT_END1, 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT OUTER JOIN	(
							SELECT	CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
							FROM	MM_AMINVL A
							WHERE	YM_STANDARD = (	SELECT	MAX( YM_STANDARD) FROM MM_AMINVL
													WHERE	CD_COMPANY = A.CD_COMPANY
													AND		CD_PLANT = A.CD_PLANT
													AND		CD_ITEM = A.CD_ITEM	)
						)	L2  ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY= @P_CD_COMPANY
		AND		A.CD_PLANT = @P_CD_PLANT
		AND		A.DT_WORK BETWEEN @P_DT_START1 AND @P_DT_END1
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		((ISNULL(A.QT_MOVE, 0) <> 0) OR (ISNULL(A.QT_REJECT, 0) <> 0) OR (ISNULL(A.QT_WORK, 0) <> 0))
		ORDER BY A.CD_WC, A.CD_OP, E.NM_OP, 
				NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000030',C.CLS_L),
				NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000031',C.CLS_M),
				NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000032',C.CLS_S),
				A.CD_ITEM ASC

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END
	
	ELSE IF(@P_STATE = 'S9')	/*작업일보 OP 별월계*/
	BEGIN
		SELECT	'월계' DT_WORK, SUM(A.QT_WORK) QT_WORK,
				SUM(A.QT_REJECT) QT_REJECT, SUM(A.QT_MOVE) QT_MOVE, 
				SUM((A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE)) QT_INV,
				SUM(A.QT_WORK * CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS AM_WORK,
				CASE WHEN ISNULL(SUM(A.QT_WORK), 0) = 0 THEN 0 ELSE ROUND((SUM(A.QT_REJECT) / SUM(A.QT_WORK)) * 100, 2) END AS RT_SCRAP,
				SUM(CASE WHEN ISNULL(C.WEIGHT, 0) = 0 THEN A.QT_WORK ELSE (C.WEIGHT * A.QT_WORK) END) AS WEIGHT_WORK
		FROM	PR_WORK A
		LEFT OUTER JOIN DZSN_MA_WC		B	ON A.CD_COMPANY = B.CD_COMPANY AND A.CD_PLANT = B.CD_PLANT AND A.CD_WC = B.CD_WC
		LEFT OUTER JOIN DZSN_MA_PITEM	C	ON A.CD_COMPANY = C.CD_COMPANY AND A.CD_PLANT = C.CD_PLANT AND A.CD_ITEM = C.CD_ITEM
		LEFT OUTER JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING(@P_DT_END2, 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT OUTER JOIN	(
							SELECT	CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
							FROM	MM_AMINVL A
							WHERE	YM_STANDARD = (	SELECT	MAX( YM_STANDARD) FROM MM_AMINVL
													WHERE	CD_COMPANY = A.CD_COMPANY
													AND		CD_PLANT = A.CD_PLANT
													AND		CD_ITEM = A.CD_ITEM	)
						)	L2  ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY = @P_CD_COMPANY
		AND		A.CD_PLANT = @P_CD_PLANT
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		A.DT_WORK BETWEEN SUBSTRING(@P_DT_START2,1,6) +'01' AND SUBSTRING(@P_DT_END2,1,6) +'31'

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END
	
	ELSE IF(@P_STATE = 'S10')	/*작업일보 품목별*/
	BEGIN
		SELECT	A.CD_ITEM,
				C.CLS_L, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000030',C.CLS_L) AS NM_CLS_L,
				C.CLS_M, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000031',C.CLS_M) AS NM_CLS_M,
				C.CLS_S, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000032',C.CLS_S) AS NM_CLS_S,
				C.NM_ITEM, C.STND_ITEM, C.UNIT_MO, A.DT_WORK, B.NM_WC, A.CD_OP, A.QT_WORK, C.MAT_ITEM,
				CASE WHEN ISNULL(C.WEIGHT, 0) = 0 THEN A.QT_WORK ELSE (C.WEIGHT * A.QT_WORK) END AS WEIGHT_WORK,
				A.QT_REJECT, A.QT_MOVE, 
				(A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE) QT_INV,
				(CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS UM_WORK,
				(CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS UM_INV,
				(A.QT_WORK * CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS AM_WORK,
				0.0 AS RT_SCRAP, 
				C.STND_DETAIL_ITEM,
				C.EN_ITEM
		FROM	PR_WORK A
		LEFT OUTER JOIN DZSN_MA_WC		B	ON A.CD_COMPANY = B.CD_COMPANY AND A.CD_PLANT = B.CD_PLANT AND A.CD_WC = B.CD_WC
		LEFT OUTER JOIN DZSN_MA_PITEM	C	ON A.CD_COMPANY = C.CD_COMPANY AND A.CD_PLANT = C.CD_PLANT AND A.CD_ITEM = C.CD_ITEM
		LEFT OUTER JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING(@P_DT_END1, 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT OUTER JOIN	(
							SELECT	CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
							FROM	MM_AMINVL A
							WHERE	YM_STANDARD = (	SELECT	MAX( YM_STANDARD) FROM MM_AMINVL
													WHERE	CD_COMPANY = A.CD_COMPANY
													AND		CD_PLANT = A.CD_PLANT
													AND		CD_ITEM = A.CD_ITEM	)
						)	L2  ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY = @P_CD_COMPANY
		AND		A.CD_PLANT =@P_CD_PLANT
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		A.DT_WORK BETWEEN @P_DT_START1 AND @P_DT_END1
		AND		((ISNULL(A.QT_MOVE, 0) <> 0) OR (ISNULL(A.QT_REJECT, 0) <> 0) OR (ISNULL(A.QT_WORK, 0) <> 0))
		ORDER BY NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000030',C.CLS_L),
				 NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000031',C.CLS_M),
				 NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF(@P_CD_COMPANY,'MA_B000032',C.CLS_S),
				 A.CD_ITEM, A.DT_WORK ASC

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END
	
	ELSE IF(@P_STATE = 'S11')	/*작업일보 품목별월계*/
	BEGIN
		SELECT	'월계' DT_WORK, SUM(A.QT_WORK) QT_WORK,
				SUM(A.QT_REJECT) QT_REJECT, SUM(A.QT_MOVE) QT_MOVE, 
				SUM((A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE)) QT_INV,
				SUM(A.QT_WORK * (CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END)) AS AM_WORK,
				CASE WHEN ISNULL(SUM(A.QT_WORK), 0) = 0 THEN 0 ELSE ROUND((SUM(A.QT_REJECT) / SUM(A.QT_WORK)) * 100, 2) END AS RT_SCRAP,
				SUM(CASE WHEN ISNULL(C.WEIGHT, 0) = 0 THEN A.QT_WORK ELSE (C.WEIGHT * A.QT_WORK) END) AS WEIGHT_WORK
		FROM	PR_WORK A
		LEFT OUTER JOIN DZSN_MA_WC		B	ON A.CD_COMPANY = B.CD_COMPANY AND A.CD_PLANT = B.CD_PLANT AND A.CD_WC = B.CD_WC
		LEFT OUTER JOIN DZSN_MA_PITEM	C	ON A.CD_COMPANY = C.CD_COMPANY AND A.CD_PLANT = C.CD_PLANT AND A.CD_ITEM = C.CD_ITEM
		LEFT OUTER JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING(@P_DT_END2, 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT OUTER JOIN	(
							SELECT	CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
							FROM	MM_AMINVL A
							WHERE	YM_STANDARD = (	SELECT	MAX( YM_STANDARD) FROM MM_AMINVL
													WHERE	CD_COMPANY = A.CD_COMPANY
													AND		CD_PLANT = A.CD_PLANT
													AND		CD_ITEM = A.CD_ITEM	)
						)	L2  ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY =@P_CD_COMPANY
		AND		A.CD_PLANT =@P_CD_PLANT
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		A.DT_WORK BETWEEN SUBSTRING(@P_DT_START2,1,6) +'01' AND SUBSTRING(@P_DT_END2,1,6) +'31'

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END

	ELSE IF(@P_STATE = 'S12') /*작업일보 사원별*/
	BEGIN
		SELECT 
			'N' AS CHK
		,	A.NO_EMP
		,	D.NM_KOR
		,	A.DT_WORK
		,	C.CLS_L
		,	NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000030',C.CLS_L) AS NM_CLS_L
		,	C.CLS_M
		,	NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000031',C.CLS_M) AS NM_CLS_M
		,	C.CLS_S
		,	NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000032',C.CLS_S) AS NM_CLS_S
		,	A.CD_ITEM
		,	C.NM_ITEM
		,	A.CD_WC
		,	B.NM_WC
		,	A.CD_OP
		,	E.NM_OP
		,	C.STND_ITEM
		,	C.NO_DESIGN
		,	C.UNIT_MO
		,	SUM(A.QT_WORK) AS QT_WORK
		,	SUM(A.QT_MOVE) AS QT_MOVE
		,	SUM(A.QT_REJECT) AS QT_REJECT
		,	SUM(A.QT_REWORK) AS QT_REWORK
		,	SUM(A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE) QT_INV
		,	CASE WHEN SUM(ISNULL(C.WEIGHT, 0)) = 0 THEN SUM(A.QT_WORK) ELSE SUM(C.WEIGHT * A.QT_WORK) END AS WEIGHT_WORK
		,	(SUM(A.QT_WORK) * CASE WHEN ROUND(SUM(ISNULL(L.UM_INV, 0)), 0) = 0 THEN ROUND(SUM(ISNULL(L2.UM_INV, 0)), 0) ELSE ROUND(SUM(ISNULL(L.UM_INV, 0)), 0) END) AS AM_WORK
		,	0.0 AS RT_SCRAP
		FROM PR_WORK A
		LEFT JOIN DZSN_MA_WC	B ON B.CD_COMPANY = A.CD_COMPANY AND B.CD_PLANT = A.CD_PLANT AND B.CD_WC = A.CD_WC
		LEFT JOIN DZSN_MA_PITEM	C ON C.CD_COMPANY = A.CD_COMPANY AND C.CD_PLANT = A.CD_PLANT AND C.CD_ITEM = A.CD_ITEM
		LEFT JOIN DZSN_MA_EMP	D ON D.CD_COMPANY = A.CD_COMPANY AND D.CD_PLANT = A.CD_PLANT AND D.NO_EMP = A.NO_EMP
		LEFT JOIN DZSN_PR_WCOP	E ON E.CD_COMPANY = A.CD_COMPANY AND E.CD_PLANT = A.CD_PLANT AND E.CD_WC = A.CD_WC AND E.CD_WCOP = A.CD_WCOP
		LEFT JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING(@P_DT_END1, 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT JOIN (SELECT	CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
				   FROM	MM_AMINVL A
				   WHERE YM_STANDARD = (SELECT	MAX( YM_STANDARD) FROM MM_AMINVL
										WHERE	CD_COMPANY = A.CD_COMPANY
										AND		CD_PLANT = A.CD_PLANT
										AND		CD_ITEM = A.CD_ITEM	)) L2
		ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY = @P_CD_COMPANY
		AND		A.CD_PLANT = @P_CD_PLANT
		AND		A.DT_WORK BETWEEN @P_DT_START1 AND @P_DT_END1
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		GROUP BY A.NO_EMP, D.NM_KOR, A.CD_WC, B.NM_WC, A.CD_OP, E.NM_OP, A.CD_ITEM, C.NM_ITEM, C.STND_ITEM, C.NO_DESIGN, C.UNIT_MO, A.DT_WORK
			   , C.CLS_L, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000030',C.CLS_L)
			   , C.CLS_M, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000031',C.CLS_M)
			   , C.CLS_S, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000032',C.CLS_S)
		HAVING	(SUM(A.QT_WORK) <> 0) OR (SUM(A.QT_REJECT) <> 0) OR (SUM(A.QT_MOVE) <> 0)
		ORDER BY A.CD_WC, A.NO_EMP, A.DT_WORK, A.CD_ITEM

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END

	ELSE IF(@P_STATE = 'S13')	/*작업일보 사원별월계*/
	BEGIN
		SELECT	
			'월계' DT_WORK
		,	SUM(A.QT_WORK) QT_WORK
		,	SUM(A.QT_REJECT) QT_REJECT, SUM(A.QT_MOVE) QT_MOVE
		,	SUM((A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE)) QT_INV
		,	SUM(A.QT_WORK * CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS AM_WORK
		,	CASE WHEN ISNULL(SUM(A.QT_WORK), 0) = 0 THEN 0 ELSE ROUND((SUM(A.QT_REJECT) / SUM(A.QT_WORK)) * 100, 2) END AS RT_SCRAP
		,	SUM(CASE WHEN ISNULL(C.WEIGHT, 0) = 0 THEN A.QT_WORK ELSE (C.WEIGHT * A.QT_WORK) END) AS WEIGHT_WORK
		FROM PR_WORK A
		LEFT JOIN DZSN_MA_WC	B ON B.CD_COMPANY = A.CD_COMPANY AND B.CD_PLANT = A.CD_PLANT AND B.CD_WC = A.CD_WC
		LEFT JOIN DZSN_MA_PITEM	C ON C.CD_COMPANY = A.CD_COMPANY AND C.CD_PLANT = A.CD_PLANT AND C.CD_ITEM = A.CD_ITEM
		LEFT JOIN DZSN_MA_EMP	D ON D.CD_COMPANY = A.CD_COMPANY AND D.CD_PLANT = A.CD_PLANT AND D.NO_EMP = A.NO_EMP
		LEFT JOIN DZSN_PR_WCOP	E ON E.CD_COMPANY = A.CD_COMPANY AND E.CD_PLANT = A.CD_PLANT AND E.CD_WC = A.CD_WC AND E.CD_WCOP = A.CD_WCOP
		LEFT JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING('202304', 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT JOIN (SELECT CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
				   FROM MM_AMINVL A
				   WHERE YM_STANDARD = (SELECT MAX(YM_STANDARD) 
										FROM MM_AMINVL
										WHERE	CD_COMPANY = A.CD_COMPANY
										AND		CD_PLANT = A.CD_PLANT
										AND		CD_ITEM = A.CD_ITEM	)) L2
		ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY =@P_CD_COMPANY
		AND		A.CD_PLANT =@P_CD_PLANT
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		A.DT_WORK BETWEEN SUBSTRING(@P_DT_START2,1,6) +'01' AND SUBSTRING(@P_DT_END2,1,6) +'31'

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END

	ELSE IF(@P_STATE = 'S14')	/*작업일보 장비별*/
	BEGIN
		SELECT 
			'N' AS CHK
		,	A.CD_EQUIP
		,	D.NM_EQUIP
		,	A.DT_WORK
		,	C.CLS_L
		,	NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000030',C.CLS_L) AS NM_CLS_L
		,	C.CLS_M
		,	NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000031',C.CLS_M) AS NM_CLS_M
		,	C.CLS_S
		,	NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000032',C.CLS_S) AS NM_CLS_S
		,	A.CD_ITEM
		,	C.NM_ITEM
		,	A.CD_WC
		,	B.NM_WC
		,	A.CD_OP
		,	E.NM_OP
		,	C.STND_ITEM
		,	C.NO_DESIGN
		,	C.UNIT_MO
		,	SUM(A.QT_WORK) AS QT_WORK
		,	SUM(A.QT_MOVE) AS QT_MOVE
		,	SUM(A.QT_REJECT) AS QT_REJECT
		,	SUM(A.QT_REWORK) AS QT_REWORK
		,	SUM(A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE) QT_INV
		,	CASE WHEN SUM(ISNULL(C.WEIGHT, 0)) = 0 THEN SUM(A.QT_WORK) ELSE SUM(C.WEIGHT * A.QT_WORK) END AS WEIGHT_WORK
		,	(SUM(A.QT_WORK) * CASE WHEN ROUND(SUM(ISNULL(L.UM_INV, 0)), 0) = 0 THEN ROUND(SUM(ISNULL(L2.UM_INV, 0)), 0) ELSE ROUND(SUM(ISNULL(L.UM_INV, 0)), 0) END) AS AM_WORK
		,	0.0 AS RT_SCRAP
		FROM PR_WORK A
		LEFT JOIN DZSN_MA_WC	B ON B.CD_COMPANY = A.CD_COMPANY AND B.CD_PLANT = A.CD_PLANT AND B.CD_WC = A.CD_WC
		LEFT JOIN DZSN_MA_PITEM	C ON C.CD_COMPANY = A.CD_COMPANY AND C.CD_PLANT = A.CD_PLANT AND C.CD_ITEM = A.CD_ITEM
		LEFT JOIN PR_EQUIP		D ON D.CD_COMPANY = A.CD_COMPANY AND D.CD_PLANT = A.CD_PLANT AND D.CD_EQUIP = A.CD_EQUIP
		LEFT JOIN DZSN_PR_WCOP	E ON E.CD_COMPANY = A.CD_COMPANY AND E.CD_PLANT = A.CD_PLANT AND E.CD_WC = A.CD_WC AND E.CD_WCOP = A.CD_WCOP
		LEFT JOIN MM_AMINVL		L ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING('20230428', 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT JOIN (SELECT	CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
				   FROM	MM_AMINVL A
				   WHERE YM_STANDARD = (SELECT	MAX( YM_STANDARD) FROM MM_AMINVL
										WHERE	CD_COMPANY = A.CD_COMPANY
										AND		CD_PLANT = A.CD_PLANT
										AND		CD_ITEM = A.CD_ITEM	)) L2
		ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY = @P_CD_COMPANY
		AND		A.CD_PLANT =@P_CD_PLANT
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		A.DT_WORK BETWEEN @P_DT_START1 AND @P_DT_END1
		GROUP BY A.CD_EQUIP, D.NM_EQUIP, A.CD_WC, B.NM_WC, A.CD_OP, E.NM_OP, A.CD_ITEM, C.NM_ITEM, C.STND_ITEM, C.NO_DESIGN, C.UNIT_MO, A.DT_WORK
			   , C.CLS_L, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000030',C.CLS_L)
			   , C.CLS_M, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000031',C.CLS_M)
			   , C.CLS_S, NEOE.FN_MA_GET_CODEDTL_NM_SYSDEF('W100','MA_B000032',C.CLS_S)
		HAVING	(SUM(A.QT_WORK) <> 0) OR (SUM(A.QT_REJECT) <> 0) OR (SUM(A.QT_MOVE) <> 0)
		ORDER BY A.CD_WC, A.CD_EQUIP, A.DT_WORK, A.CD_ITEM

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END

	ELSE IF(@P_STATE = 'S15')	/*작업일보 장비별월계*/
	BEGIN
		SELECT	
			'월계' DT_WORK
		,	SUM(A.QT_WORK) QT_WORK
		,	SUM(A.QT_REJECT) QT_REJECT, SUM(A.QT_MOVE) QT_MOVE
		,	SUM((A.QT_WORK + A.QT_REWORK - A.QT_REJECT - A.QT_MOVE)) QT_INV
		,	SUM(A.QT_WORK * CASE WHEN ROUND(ISNULL(L.UM_INV, 0), 0) = 0 THEN ROUND(ISNULL(L2.UM_INV, 0), 0) ELSE ROUND(ISNULL(L.UM_INV, 0), 0) END) AS AM_WORK
		,	CASE WHEN ISNULL(SUM(A.QT_WORK), 0) = 0 THEN 0 ELSE ROUND((SUM(A.QT_REJECT) / SUM(A.QT_WORK)) * 100, 2) END AS RT_SCRAP
		,	SUM(CASE WHEN ISNULL(C.WEIGHT, 0) = 0 THEN A.QT_WORK ELSE (C.WEIGHT * A.QT_WORK) END) AS WEIGHT_WORK
		FROM PR_WORK A
		LEFT JOIN DZSN_MA_WC	B ON B.CD_COMPANY = A.CD_COMPANY AND B.CD_PLANT = A.CD_PLANT AND B.CD_WC = A.CD_WC
		LEFT JOIN DZSN_MA_PITEM	C ON C.CD_COMPANY = A.CD_COMPANY AND C.CD_PLANT = A.CD_PLANT AND C.CD_ITEM = A.CD_ITEM
		LEFT JOIN DZSN_MA_EMP	D ON D.CD_COMPANY = A.CD_COMPANY AND D.CD_PLANT = A.CD_PLANT AND D.NO_EMP = A.NO_EMP
		LEFT JOIN DZSN_PR_WCOP	E ON E.CD_COMPANY = A.CD_COMPANY AND E.CD_PLANT = A.CD_PLANT AND E.CD_WC = A.CD_WC AND E.CD_WCOP = A.CD_WCOP
		LEFT JOIN MM_AMINVL   L	ON L.CD_COMPANY = A.CD_COMPANY AND L.CD_PLANT = A.CD_PLANT AND L.YM_STANDARD = SUBSTRING('202304', 1, 6) AND L.CD_ITEM = A.CD_ITEM
		LEFT JOIN (SELECT CD_COMPANY, CD_PLANT, YM_STANDARD, CD_ITEM, UM_INV
				   FROM MM_AMINVL A
				   WHERE YM_STANDARD = (SELECT MAX(YM_STANDARD) 
										FROM MM_AMINVL
										WHERE	CD_COMPANY = A.CD_COMPANY
										AND		CD_PLANT = A.CD_PLANT
										AND		CD_ITEM = A.CD_ITEM	)) L2
		ON A.CD_COMPANY = L2.CD_COMPANY AND A.CD_PLANT = L2.CD_PLANT AND A.CD_ITEM = L2.CD_ITEM
		WHERE	A.CD_COMPANY =@P_CD_COMPANY
		AND		A.CD_PLANT =@P_CD_PLANT
		AND		(@P_MULTI_WC IS NULL OR @P_MULTI_WC = '' OR A.CD_WC IN (SELECT CD_STR FROM GETTABLEFROMSPLIT(@P_MULTI_WC)))
		AND		A.DT_WORK BETWEEN SUBSTRING(@P_DT_START2,1,6) +'01' AND SUBSTRING(@P_DT_END2,1,6) +'31'

		SET @OUTPUT = (SELECT @@ROWCOUNT)
	END
END